/* Start Landing */
.landing {
  height: 800px;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.landing .text h1 {
  font-family: var(--heading-font);
  font-size: 72px;
}
.landing .text p {
  font-family: var(--heading-font);
  font-size: 32px;
  width: 592px;
}
.landing .text h1 span, .landing .text p span {
  color: var(--secondary-color);
}
/* End Landing */

/* Start Swiper & Heading Style */
.games .head h1,
.last-orders .head h1 {
  font-family: var(--heading-font);
  font-size: 64px;
}
.games .head .navigation-buttons,
.last-orders .head .navigation-buttons {
  width: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.games .head .navigation-buttons .games-swiper-button-prev,
.games .head .navigation-buttons .games-swiper-button-next,
.last-orders .head .navigation-buttons .last-orders-swiper-button-prev,
.last-orders .head .navigation-buttons .last-orders-swiper-button-next {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #ffffff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Swiper & Heading Style */

/* Start Games */
.games .game .game-logo {
  width: 200px;
  height: 180px;
  border-radius: 24px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.games .game .game-logo img {
  width: 127px;
  height: 127px;
}
.games .game p {
  width: 200px;
  font-size: 20px;
}
/* Start Games */

/* Start Last Orders */
.order {
  background-color: var(--main-color);
  height: 550px;
  border-radius: 1.5rem;
  padding: 1.5rem;
}
.order .banner {
  width: 100%;
  height: 360px;
}
.order .banner img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
}

.order .title h1 {
  font-family: var(--sharp-font);
  font-size: 1.3rem;
}
.order .title p.solo-or-duo {
  padding: 8px 10px;
  background-color: var(--secondary-color);
  border-radius: calc(var(--main-radius) * 2);
  color: white;
}

.order .information .booster .image {
  width: 75px;
  height: 75px;
}
.order .information .booster .image img {
  border-radius: calc(var(--main-radius) * 2);
}
.order .information .booster .name p:first-child,
.order .information .rank p:first-child {
  color: #FFFFFF80;
  font-family: var(--sharp-font);
}
.order .information .booster .name p:last-child,
.order .information .rank p:last-child{
  color: #ffffff;
  font-family: var(--sharp-font);
}
/* End Last Orders */