/* Start Landing */
.landing {
  height: 800px;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.landing .text h1 {
  font-family: var(--heading-font);
  font-size: 72px;
}
.landing .text p {
  font-family: var(--heading-font);
  font-size: 32px;
  width: 592px;
}
.landing .text h1 span, .landing .text p span {
  color: var(--secondary-color);
}
/* End Landing */

/* Start Games */
.games .head h1 {
  font-family: var(--heading-font);
  font-size: 64px;
}
.games .head .navigation-buttons {
  width: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.games .head .navigation-buttons .games-swiper-button-prev,
.games .head .navigation-buttons .games-swiper-button-next {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #ffffff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.games .head .navigation-buttons .games-swiper-button-prev i,
.games .head .navigation-buttons .games-swiper-button-next i {

}
.games .game .game-logo {
  width: 200px;
  height: 180px;
  border-radius: 24px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.games .game .game-logo img {
  width: 127px;
  height: 127px;
}
.games .game p {
  width: 200px;
  font-size: 20px;
}

/* Start Games */