input[type="radio"] {
  display: none;
}
label {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="radio"]:checked+label {
  background-color: var(--main-color);
  color: white;
}
.orders-container {
  /* background-image: linear-gradient(to top, #37175E 0%, #582984 50%, #4A0774) !important; */
  background-image: url('./../images/wild_rift.webp');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.orders-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 40%);
}
.orders-container .container {
  position: relative;
  z-index: 100;
}
.orders-container .container .division-boost-order,
.orders-container .container .placements-boost-order {
  position: relative;
  z-index: 101;
}

.orders:nth-child(odd) {
  border-left: 0.26rem solid var(--main-color)!important;
}
.wild-rift-image {
  position: fixed;
  top: 20%;
  right: 0;
  height: 35rem;
  z-index: 99;
}
.navbar.bg-transparent.scrolled {
  background: linear-gradient(to right, #202731 0%, #283347 50%, #1e252d 100%)!important;
}