.current, .desired {
  cursor: pointer;
}
.clicked {
  background-color: var(--alternative-color) !important;
  color: white !important;
}
/* Hide the radio button */
input[type="radio"] {
  display: none;
}
/* Style the label to look like the radio button text */
label {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #ccc; /* Optional border for styling */
  border-radius: 4px;
}
/* Change label style when radio button is checked */
input[type="radio"]:checked + label {
  background-color: var(--secondary-color); /* Change the background color when checked */
  color: white; /* Change the text color when checked */
}
.wild-rift {
  background-color: var(--main-color);
  color: white !important;
  position: relative;
}
.choices {
  background-color: var(--alternative-color);
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, var(--main-color) 25%, transparent 25%),
    linear-gradient(225deg, var(--main-color) 25%, transparent 25%);
  background-size: 30px 30px;
}
.price {
  color: white !important;
  position: relative;
  background-color: var(--alternative-color);
}
.price-container {
  background-color: var(--main-color);
}
.purchase-btn {
  background-color: var(--secondary-color);
  color: white;
  font-size: 2rem;
  padding: 0.5rem 3rem;
  transition: var(--main-transition);
}
.purchase-btn:hover {
  border: 1px solid var(--secondary-color);
  transform: scale(0.9);
}