{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.css'%}" rel="stylesheet" />
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'base/css/master.css'%}" />
    <link rel="stylesheet" href="{% static 'base/css/fields.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/framework.css' %}">
    <link id="favicon" rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <!-- Our Style -->
    <link rel="stylesheet" href="{% static 'accounts/css/account-actions.css' %}">
    <title>fill-data</title>

    </head>

    <body>
        <!-- Start Header -->
    <div class="nav" id="nav">
        <div class="container">
          <div class="nav-row d-flex justify-content-md-start justify-content-between align-items-center">
  
            <div class="p-0">
              <a href="{% url 'homepage.index' %}" class="logo">
                <img src="{% static 'base/images/logo.png' %}" class="img-fluid" alt="Logo">
              </a>
            </div>
  
            <div class="main-nav p-0 text-md-center text-end">
              <i class="fa-solid fa-bars toggle-menu"></i>
              <ul class="links">
                
                {% if not request.user.id %}
                  <li class="mx-auto">
                    <ul class="main-links">
                      <li>
                        <a href="{% url 'games.games' %}" {% if request.path == '/games/' %}class="active"{% endif %}>Games</a>
                      </li>
        
                      <li>
                        <a href="" {% if request.path == '/store/' %}class="active"{% endif %}>Store</a>
                      </li>
  
                      <li>
                        <a href="{% url 'last.orders' %}" {% if request.path == '/last_orders/' %}class="active"{% endif %}>Last orders</a>
                      </li>
        
                      <li>
                        <a href="{% url 'booster.boosters' %}" {% if request.path == '/booster/boosters/' %}class="active"{% endif %}>Boosters</a>
                      </li>
  
                      <li>
                        <a href="{% url 'workwithus' %}" {% if request.path == '/work-with-us/' %}class="active"{% endif %}>Work With Us</a>
                      </li>
                    </ul>
                  </li>
  
                  <li>
                    <ul class="user-links">
                      <li>
                        <a href="{% url 'accounts.signup' %}" class="custom-btn header-btn outline me-3" {% if request.path == '/accounts/signup/' %}class="active"{% endif %}>Sign Up</a>
                      </li>
                      
                      <li>
                        <a href="{% url 'account.login' %}" class="custom-btn header-btn filled" {% if request.path == '/accounts/login/' %}class="active"{% endif %}>Log In</a>
                      </li>
                    </ul>
                  </li>
  
                {% else %}
                  {% if request.user.is_booster %}
                    <li class="mx-auto">
                      <ul class="main-links">
                        <li class="links-hidden">
                          <a href="{% url 'booster.setting' %}" >Profile</a>
                        </li>
  
                        <li class="links-hidden">
                          <a href="{% url 'booster.orders' %}">Orders</a>
                        </li>
  
                        <li class="links-hidden">
                          <a href="{% url 'orders.jobs' %}">Jobs</a>
                        </li>
  
                        <li class="links-hidden">
                          <a href="{% url 'account.logout' %}">Logout</a>
                        </li>
  
                        <li>
                          <a href="{% url 'booster.history' %}" {% if request.path == '/booster/history/' %}class="active"{% endif %}>
                            <img src="{% static 'base/images/wallet.png' %}" alt="" width="19" height="19" class="me-2"> <span class="me-2 fw-bold"> wallet </span><span style="color: #FFFFFF80" class="fw-bold">{{request.user.wallet.money|floatformat:2}}$</span>
                          </a>
                        </li>
  
                      </ul>
                    </li>
  
                    <div class="dropdown custom-dropdown">
                      <button class="btn custom-btn filled dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{request.user.first_name}} {{request.user.last_name}}
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'booster.setting' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'booster.orders' %}">Orders</a></li>
                        <li><a class="dropdown-item" href="{% url 'orders.jobs' %}">Jobs</a></li>
                        <li><a class="dropdown-item" href="{% url 'account.logout' %}">Logout</a></li>
                      </ul>
                    </div>
                  {% else %}
                    <li class="mx-auto">
                      <ul class="main-links">
                        <li class="links-hidden">
                          <a href="{% url 'customer.setting' %}" >Profile</a>
                        </li>
                        
                        <li class="links-hidden">
                          <a href="{% url 'account.logout' %}">Logout</a>
                        </li>
  
                        <li>
                          <a href="{% url 'games.games' %}" {% if request.path == '/games/' %}class="active"{% endif %}>Games</a>
                        </li>
          
                        <li>
                          <a href="" {% if request.path == '/store/' %}class="active"{% endif %}>Store</a>
                        </li>
          
                        <li>
                          <a href="{% url 'booster.boosters' %}" {% if request.path == '/booster/boosters/' %}class="active"{% endif %}>Boosters</a>
                        </li>
  
                        <li class="links-hidden">
                          <a href="{% url 'customer.orders' %}" {% if request.path == '/customer/customer_orders/' %}class="active"{% endif %}>Orders</a>
                        </li>
  
                        <li>
                          <a href="{% url 'workwithus' %}" {% if request.path == '/work-with-us/' %}class="active"{% endif %}>Work With Us</a>
                        </li>
                      </ul>
                    </li>
  
                    <div class="order-link me-3">
                      <a href="{% url 'customer.orders' %}" {% if request.path == '/customer/customer_orders/' %}class="active"{% endif %}>
                        <img src="{% static 'base/images/orders.png' %}" class="me-2" width="16" height="16">
                        Orders
                      </a>
                    </div>
  
                    <div class="dropdown custom-dropdown">
                      <button class="btn custom-btn filled dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{request.user.first_name}} {{request.user.last_name}}
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'customer.setting' %}" >Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'account.logout' %}">Logout</a></li>
                      </ul>
                    </div>
                  {% endif %}
                {% endif %}
              </ul>
            </div>
  
          </div>
        </div>
    </div>
    <!-- End Header -->

        <div class="signup-content content">
            <div class="overlay">
                <div class="container py-xl-5 py-0">
                    <div class="row row-cols-xl-2 row-cols-1 py-xl-5 py-0 mt-5">
        
                        <div class="col left-side d-xl-block d-none">
                            <div class="image">
                                <img src="{% static 'accounts/images/filldata.png' %}" class="img-fluid" alt="Landing">
                            </div>
                            <div class="text mt-5">
                                <h1>REACH YOUR RANK <span>GOALS</span></h1>
                                <p>with <span>MadBoost.gg</span> your ally in the eSports arena.</p>
                            </div>
                        </div>
                        <div class="col right-side">
                            <div class="ps-xl-5 ps-0 mx-xl-4 mx-0">
                                <div class="head">
                                    <h1>Account details</h1>
                                    <p class="mb-4 text-center">Fill in your data & information</p>
        
                                    <div class="progress mb-5">
                                        <div class="progress-bar" style="width: 100%;"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>

                                <form method="POST"  enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group mb-4">
                                        {{ form.customer_gamename }}
                                        {% if form.customer_gamename.errors %}
                                            <div class="message error-message mt-2 w-100">
                                                {% for error in form.customer_gamename.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group mb-4">
                                        {{ form.customer_username }}
                                        {% if form.customer_username.errors %}
                                            <div class="message error-message mt-2 w-100">
                                                {% for error in form.customer_username.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% if not order.duo_boosting %}
                                    <div id="pass" class="form-group mb-4">
                                        {{ form.customer_password }}
                                        {% if form.customer_password.errors %}
                                            <div class="message error-message mt-2 w-100">
                                                {% for error in form.customer_password.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    <button type="submit" class="btn update-btn">Save</button>
                                </form>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static  'jQuery/jquery-3.7.0.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.js'%}"></script>
        <script src="{% static  'base/js/base.js' %}"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();

            function addEmptyOptionToCountryField() {
                const countrySelect = document.getElementById('id_country');
                const emptyOption = document.createElement('option');
                emptyOption.value = '';
                emptyOption.text = 'Choose your country(Optional)';
                
                // Insert the empty option at the beginning of the dropdown list
                countrySelect.insertBefore(emptyOption, countrySelect.firstChild);
                
                // Set the empty option as selected by default
                countrySelect.value = '';
            }

            // Call the function on page load
            document.addEventListener('DOMContentLoaded', function() {
                addEmptyOptionToCountryField();
            });
        </script>
    </body>

</html>