{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
          <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5ZW3J6P3');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.css'%}" rel="stylesheet" />
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'base/css/master.css'%}" />
    <link rel="stylesheet" href="{% static 'base/css/fields.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/framework.css' %}">
    <link id="favicon" rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <!-- Our Style -->
    <link rel="stylesheet" href="{% static 'accounts/css/account-actions.css' %}">
    <title>fill-data</title>

    </head>

    <body>
        <!-- facebook -->
        <script>
            window.fbAsyncInit = function() {
            FB.init({
                appId      : '1103754014333574',
                xfbml      : true,
                version    : 'v20.0'
            });
            FB.AppEvents.logPageView();
            };
        
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
           <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZW3J6P3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
      <!-- Start Header -->
      {% include 'widgets/header.html' %}
      <!-- End Header -->

        <div class="signup-content content">
            <div class="overlay">
                <div class="container py-xl-5 py-0">
                    <div class="row row-cols-xl-2 row-cols-1 py-xl-5 py-0 mt-5">
        
                        <div class="col left-side d-xl-block d-none">
                            <div class="image">
                                <img src="{% static 'accounts/images/filldata.png' %}" class="img-fluid" alt="Landing">
                            </div>
                            <div class="text mt-5">
                                <h1>REACH YOUR RANK <span>GOALS</span></h1>
                                <p>with <span>MadBoost.gg</span> your ally in the eSports arena.</p>
                            </div>
                        </div>
                        <div class="col right-side">
                            <div class="ps-xl-5 ps-0 mx-xl-4 mx-0">
                                <div class="head">
                                    <h1>Account details</h1>
                                    <p class="mb-4 text-center">Fill in your data & information</p>
        
                                    <div class="progress mb-5">
                                        <div class="progress-bar" style="width: 100%;"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>

                                <form method="POST"  enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group mb-4">
                                        {{ form.customer_gamename }}
                                        {% if form.customer_gamename.errors %}
                                            <div class="message error-message mt-2 w-100">
                                                {% for error in form.customer_gamename.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group mb-4">
                                        {{ form.customer_username }}
                                        {% if form.customer_username.errors %}
                                            <div class="message error-message mt-2 w-100">
                                                {% for error in form.customer_username.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% if not order.duo_boosting %}
                                    <div id="pass" class="form-group mb-4">
                                        {{ form.customer_password }}
                                        {% if form.customer_password.errors %}
                                            <div class="message error-message mt-2 w-100">
                                                {% for error in form.customer_password.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    <button type="submit" class="btn update-btn">Save</button>
                                </form>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static  'jQuery/jquery-3.7.0.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.js'%}"></script>
        <script src="{% static  'base/js/base.js' %}"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();

            function addEmptyOptionToCountryField() {
                const countrySelect = document.getElementById('id_country');
                const emptyOption = document.createElement('option');
                emptyOption.value = '';
                emptyOption.text = 'Choose your country(Optional)';
                
                // Insert the empty option at the beginning of the dropdown list
                countrySelect.insertBefore(emptyOption, countrySelect.firstChild);
                
                // Set the empty option as selected by default
                countrySelect.value = '';
            }

            // Call the function on page load
            document.addEventListener('DOMContentLoaded', function() {
                addEmptyOptionToCountryField();
            });
        </script>
    </body>

</html>