.warrior {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #5E3F2B 0%, #43373300 100%);
}
.elite {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #456587 0%, #43373300 100%);
}
.master {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #E0D57F 0%, #43373300 100%);
}
.grandmaster {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #636D79 0%, #43373300 100%);
}
.epic {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #31927E 0%, #43373300 100%);
}
.legend {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #724823 0%, #43373300 100%);
}
.mythic {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #904988 0%, #43373300 100%);
}
.honor {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #576492 0%, #43373300 100%);
}
.glory {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #A869CD 0%, #43373300 100%);
}

.immortal {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #46180E 0%, #43373300 100%);
}
