*.pyc
/.env

/gameBoosterss/migrations/
/gameBoosterss/__pycache__/

/booster/migrations/
/booster/__pycache__/

/customer/migrations/
/customer/__pycache__/

/dashboard/migrations/
/dashboard/__pycache__/

/wildRift/migrations/
/wildRift/__pycache__/

/accounts/migrations/
/accounts/__pycache__/

/chat/migrations/
/chat/__pycache__/

/static/wildRift/data/

/valorant/migrations/
/valorant/__pycache__/

/pubg/migrations/
/pubg/__pycache__/

/leagueOfLegends/migrations/
/leagueOfLegends/__pycache__/

/tft/migrations/
/tft/__pycache__/

/hearthstone/migrations/
/hearthstone/__pycache__/

/rocketLeague/migrations/
/rocketLeague/__pycache__/

/mobileLegends/migrations/
/mobileLegends/__pycache__/