*.pyc
/.env

/gameBoosterss/migrations/
/gameBoosterss/__pycache__/

/booster/migrations/
/booster/__pycache__/

/customer/migrations/
/customer/__pycache__/

/dashboard/migrations/
/dashboard/__pycache__/

/wildRift/migrations/
/wildRift/__pycache__/


