{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5ZW3J6P3');</script>
    <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'bootstrap/css/bootstrap.css'%}" rel="stylesheet" />
  <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
  <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'base/css/master.css'%}" />
  <link rel="stylesheet" href="{% static 'base/css/fields.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/framework.css' %}">
  <link id="favicon" rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <!-- Our Style -->
  <link rel="stylesheet" href="{% static 'accounts/css/account-actions.css' %}">
  <title>Login</title>
  <style>
    .form-group {
        position: relative;
    }
    #id_password1, #id_password2 {
        padding-right: 30px;
    }
    .togglePassword {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
  </style>
  <meta name="cryptomus" content="ccb11a35" />

</head>

<body>
    <!-- facebook -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1103754014333574',
          xfbml      : true,
          version    : 'v20.0'
        });
        FB.AppEvents.logPageView();
      };
    
      (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5ZW3J6P3');</script>
  <!-- End Google Tag Manager -->
  <!-- Start Header -->
  {% include 'widgets/header.html' %}
  <!-- End Header -->

  <div class="login-content content">
    <div class="overlay">
      <div class="container py-xl-5 py-0">
        <div class="row row-cols-xl-2 row-cols-1 py-xl-5 py-0 mt-5">

          <div class="col left-side d-xl-block d-none">
            <div class="image">
              <img src="{% static 'accounts/images/login.png' %}" class="img-fluid" alt="Landing">
            </div>
            <div class="text mt-5">
              <h1>REACH YOUR RANK <span>GOALS</span></h1>
              <p>with <span>MadBoost.gg</span> your ally in the eSports arena.</p>
            </div>
          </div>
          <div class="col right-side">
            <div class="ps-xl-5 ps-0 mx-xl-4 mx-0">
              <div class="head">
                <h1>Welcome Back</h1>
                <p class="mb-4 text-center">Login into your account!</p>

                {% if form.non_field_errors %}
                <div class="mb-3" style="color: #F30D0D;">
                  The login credentials are wrong. Please double-check the email and password.
                </div>
                {% endif %}
              </div>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-4">
                  <!-- Render the full_name field with placeholder -->
                  {{ form.username }}
                  {% if form.full_name.errors %}
                  <div class="message error-message mt-2 w-100">
                    {% for error in form.full_name.errors %}
                    {{ error }}
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
                <div class="form-group mb-4">
                  <!-- Render the full_name field with placeholder -->
                  <input type="password" name="password" class="form-control custom-input" placeholder="Enter password" required="" id="id_password">
                  <i class="fa fa-eye" id="togglePassword" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
                  {% if form.password.errors %}
                  <div class="message error-message mt-2 w-100">
                    {% for error in form.password.errors %}
                    {{ error }}
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>

                <div class="form-group mb-4 text-end">
                  <a href="{% url 'password.reset' %}" style="color: var(--secondary-color);">Forgot Password?</a>
                </div>

                <div class="form-group mb-4">
                  <p class="continue-with">or continue with</p>
                  <div class="social text-center">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="me-md-4 me-2">
                      <img src="{% static 'accounts/images/google.png' %}" class="me-2" alt="Google" width="24"
                        height="24">
                      Google
                    </a>
                    <a href="{% url 'social:begin' 'facebook' %}">
                      <img src="{% static 'accounts/images/facebook.png' %}" class="me-2" alt="Facebook" width="24"
                        height="24">
                      Facebook
                    </a>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <p class="text-center footer-link">Do not have an account? <a href="{% url 'accounts.signup' %}"
                      style="color: var(--secondary-color);">Sign up!</a></p>
                </div>
                <button type="submit" class="btn update-btn">Log IN</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="{% static  'jQuery/jquery-3.7.0.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.js'%}"></script>
  <script src="{% static  'base/js/base.js' %}"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#id_password");

        togglePassword.addEventListener("click", function() {
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            this.classList.toggle("fa-eye");
            this.classList.toggle("fa-eye-slash");
        });
    });
  </script>
  <script>
    AOS.init();
  </script>
</body>

</html>