{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5ZW3J6P3');</script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'bootstrap/css/bootstrap.css'%}" rel="stylesheet" />
  <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
  <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'base/css/master.css'%}" />
  <link rel="stylesheet" href="{% static 'base/css/fields.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/framework.css' %}">
  <link id="favicon" rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <style>
  .banner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .bner-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  </style>

  <title>{% block title %}Mad Boost{% endblock %}</title>
  {% block style %}
  {% endblock %}
  <meta name="facebook-domain-verification" content="rmtp9o0h7ntmxakmat8fpe2zhuj9by" />
</head>

<body>
  
   <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZW3J6P3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div id="body-overlay">

    <audio id="notificationSound" src="{% static 'sounds/notify.wav' %}" preload="auto"></audio>

    {% include 'widgets/header.html' %}
    <!-- Start Container -->
    {% block container %}
    {% endblock %}
    <!-- End Container -->

    <!-- Start Footer -->
    <div class="footer">

      <div class="info py-4">
        <div class="container">
          <div class="row justify-content-between align-items-center ">
            <div class="col-lg-2 col-md-3 col-12">
              <img src="{% static 'base/images/logo.png' %}" class="img-fluid footer-logo" width="300" alt="Logo">
            </div>
            <div class="col-lg-10 col-md-9 col-12 text-white">
              <p class="mb-0 footer-text" style="font-size: 16px;">
                MadBoost is an independent entity and is not endorsed or affiliated with Activision Blizzard, Riot Games, Electronic Arts, Amazon Games, or
                Respawn Entertainment. The views and opinions expressed by Boosting Factory do not necessarily reflect those of the individuals officially involved
                in producing or managing Heroes of the Storm, Valorant, Overwatch, Call of Duty, New World, and League of Legends. All trademarks and logos are
                the property of their respective owners. All submitted art content remains the copyright of its original copyright holder.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="contact py-4">
        <div class="container">
          <div class="row justify-content-between align-items-center">

            <div class="col-md-9 col-12 p-0">
              <ul class="links">
                <li>
                  <a href="" >Contact us</a>
                </li>

                {% if not request.user.is_booster %}
                <li>
                  <a href="{% url 'workwithus' %}" >Work with us</a>
                </li>
                {% endif %}
    
                {% if not request.user.is_booster %}
                <li>
                  <a href="" >Report</a>
                </li>
                {% endif %}
    
                <li>
                  <a href="{% url 'privacy.policy' %}" >Terms of Service</a>
                </li>
    
                <li>
                  <a href="{% url 'privacy.policy' %}" >Privacy Policy</a>
                </li>
              </ul>
            </div>

            <div class="col-md-3 col-12 p-0">
              <ul class="social">
                <li>
                  <a href="" class="facebook me-2">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="instgram me-2">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="youtube me-2">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="x-twitter me-2">
                    <i class="fa-brands fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="" class="tiktok">
                    <i class="fa-brands fa-tiktok"></i>
                  </a>
                </li>
              </ul>
            </div>

          </div>

          <p class="mb-0 text-light text-start copyright">&copy; 2024 MadBoost - All Rights Reserved</p>
        </div>
      </div>
    </div>
    <!-- End Footer -->
  </div>
  <script src="{% static  'jQuery/jquery-3.7.0.js' %}"></script>
  <script src="{% static  'base/js/base.js' %}"></script>
  <!-- <script src="{% static  'base/js/script.js' %}"></script> -->
  <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.js'%}"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  {% block script %}
  {% endblock %}
</body>

</html>