{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'base/css/master.css'%}" rel="stylesheet" />
  <link href="{% static 'bootstrap/css/bootstrap.css'%}" rel="stylesheet" />
  <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
  <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet" />

  <title>{% block title %}{% endblock %}</title>
  {% block style %}
  {% endblock %}
</head>

<body>
  <!-- Header -->
  {% block nav %}
  {% endblock %}

  {% block container %}
  {% endblock %}

  {% block footer %}
  {% endblock %}
  <script src="{% static  'jQuery/jquery-3.7.0.js' %}"></script>
  <script src="{% static  'base/js/base.js' %}"></script>
  <script src="{% static  'base/js/script.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.js'%}"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  {% block script %}
  {% endblock %}
</body>

</html>