.booster-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.booster-container .booster-landing {
  width: 100%;
  height: 690px;
  background-image: url('./../../games/images/games_bg.jpg');
  background-size: cover;
  background-position-y: -700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.booster-container .booster-landing::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./../../games/images/bg_cover.png');
}
.booster-landing .heading {
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
}
.booster-landing .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
.booster-landing .heading p {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  .booster-landing .heading h1 {
    font-size: 50px;
  }
  .booster-landing .heading p {
    font-size: 1.2rem;
  }
}
/* Start Boosters */
.booster {
  position: relative;
  margin-top: -300px; /* Adjust this value as needed */
}
.booster-info {
  border-radius: 24px;
  background: linear-gradient(to bottom, #332a25 30%, var(--main-color));
}
.image .profile-image {
  width: 312px;
  height: 312px;
}
@media (max-width: 767px) {
  .profile-image {
    width: 200px;
    height: 200px;
  }
}
.banner-container {
  width: 450px;
  height: 110px;
  position: relative;
}
.game-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.game-link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./../../games/images/bg_cover.png');
  background-size: cover;
  object-fit: cover;
  border-radius: var(--main-radius);
}
.game-banner {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: 55% 20%;
  border: 1px solid #332A27;
  border-radius: var(--main-radius);
}
.game-name-img {
  width: 80%;
  height: 80%;
  position: relative;
  top: -87%;
  left: 50%;
  transform: translateX(-50%);
}
/* Start Special Data */
.special-data .icon-image {
  width: 79px;
  height: 75.41px;
  border-radius: calc(var(--main-radius) * 2);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.special-data p.head {
  font-family: var(--heading-font);
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .special-data p.head {
    font-size: 1rem;
  }
}
.special-data p:not(.head) {
  font-weight: lighter;
  font-size: 16px;
}
/* End Special Data */

/* Start Portfolio */
h1 {
  font-family: var(--heading-font);
  font-size: 4rem;
}
.portfolio .head p {
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  h1 {
    font-size: 2rem !important;
  }
  .portfolio .head p {
    font-size: 1rem;
  }
}
.portfolio-swiper {
  margin-inline: 4rem;
}
/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}
.swiper-button-prev,
.swiper-button-next {
  font-size: 3rem;
  display: none;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #ffffff;
  color: black;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
/* For medium devices */
@media screen and (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Start History */
.history-container {
  width: 100%;
  overflow-x: auto;
}
.history-table .table-row:not(:last-of-type) {
  min-height: 170px;
  border-bottom: 0.5px solid var(--main-color);
}
.table-row {
  width: 1384px;
}
.table-row .col {
  flex-basis: calc(100% / 4);
}
/* End History */