{% extends 'layouts/base_mail.html' %}

{% block subject %}
Are you available?
{% endblock %}

{% block container %}
    <div class="email-body">
        <p>Hello {{ madboost_user.username }},</p>
        <p>You have a new request to check if you are available to play.</p>
        <p><strong>Order Details:</strong></p>
        <ul>
            <li><strong>Order ID:</strong> WR411</li>
            <li><strong>Game:</strong> Wild Rift</li>
            <li><strong>Requested Time:</strong> {{ requested_time }}</li>
        </ul>
        <p>Please let us know if you are available by clicking the button below:</p>
        {% if madboost_user.is_booster %}
        <a href="" class="button">Confirm Availability</a>
        {% else %}
        <a href="" class="button">Confirm Availability</a>
        {% endif %}
        <p>Thank you!</p>
    </div>
{% endblock %}
