*{
    padding: 0;
    margin: 0;
}

#AdminsChatButton, #BoosterChatButton {
    color: white;
    background-color: transparent;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 5px;
}

.clicked_button  {
  background-color: var(--secondary-color) !important;
  color: white !important;
}

.AdminsChatContent{
    display: none;
}

.messages-section {
    /* margin: 4rem auto 0 auto;
    padding: 1rem ; */
    background-color: transparent;

    .chatbox, .admins_chatbox {
        font-size: larger;

        .tip-message {
            text-align: center !important;
            background-color: var(--main-color);
            border-radius: 0.5rem;
            padding: 0.4rem;
            margin-top: 1rem !important;
            margin-bottom: 1rem !important;
            font-weight: 500;
        }

        .userMessage, .otherMessage {
            display: flex;
            margin-top: 1rem !important;
            margin-bottom: 1rem !important;
        }
        .userMessage {
            direction: rtl;
        }
        .message {
            max-width: 500px;
            position: relative;
        }
        .message::before {
            content: "";
            position: absolute;
            top: 0px;
            border-width: 0px 17px 25px;
            border-style: solid; 
        }
        .userMessage .message {
            background-color: var(--secondary-color);
        }
        .userMessage .message::before {
            right: -26px;
            border-color: transparent transparent transparent var(--secondary-color);
        }
        .otherMessage {
            direction: ltr;
        }
        .otherMessage .message {
            background-color: #202c33;
            border-top-left-radius: 0 !important;
        }
        .otherMessage .message::before {
            left: -26px;
            border-color: transparent #202c33 transparent transparent;
        }
        .otherMessage .image {
            margin-right: 1rem;
        }
        .otherMessage .image img {
            border-radius: 50%;
        }
        .otherMessage .message .username {
            color: var(--secondary-color);
        }
    }

    .sendButton{
        background-color: var(--main-color);
        width: 10%;
        padding: 0.5rem 1rem;
        color: white;
        font-weight: 500;
    }
}
.chat-customer-container {
    height: 450px;
    overflow: auto;
}