*{
    color: white;
    padding: 0;
    margin: 0;
}
.body{
    background-image: url('../images/bg6.jpg') ;
    position: relative;
    z-index: -2;
    padding: 3rem 0;
}
.body::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
    z-index: -2;
}
.messages-section{
    margin: 4rem auto 0 auto;
    background-color: rgba(var(--alternative-color-rgba), 0.5); 
    padding: 1rem ;
    
    .messages-Header{
        background-color: var(--main-color);
        width: 100%;
        text-align: start !important;
        padding: 1rem 2rem;
    }

    .table{
        margin: 0 1.5rem;

        .room_name{
            font-size: 1.5rem;
            font-weight: 500;
            padding-bottom: 0.3rem;
        }
        .p{
            padding: 0;
            margin: 0;
        }
    }
}