*{
    padding: 0;
    margin: 0;
}

#AdminsChatButton, #BoosterChatButton{
    color: white;
    background-color: transparent;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 5px;
}

.clicked_button  {
  background-color: var(--secondary-color) !important;
  color: white !important;
}

.AdminsChatContent{
    display: none;
}

.messages-section{
    margin: 4rem auto 0 auto;
    padding: 1rem ;
    background-color: transparent;

    .chatbox, .admins_chatbox{
        font-size: larger;

        .userMessage{
            text-align: right;
        }
        .otherMessage{
            text-align: left;
        }
    }

    .sendButton{
        background-color: var(--main-color);
        width: 10%;
        padding: 0.5rem 1rem;
        color: white;
        font-weight: 500;
    }
}