.dungeon-selector {
    position: relative;
    border-radius: calc(var(--main-radius) * 1);
    padding: 10px;
}

.image-container {
    position: relative;
    border-radius: calc(var(--main-radius) * 1);
    overflow: hidden;
    width: 230px;
    height: 115px;
    margin: 8px;
}

.image-container img {
    border-radius: calc(var(--main-radius) * 1);
    width: 100%;
    height: 100%;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Black background with 50% opacity */
    z-index: 1; /* Make sure it's above the image but below the text and buttons */
    border-radius: calc(var(--main-radius) * 1); /* Match the border radius of the container */
}

.dungeons-maps-content .name{
    position: absolute;
    top: 30%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 2; 
    color: white; 
    text-align: right;
}
.dungeons-maps-content .counter{
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 2; 
    color: white; 
    text-align: right;
}

.dungeons-maps-content .name {
    margin-bottom: 12px;
}

.dungeons-maps-content .counter button {
    margin: 0 2px;
}

/* media query for tablet */
@media (max-width: 1200px) {
    .image-container {
        width: 180px;
        height: 96px;
    }
}
/* media query for tablet */
@media (max-width: 992px) {
    .image-container {
        width: 260px;
        height: 120px;
    }
}


.counter {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter button {
    border: none;
    cursor: pointer;
    background-color: #433733;
    border-radius: 50%;
    color: white;
    width: 30px;
    height: 30px;
}
.counter span{
    margin: 0 10px;
    font-size: 20px;
}

.name{
    font-size: 12px;
}

.counter button:active {
    animation: clickEffect 0.3s;
}

@keyframes clickEffect {
    0% {
        background-color: #F26E3E; /* Color when clicked */
    }
    100% {
        background-color: #433733; /* Default color */
    }
}

.loot-button label{
    min-width: 125px;
    margin: 0px;
    margin: 0px 12px 12px 0px;
}


/* #OrderNow{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start; 
}

.complate-order {
  position: sticky;
  top: 96px;
  height: 100vh; 
  z-index: 2; 
} */

#choise-div {
    display: flex;
    gap: 10px; /* Adjust gap between the elements */
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Ensure it doesn't go beyond the screen size */
    padding: 10px; /* Add some padding */
    scroll-behavior: smooth; /* Smooth scrolling effect */
  }
  
  #choise-div::-webkit-scrollbar {
    display: none; /* Hide scrollbar for better UI */
  }
  
  .radio-btn {
    white-space: nowrap; /* Prevent line breaks */
  }
  
  @media (max-width: 768px) {
    #choise-div {
      width: 150%; /* Set the width to be wider than the screen */
    }
  }