{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Terms of Service{% endblock %}
{% block style %}
<style>
  .privacy-container {
    background-color: var(--main-color);
    border-radius: calc(var(--main-radius) * 2);
    margin-top: 5rem;
    padding: 6rem 4.5rem;
  }
  h1 {
    font-family: var(--heading-font);
    font-size: 64px;
    margin-bottom: 2.5rem;
  }
  h2, h3 {
    font-family: var(--sharp-semibold-15);
    font-size: 32px;
    margin-bottom: 2.5rem;
  }
  p {
    font-family: var(--sharp-book-15);
    font-size: 32px;
  }
  p:not(:last-of-type) {
    margin-bottom: 2.5rem;
  }
  @media (max-width: 767px) {
    .privacy-container {
      padding: 26px 7px;
    }
    h1 {
      font-size: 20px;
    }
    h2, h3, p {
      font-size: 16px;
    }
  }
</style>
{% endblock %}

{% block container %}
<div class="container py-5">
  <div class="privacy-container">
      <h1>Terms of Service</h1>
    
      <h2>Introduction and accepting the terms</h2>
      <p>The General Terms and Conditions of the website, under the domain name game-boost.gg (hereinafter referred to “Madboost”), specify terms of use of the website and services provided by the administrator and by the Selling Users. General Terms and Conditions are in accordance with the laws of the Republic of Croatia and are in accordance with the laws of the European Union.</p>
    
      <h2>The administrator of the website (“The Service provider”) is:</h2>
      <p>Name: Global Gaming Services d.o.o<br>
         Office address: Sari ST, Jeddah, Saudi Arabia.<br>
         E-mail: customerservice@madboost.gg
      </p>
    
      <p>Any proclamations of intent between the Users, Selling Users, and the Service Provider will be announced in electronic form, which means sending and delivering an e-mail to the email address provided in the registration form.</p>
    
      <h2>II. Madboost services</h2>
      <p>Madboost administrates and operates on the website designed for buying digital services, such as Boosting & Selling virtual currency in various video games, such as League of Legends (hereinafter referred to “LOL”), Valorant, Overwatch, World of Warcraft (hereinafter referred to as “WoW”), Counter Strike 2 and others, and other digital goods within the games, offered by the Service Provider on this website or any sub-domains, directly, or on behalf of and for the account of the Selling Users.</p>
    
      <h2>III. Platform purpose</h2>
      <p>The website is an online platform, where Users are connected to our Selling Users (boosters). Website operates as a middleman, providing safety for both the User and the Selling User.</p>
    
      <h2>IV. No purchase or resale of digital content</h2>
      <p>Madboost does not purchase any digital content, nor accounts, from the Sellers or Selling Users and does not re-sell them to Users.</p>
    
      <h2>V. Service connection</h2>
      <p>Madboost does not provide Boosting services. The service enables the option to connect Selling Users (Boosters) and Users. The service is based on reaching the desired division/rank in LOL. Users are able to receive Boosting services from Selling Users on all servers, which are: North America, Europe West, Europe East & Nordic, Brazil, Latin America, Russia, Japan, Turkey, Oceania, and Southeast Asia.</p>
    
      <h2>VI. Virtual currency delivery</h2>
      <p>Your virtual currency will be sent to you, at most, 14 days after the purchase. (This could change based on the gifting system and game policy.)</p>
      <div>
        <h2>Definitions</h2>
      
        <p><strong>Account</strong> – an account for the User on the website, when activated the User has full capability and functionality of the service available through Selling Users on the website.</p>
      
        <p><strong>Digital services</strong> – non-physical services, created on the basis User individual choice or decision. Madboost.gg, through Selling Users, enables two different types of digital services: Boosting & Selling virtual currency.</p>
      
        <p><strong>Solo Boosting services</strong> – it is a type of digital services, where the booster (Selling User) will log into your account after you give us the login information, and will start performing an Elo boost to your desired division.</p>
      
        <p><strong>Duo Boosting services</strong> – it is a type of digital services, where the User will play on his/her/their own account and booster will play with him/her/them until they reach the desired division.</p>
      
        <p><strong>Digital goods</strong> – non-physical goods, created on the User individual choice or decision. Madboost enables the following types of digital products; Counter Strike 2 skins.</p>
      
        <p><strong>Users</strong> – any individual who is eligible to compromise the transactions on the website.</p>
      
        <p><strong>Seller</strong> – an entrepreneur or individual, who sells digital content, including the digital services and goods such as Boosting to Users via Madboost website system. The seller may also purchase products from other Selling Users via the website.</p>
      
        <p><strong>Selling Users</strong> – an entrepreneur or individual, who is not an entrepreneur, selling via the Madboost website system and being the owner of League of Legends accounts.</p>
      
        <p><strong>Website</strong> – site which is available under the link Madboost.gg. No other website has a direct connection with Madboost.</p>
      
        <p><strong>Elo Boosting / MMR Boosting</strong> – is a virtual service based on the subject of which is acquired to the User’s order virtual levels (ranks) in the online game League of Legends. The essential of the service is based on reaching the desired division/rank that the User paid for. The service is performed by people that have knowledge and experience in League of Legends. The term for people providing such services is “booster”.</p>
      
        <p><strong>Booster</strong> – a person (also referred to as Selling User) who delivers a virtual service based on the subject of which is acquired to the User’s order virtual levels (ranks) in the online game League of Legends.</p>
      </div>


      <div>
        <h2>1. Applicability and Acceptance of the General Terms and Conditions of the website</h2>
      
        <p><strong>1.1</strong> The User and the Seller hereby agree to and accept these General Terms and Conditions and the Privacy Policy.</p>
      
        <p><strong>1.2</strong> Users that are unable to express a legally binding agreement with Madboost and those which are prohibited from using Services, due to country regulations or regional regulations are asked to refrain from using the service. The User who purchases on the website confirms that he, she or they are at least eighteen (18) years old, or reached another age, which will allow them to express legally binding agreements. If the User acts for and on behalf of a third party person, each asserts that he’s authorized to conduct legally binding agreements for and on behalf of such person.</p>
      
        <p><strong>1.3</strong> Madboost reserves the right to make any changes and modifications to the General Terms and Conditions, including adding new regulations and deleting previous ones, which can be done through promulgation on the General Terms and Conditions on the website. New regulations and modifications to the General Terms and Conditions will come to effect automatically three days after their promulgation on the website. It is the sole responsibility of the aforementioned to pay close attention to any alterations, changes, removals or additions to the clauses and rules written in the General Terms and Conditions.</p>
      
        <p><strong>1.4</strong> Meanwhile, using any services or contacting Madboost, the User, the Seller, the Booster with Madboost electronically. Madboost communicates with the aforementioned parties by e-mail or by live chat on the website, as well as different distributors through their communication channels.</p>
      </div>
      
      
      <div>
        <h2>2. Intellectual property, Copyright to the Website</h2>
      
        <p><strong>2.1</strong> The content of this website, including everything you see and hear, is protected by copyright and belongs to The Business pillars gaming company.</p>
      
        <p><strong>2.2</strong> The contents included in the aforementioned website may not be reproduced in full or in part, nor transmitted or recorded by any information retrieval system, under any support or media unless the Entity has granted its prior authorization in writing.</p>
      
        <p><strong>2.3</strong> The User does not gain from the agreement between the Service Provider and User, nor User and Selling User, any rights to the website then guaranteed him in the General Terms and Conditions.</p>
      
        <p><strong>2.4</strong> The Website is provided to the User only through the availability of using it through the Website Madboost.gg.</p>
      
        <p><strong>2.5</strong> Madboost claims that it is in no way affiliated with, associated with or endorsed by any video game producer, publisher or distributor, including Riot Games, Inc., Activision Blizzard, Tencent Holdings Ltd., etc.</p>
      
        <p><strong>2.6</strong> Madboost claims no ownership of intellectual property regarding any video game listed on its Website, nor the intellectual property of any video game producer, publisher or distributor or any of their affiliates’. All copyrights and trademarks are the property of their respective owners.</p>
      
        <p><strong>2.7</strong> Madboost is not endorsed by any video game producer, publisher or distributor, including Riot Games, Inc., Activision Blizzard, Tencent Holdings Ltd., and does not reflect their views or opinions or anyone officially involved in producing or managing any of the video games listed on the Website.</p>
      
        <h2>3. Registration form, User account, Selling User account, Guest Account</h2>
      
        <p><strong>3.1</strong> To set up the account, the User is obligated to register by filling in the registration form available on the website. During that process, the User is obligated to provide the username, e-mail address and optional information. Before the registration, the User has an ability and availability to become familiar with service descriptions, the General Terms and Conditions and Privacy Policy.</p>
      
        <p><strong>3.2</strong> If the User wants to sell products and/or services through the website he, she or they will be obligated to fill additional information located on the profile. The User will be compelled to provide the following details in “Edit Profile”: his, her or their current name and surname, select his, her or their withdrawal method and provide correct withdrawal information. Madboost is not responsible for any damages or losses if the Selling User will provide false or incorrect information.</p>
      
        <p><strong>3.3</strong> Madboost reserves the right to terminate or suspend the User’s or Selling User’s account. If a User’s or Selling User’s account is suspended or removed, any balance that remains on the account, Madboost has the authority to freeze or remove this balance due to breaching General Terms and Conditions of the Service Provider. More information about breach of General Terms and Conditions might be found in the following regulations at section 16. Madboost reserves the right to terminate or suspend the User’s or the Selling User’s account if they create situations that might be reflected as a possible violation of the company interests or the safety of other Users.</p>
      </div>
      
      <div>
        <h2>4. Using the Website</h2>
      
        <p><strong>4.1</strong> You do not have to register to use the website. While using the website, you can reach out and check the following sections: Homepage, Boosting, Shop, Blog, Apply for a Job, Gallery, Terms of Use, Privacy Policy, Frequently Asked Questions, and Contact.</p>
      
        <p>Before registration, you have the ability to become familiar with the content of the website, such as a description of the digital services and digital goods provided by the Selling Users, and information about the Service and Service Provider. The Service Provider reserves the right to make changes and modifications to the Conditions of Sale, including adding new descriptions, changing existing ones, and deleting previous ones, which can be done by updating the relevant sections of the website.</p>
      
        <p><strong>4.2</strong> New descriptions and information will take effect automatically after being posted on the website.</p>
      
        <p><strong>4.3</strong> The Service Provider reserves the right to conduct promotions and discounts. The rules of such actions will be available on the website at <a href="https://madboost.gg">Madboost.gg</a>. Such rules may change at any time, and such amendments will not be considered changes to the General Terms and Conditions.</p>
      
        <p><strong>4.4</strong> The Service Provider may send registered Users, regardless of their consent, non-commercial or necessary information required for using the website, in accordance with applicable laws or the General Terms and Conditions. These messages may also include information about new features of the website.</p>
      
        <p><strong>4.5</strong> The Service Provider reserves the right to offer special pricing discounts to specific Users. These discounts will be provided by management and may not be listed on the website, with special service links being delivered directly to the User. These services will be categorized as a “Sub-charge.”</p>
      
        <p><strong>4.6</strong> Users may opt to receive commercial messages (“newsletter messages”) from the Service Provider. Consent can be provided before or after registration and can be revoked at any time by email or by clicking the “Unsubscribe” link at the end of any newsletter.</p>
      
        <p><strong>4.7</strong> Users are obligated to use the website for themselves and must not allow others, including Selling Users or other individuals, to access their accounts. The User’s login and password must be protected, and accounts are non-transferable. Users may not have more than one account.</p>
      
        <p><strong>4.8</strong> Users can log in using their account credentials (username and password).</p>
      
        <p><strong>4.9</strong> Users may retrieve their account credentials after successful system verification on the website or through their email address.</p>
      
        <h2>5. Compliance with the Game Rules</h2>
      
        <p><strong>5.1</strong> By registering, the User confirms that they are entitled to conclude, execute, and settle the Agreement, which means their actions comply with the Game Rules or that they have been granted permission by the game’s owner or other authorized entities. If this is not the case, the User must stop using the website immediately, and if they are in the registration process, they may not proceed with registration.</p>
      
        <p><strong>5.2</strong> The Service Provider declares that the website is not available to individuals who are not entitled to conclude or execute Agreements. The User is solely responsible for ensuring they meet the conditions set out in paragraph 5.1.</p>
      
        <p><strong>5.3</strong> The Service Provider does not verify whether the User is entitled to conclude, execute, or settle the Agreement.</p>
      
        <p><strong>5.4</strong> If the User fails to comply with the conditions in paragraph 5.1, the Service Provider may terminate the Agreement with immediate effect to prevent damage to digital goods. The Service Provider may declare all Agreements null and void, and any claims arising from such Agreements must be settled between the Users themselves. Fees from nullified Agreements will not be refunded.</p>
      </div>

      <div>
        <h2>6. Purchases on the Website</h2>
    
        <div>
            <p>6.1 The User can purchase Virtual Services (Boosting) and Virtual Goods (Skins) through the website. The User needs to accept the General Terms and Conditions of the Madboost.gg website before the purchase.</p>
        </div>
    
        <div>
            <p>6.2 The User can purchase products listed above as a “User” (a registered member of the website – before making a purchase).</p>
        </div>
    
        <div>
            <p>6.3 The Users are people who want to purchase the following services and goods: acquisitions of levels in a virtual game listed on the Website, coaching in a game listed on the Website, accounts in a game listed on the Website, or virtual assets (skins) in a game listed on the Website. The Selling User issues the product by uploading it on the website. The execution of the listed services and goods is made on the basis of an agreement between the User and the Service Provider.</p>
        </div>
    
        <div>
            <p>6.4 After the purchase of the Service, the User is obligated to provide a sufficient amount of information.</p>
    
            <div>
                <p>6.4.1 If the User purchases Solo Boosting Services, he/she/they needs to provide the following information: Login, Password, Server, In-game name.</p>
            </div>
    
            <div>
                <p>6.4.2 If the User purchases Duo Boosting Services, he/she/they needs to provide the following information: In-game name.</p>
            </div>
    
            <div>
                <p>6.4.3 After the purchase of a Service, the User can optimally select his specific Booster. If the Booster doesn’t accept or declines the offer within 3 hours, the Boost will go back to the dashboard.</p>
            </div>
        </div>
    
        <div>
            <p>6.5 After the purchase of a Virtual Good, the User is not obligated to provide any additional information. The User will gain access to the “Client Area” on his profile, where he will receive the account credentials of the purchased goods.</p>
        </div>
    </div>
    
    <div>
      <h2>7. Order Process, User, Service Provider and Selling User Obligations, Service Rights</h2>
  
      <div>
          <p>7.1 The agreement between the User and Service Provider is valid until the Virtual Service (Boosting) is delivered.</p>
  
          <div>
              <p>7.1.1 If the User purchased a Division Boosting, the agreement is valid until the desired division is delivered by the Selling User.</p>
          </div>
  
          <div>
              <p>7.1.2 If the User purchased a certain amount of wins (Win Boosting), the agreement is valid until the purchased amount of wins is provided by the Selling User. If the User’s Account during a Win Boosting service demotes to a lower division, the Selling User is not obligated to get the account back to the starting point before the demotion. The Selling User is only obligated to complete the amount of wins provided in the Win Boosting order.</p>
          </div>
  
          <div>
              <p>7.1.3 If the User purchased a Placement Matches Service, the agreement is valid until the purchased amount of games is provided by the Selling User.</p>
          </div>
  
          <div>
              <p>7.1.4 If the User purchased a Champion Mastery Boost, the agreement is valid until the purchased level of Champion Mastery is provided by the Selling User.</p>
          </div>
      </div>
  
      <div>
          <p>7.2 The agreement between the User and Service Provider may be terminated by the Service Provider if the User doesn’t provide any actions for 90 days, such as: not providing sufficient information mentioned in points 6.5, not contacting the Booster/Selling User for 90 days or more, pausing the Boost for 90 days or more, or not logging into their profile for 90 days or more.</p>
  
          <div>
              <p>7.2.1 The agreement between the User and the Service Provider may be terminated by the Service Provider if the User breached or is breaching the following General Terms and Conditions of the Madboost.gg website.</p>
          </div>
  
          <div>
              <p>7.2.2 If the Service Provider terminates the agreement, unused credit will be deducted as an administration fee.</p>
          </div>
      </div>
  
      <div>
          <p>7.3 You, the User, accept that if you buy Win Boosting Service, you agree that you purchase a certain amount of wins. If you buy “x” amount of wins, any lost game will count as +1 to this amount and any game won will count as –1 to this amount.</p>
  
          <div>
              <p>7.3.1 The rule does not apply if the Selling User (booster) loses a game in promotion matches; it doesn’t count as an extra game unless the booster loses the promotion matches in full.</p>
          </div>
  
          <div>
              <p>7.3.2 The rule does not apply if the Selling User (booster) loses a game on 0 league points.</p>
          </div>
  
          <div>
              <p>7.3.3 The price and the number of wins will vary if the User purchases an “x” amount of games and if during the service, they reach a higher division; we will have to adjust the pricing to that division.</p>
          </div>
      </div>
  
      <div>
          <p>7.4 You, the User, accept that in the case of your account having low League Point gain (LP), we have the right to request an extra deposit of money equal to 20% of your order, or we will convert your order into a Win Boosting service following the per win calculator on our website. Low League Point gain being lower than +14 per win in any division. In case of your account gaining only +10 LP per win, your boost will have to be paid double the price of your order or it will be converted into Win Boosting service following the per win calculator on our website.</p>
  
          <div>
              <p>The reason why we have to do this:</p>
              <p>14 LP per win x 5 games = 70 LP total</p>
              <p>20 LP per win x 5 games = 100 LP total</p>
              <p>In this scenario, the Selling User (booster) would have to win 3 more ranked matches in a row to get to the 100 LP mark. That is only in 1 division orders; if we are talking about multiple divisions, for example, 3 to 5, the extra wins in ranked matches needed to finish your order go well into 10 or more.</p>
              <p>We have to be fair towards Selling Users in such situations and make sure they are financially adequately compensated for their expertise and extra time spent on the service.</p>
          </div>
      </div>
  
      <div>
          <p>7.4.1 You, the User, accept that if your KDA is below 1.6 in any Duo Boosting Services, we reserve the right to convert your order into Solo Boosting Services matching the exact price of your Duo Boosting order. If you are showing any type of toxic behavior towards the Selling User (booster) or your League of Legends in-game teammates that could impact the game negatively and potentially bring it into a loss, negatively impacting the progress of the order. After warning you once and the same situation occurs again during the same order, we have the authority to convert your order into a Solo Boosting Service matching the price of your Duo Boosting Service (or the remaining balance left on your order).</p>
          
          <p>If you do not accept the change from Duo Boosting Services to Solo Boosting Services, you will have 48 hours to rethink your decision and we will not issue a refund during that time. During this period, your order will be placed on hold until your decision has been made.</p>
      </div>
  
      <div>
          <p>7.4.2 You, the User, accept that if your account is in smurf queue or high MMR (example: platinum IV rank, actual MMR diamond II), your order will be converted into a division boost for the amount you have paid + 1 extra net win.</p>
      </div>
  
      <div>
          <p>7.4.3 You, the User, accept that if your order has not been claimed by a booster within 48 hours of purchase, we have the right to edit your order's free extra options and assign the first available booster on your order.</p>
      </div>
  
      <div>
          <p>7.4.4 You, the User, accept that if you purchase a win boost service for master tier or higher ranked accounts, the win boost completion conditions will be different than the regular ones: the order will be completed once the account reaches an LP amount equal to the amount of wins purchased multiplied by the average LP gains in the selected tier.</p>
      </div>
  
      <div>
          <p>7.5 You, the User, accept that if you play any ranked games in the selected type of queue you bought during the service, you will be obligated to pay the difference if your LP is lower than the amount of LP left by the Selling User (Booster).</p>
  
          <div>
              <p>7.5.1 The Service Provider reserves the right to pause the service if the User decreases LP during the service or gains below 13 LP. The Service Provider will allow the service to continue once the difference in the value of the service was covered.</p>
          </div>
  
          <div>
              <p>7.5.2 If the User declines to cover the difference in money, the Service Provider reserves the right to convert the service by calculating the difference in money caused by the User's actions and the initial value of the service.</p>
          </div>
  
          <div>
              <p>7.5.3 During a win boosting service, the User is allowed to play any League of Legends game mode.</p>
          </div>
  
          <div>
              <p>7.5.4 During a division boosting service, the User is allowed to play different game modes, excluding the game mode chosen for the boosting service.</p>
          </div>
      </div>
  
      <div>
          <p>7.6 When the Virtual Service (Boosting) is completed, the Service Provider will inform the User by sending an electronic notification. The notification will include proof that the service was completed.</p>
  
          <div>
              <p>7.6.1 The proof that the service was completed will include an attached screenshot taken after completing the service on the User's account confirming that the Service was indeed completed.</p>
          </div>
  
          <div>
              <p>7.6.2 When the Virtual Service (Boosting) is completed, the User is obligated to change the password on their League of Legends account. In cases where the User does not change the password and a negative situation occurs (e.g., chat ban, account ban, using loot boxes) upon completion of the service, we do not take any responsibility for it.</p>
          </div>
      </div>
  </div>

  <div>
    <h2>8. Additional Terms and Conditions of the Sale of Virtual Goods Owned by Selling Users</h2>
    
    <p>8.1 The Service Provider reserves the right to facilitate the sale of Virtual Goods (skins).</p>
    
    <p>8.2 The Service Provider reserves the right to approve or disapprove sales requests from Selling Users after examining the Virtual Goods to maximize the safety of Users.</p>
    
    <p>8.2.1 The Service Provider will inform the Selling User about the approval or disapproval through the email connected to their Selling profile or through another form of direct contact.</p>
    
    <p>8.3 The Service Provider reserves the right to approve or disapprove requests for editing information regarding the Virtual Goods owned by Selling Users.</p>
    
    <p>8.3.1 The Service Provider will inform the Selling User about the approval or disapproval through the email connected to their Selling profile or through another form of direct contact.</p>
    
    <p>8.4 The Service Provider reserves the right to impose service fees on accounts offered by Selling Users on the website.</p>
</div>

    <div>
        <h2>9. Refund and Chargeback Policy in Boosting Services</h2>
        
        <p>9.1 You, the User, accept that if you open a claim after the order has been processed, or the service has started or been completed, you are in direct breach of Madboost.gg’s General Terms and Conditions. You are legally bound to either close the claim or pay back the same amount in addition to a fee determined by Madboost.gg, which shall be no less than 50 Euro and no more than three times the original amount if the order cost exceeds 50 Euro. Should you fail to abide by either option, you, the User, accept full liability in a court of law as determined by European Trade Laws.</p>
        
        <p>9.2 The User is eligible to request a refund for a Virtual Service (Boosting) within 48 hours after purchase, applicable only if the booster has not been assigned, or the service has not commenced. The User can request a refund by submitting an inquiry through the contact form or by contacting us via live chat. The Service Provider is not responsible for processing refunds if the User has not fulfilled the obligations outlined in point 6.5.</p>
        
        <p>9.2.1 You, the User, accept that if you request a refund, the Service Provider will transfer the payment provider fee to your responsibility.</p>
        
        <p>9.2.2 After the User requests a refund, the Service Provider will process the refund within 14 days after receiving the request.</p>
        
        <p>9.3 In specific cases not listed above, the Service Provider reserves the right to process a refund or partial refund at its exclusive discretion.</p>
        
        <p>9.4.1 You, the User, accept that in those specific cases, the Service Provider will transfer the payment provider fee to your responsibility.</p>
        
        <p>9.4.2 You, the User, accept that in those specific cases, the Service Provider will process the refund within 14 days after receiving the request.</p>
        
        <p>9.5 You, the User, accept that if you initiate a chargeback for a payment related to a service that has been completed, your bill will be sent to a debt collection agency. You also accept that you will be responsible for any extra fees incurred to cover the debt collection agency and any unforeseen costs resulting from your chargeback.</p>
    </div>

    <div>
      <h2>10. Refund and Chargeback Policy in Selling Virtual Goods</h2>
      
      <p>10.1 Virtual Goods (Skins) are qualified as digital content and are thus excluded from the general right of withdrawal due to their specification. All transactions involving Virtual Goods, including exchange, sale, or purchase, are final and cannot be revoked - they are non-refundable.</p>
      
      <p>10.2 You, the User, accept that if you request a refund, the Service Provider will transfer the payment provider fee to your responsibility.</p>
      
      <p>10.2.1 After the User requests a refund, the Service Provider will process the refund within 14 days after submitting the request.</p>
      
      <p>10.3 In specific cases not listed above, the Service Provider reserves the right to process a refund or a partial refund. All such refunds will be at the exclusive discretion of the site management.</p>
      
      <p>10.4 You, the User, accept that in those specific cases, the Service Provider will transfer the payment provider fee to your responsibility.</p>
      
      <p>10.4.1 You, the User, accept that in those specific cases, the Service Provider will process the refund within 14 days after submitting the request.</p>
      
      <p>10.5 You, the User, accept that if you claim a chargeback for a payment for a good that has been completed, your bill will be sent to a debt collection agency. You also accept that you will have to pay the extra fees to cover both the debt collection agency and any unforeseen costs incurred due to your chargeback.</p>
  </div>
  
  <div>
      <h2>11. Payments</h2>
      
      <p>11.1 You can pay for the services using the following methods: PayPal, Cryptomus.</p>
      
      <p>11.2 The Service Provider pays for the payment fees.</p>
      
      <p>11.3 The Service Provider is not responsible for failed or rejected payments from the Payment Provider.</p>
      
      <p>11.4 Upon payment, the User shall receive a confirmation of payment. The Service Provider does not issue invoices to Users for services performed by Selling Users. Such an obligation is strictly on the Selling Users in accordance with laws and regulations applicable to them. In the event that a User requires an invoice or other proof of transaction from Selling Users, the Service Provider may cooperate with the User to obtain such documents from the Selling User, but the Service Provider shall have no liability in this regard. The User waives any and all claims against the Service Provider for requests for such documentation or assistance in procuring it.</p>
  </div>
  
    <div>
        <h2>12. Complaints</h2>
        
        <p>12.1 The User has the right to complain about the service purchased.</p>
        
        <p>12.2 The User can file a complaint if the service is not provided or was not provided as described.</p>
        
        <p>12.3 If the User wants to file a complaint, they should follow these steps:</p>
        
        <p>12.3.1 Go to the website chat.</p>
        
        <p>12.3.2 Go to the “Contact Us” tab and message one of the staff members directly through live chat or email.</p>
        
        <p>12.4 All complaints will be answered within 48 hours.</p>
        
        <p>12.5 If we do not resolve the complaint, it does not mean that Madboost.gg agrees with the User’s complaint.</p>
    </div>
      
    <div>
      <h2>13. Role of the Website</h2>
      
      <p>13.1 The Service Provider does not take any part in the business conducted between the User and the Selling User. The Service Provider is in no way responsible for any factual or legal acts made between them directly.</p>
      
      <p>13.2 The Service Provider does not guarantee the truthfulness and reliability of any data uploaded or stored by Users on the Website.</p>
      
      <p>13.3 The Service Provider is particularly not liable towards the Users for:</p>
      <ul>
          <li>A situation when data is contrary to reality.</li>
          <li>The truthfulness and reliability of data uploaded by the Users.</li>
          <li>The User’s ability to fulfill the Contracts.</li>
          <li>The solvency of the Users.</li>
      </ul>
      
      <p>13.4 The Service Provider does not take part in disputes between the Users. All disputes are settled by the Users themselves. The Service Provider does not engage in any legal proceedings connected with settling these types of disputes.</p>
      
      <p>13.5 The Service Provider is not liable in particular for educational problems or the behavior of the Users in connection with the Agreements and the game, including addictions related to computer or other games, lack of winning games, participation in illegal games by the User, or the infringement of the Game Rules. In particular, the Service Provider is not liable for blocking or suspending your account in the game or banning you from the game. Such an event does not give rise to any claims against the Service Provider or another User, including a claim for the return of paid funds.</p>
      
      <p>13.6 The Service Provider may, without prior notice to the User, annul the agreement if it is contrary to the law, the principles of social coexistence, or infringes the good name of the Service Provider.</p>
  </div>
  
  <div>
      <h2>14. Liability of the Website</h2>
      
      <p>14.1 The Service Provider isn’t liable for any acts and/or omissions by the Users within the Website. The Service Provider only provides Users access to the Website, and the User is obliged to use the Website in a manner consistent with the law. The Service Provider is not obliged to check whether acts and/or omissions of the Users, data stored by them, or activity related to them are consistent with the law. The User is fully liable for their acts or omissions during their usage of the Website.</p>
      
      <p>14.2 Unless the General Terms and Conditions stipulate otherwise, the Service Provider is liable towards the User for damage resulting from non-performance or improper performance of the Services only if it is found to be at fault. The burden of proof of the fault lies with the User.</p>
      
      <p>14.3 The liability of the Service Provider towards the User shall cover only actual harm and does not cover lost profits.</p>
      
      <p>14.4 To the fullest extent permitted by law (including consumer protection provisions), the Service Provider is not liable for any actions and/or damages resulting from:</p>
      <ul>
          <li>The lack of IT systems from the User to adjust to the technical requirements used by the Service Provider.</li>
          <li>Impossibility of accessing the Website due to reasons beyond the Service Provider’s control, such as force majeure, wars, terrorist attacks, fires, floods in the server room, hacker attacks, failures, reasons on the part of access providers, failures of hardware or software of the Users, failures in server rooms, and other reasons caused by third parties (entities providing telecommunications, hosting, banking, postal, courier, e-mail, registration, and domain services, and other similar services, as well as entities operating payment processing).</li>
          <li>Illegal usage of the Website by the User or another person.</li>
          <li>Law violations, malicious acts, or omissions of any Internet user.</li>
          <li>Reasons on the part of software other than the Website (e.g., Microsoft Windows).</li>
          <li>Rejecting e-mails by the Service Provider’s e-mail servers (e.g., as a result of filters, blocks, or failures of these systems).</li>
      </ul>
      
      <p>14.5 The Service Provider is not liable for the usage of any unauthorized programs that may potentially be triggered by the User.</p>
      
      <p>14.6 The Service Provider is not liable if its e-mails get classified as spam or junk by the User’s email provider.</p>
      
      <p>14.7 The Service Provider is entitled to perform technical maintenance of the Website. The Service Provider will notify the User of such maintenance with an announcement message (through e-mail or any possible contact method at the time), unless the necessity for such maintenance is sudden and/or unexpected.</p>
      
      <p>14.8 The Service Provider is entitled to create temporary limitations on some features of the Website, make them available during selected hours, or introduce restrictions if a lack of limits could affect the continuity and stability of the Website. The Service Provider is not liable for the consequences of the aforementioned activities.</p>
      
      <p>14.9 The Service Provider is not liable for any damage incurred by the User as a result of the lack of antivirus software on their computer or an unprotected Internet connection, particularly for breaches of their system by third parties and the acquisition of their email, password, or username, or viruses present on the User’s computer systems.</p>
  </div>
  
  <div>
      <h2>15. Termination of Using the Website</h2>
      
      <p>15.1 The Service Provider may terminate your usage of the website without notifying you if you are using the website in a malicious or illegal manner.</p>
      
      <p>15.2 The Service Provider may especially terminate your usage of the website if:</p>
      <ul>
          <li>You breach the General Terms and Conditions of Madboost.gg.</li>
          <li>You upload illegal data.</li>
          <li>You disclose personal data of other Users.</li>
          <li>You violate the General Terms and Conditions regarding the use of the account.</li>
          <li>Your activity might be perceived as a possible violation of the company’s interests.</li>
      </ul>
  </div>
  
  <div>
      <h2>16. Final Provisions</h2>
      
      <p>16.1 The Appendices to the General Terms and Conditions are an integral part. They include:</p>
      <p>The General Terms and Conditions are available and free of charge to any User on the Website at the address “Madboost.gg”. Even though you can, before using the Website or at the moment you begin using the Website, you can acquire, restore, preserve, and store (in the ordinary course of operations) content of the General Terms and Conditions using your IT system. In case of doubt regarding the interpretation of the General Terms and Conditions, you can ask the Service Provider for an explanation.</p>
      
      <p>For User service inquiries or disputes, you may contact us by email at <a href="mailto:support@Madboost.gg">support@Madboost.gg</a>.</p>
  </div>
  
  

  
      
      
      

  </div>
</div>
{% endblock %}
