{% load static %}
<div id="dungeon-maps-selector" class="dungeons-maps-selector d-flex flex-wrap row justify-content-start align-items-start d-none">

    <div class="dungeon-selector col-12 col-lg-6 col-md-12 col-sm-12" data-id="algatharAcademy">
        <div class="image-container">
            <img src="{% static 'wow/images/maps/algethar_academy.jpg' %}" alt="Algathar Academy">
            <div class="dungeons-maps-content">
                <div class="name">Algathar Academy</div>
                <div class="counter">
                    <button id="decrement-algatharAcademy">-</button>
                    <span class="map-count" id="algathar_academy" data-value="0">0</span>
                    <button id="increment-algatharAcademy">+</button>
                </div>
            </div>
        </div>
    </div>

    <div class="dungeon-selector col-12 col-lg-6 col-md-12 col-sm-12" data-id="azure_vault">
        <div class="image-container">
            <img src="{% static 'wow/images/maps/azure_vault.jpg' %}" alt="azure_vault">
            <div class="dungeons-maps-content">
                <div class="name">Azure Vault</div>
                <div class="counter">
                    <button id="decrement-azure_vault">-</button>
                    <span class="map-count" id="azure_vault" data-value="0">0</span>
                    <button id="increment-azure_vault">+</button>
                </div>
            </div>
        </div>
    </div>

    <div class="dungeon-selector col-12 col-lg-6 col-md-12 col-sm-12" data-id="brackenhide_hollow">
        <div class="image-container">
            <img src="{% static 'wow/images/maps/brackenhide_hollow.png' %}" alt="brackenhide_hollow">
            <div class="dungeons-maps-content">
                <div class="name">Brackenhide Hollow</div>
                <div class="counter">
                    <button id="decrement-brackenhide_hollow">-</button>
                    <span class="map-count" id="brackenhide_hollow" data-value="0"data-value="0">0</span>
                    <button id="increment-brackenhide_hollow">+</button>
                </div>
            </div>
        </div>
    </div>

    <div class="dungeon-selector col-12 col-lg-6 col-md-12 col-sm-12" data-id="halls_of_infusion">
      <div class="image-container">
          <img src="{% static 'wow/images/maps/halls_of_infusion.jpg' %}" alt="halls_of_infusion">
          <div class="dungeons-maps-content">
              <div class="name">Halls of Infusion</div>
              <div class="counter">
                  <button id="decrement-halls_of_infusion">-</button>
                  <span class="map-count" id="halls_of_infusion" data-value="0">0</span>
                  <button id="increment-halls_of_infusion">+</button>
              </div>
          </div>
      </div>
  </div>

  <div class="dungeon-selector col-12 col-lg-6 col-md-12 col-sm-12" data-id="neltharus">
      <div class="image-container">
          <img src="{% static 'wow/images/maps/neltharus.jpg' %}" alt="neltharus">
          <div class="dungeons-maps-content">
              <div class="name">Neltharus</div>
              <div class="counter">
                  <button id="decrement-neltharus">-</button>
                  <span class="map-count" id="neltharus" data-value="0">0</span>
                  <button id="increment-neltharus">+</button>
              </div>
          </div>
      </div>
  </div>

  <div class="dungeon-selector col-12 col-lg-6 col-md-12 col-sm-12" data-id="nokhud_offensive">
    <div class="image-container">
        <img src="{% static 'wow/images/maps/nokhud_offensive.jpg' %}" alt="nokhud_offensive">
        <div class="dungeons-maps-content">
            <div class="name">Nokhud Offensive</div>
            <div class="counter">
                <button id="decrement-nokhud_offensive">-</button>
                <span class="map-count" id="nokhud_offensive" data-value="0">0</span>
                <button id="increment-nokhud_offensive">+</button>
            </div>
        </div>
    </div>
  </div>

  <div class="dungeon-selector col-12 col-lg-6 col-md-12 col-sm-12" data-id="ruby_life_pools">
    <div class="image-container">
        <img src="{% static 'wow/images/maps/ruby_life_pools.jpg' %}" alt="ruby_life_pools">
        <div class="dungeons-maps-content">
            <div class="name">Ruby Life Pools</div>
            <div class="counter">
                <button id="decrement-ruby_life_pools">-</button>
                <span class="map-count" id="ruby_life_pools" data-value="0">0</span>
                <button id="increment-ruby_life_pools">+</button>
            </div>
        </div>
    </div>
  </div>

  <div class="dungeon-selector col-12 col-lg-6 col-md-12 col-sm-12" data-id="uldaman_legacy_of_tyr">
    <div class="image-container">
        <img src="{% static 'wow/images/maps/uldaman_legacy_of_tyr.jpg' %}" alt="uldaman_legacy_of_tyr">
        <div class="dungeons-maps-content">
            <div class="name">Uldaman: Legacy of Tyr</div>
            <div class="counter">
                <button id="decrement-uldaman_legacy_of_tyr">-</button>
                <span class="map-count" id="uldaman_legacy_of_tyr" data-value="0">0</span>
                <button id="increment-uldaman_legacy_of_tyr">+</button>
            </div>
        </div>
    </div>
  </div>

</div>