{% load static %}
<div class="nav" id="nav">
    <div class="container">
      <div class="nav-row d-flex justify-content-md-start justify-content-between align-items-center">
        <div class="p-0">
          <a {% if not request.user.is_booster %} href="{% url 'homepage.index' %}" {% else %} href="{% url 'booster.orders' %}" {% endif %} class="logo">
            <img src="{% static 'base/images/logo.png' %}" class="img-fluid" alt="Logo">
          </a>
        </div>
        <div class="main-nav p-0 text-md-center text-end">
          <i class="fa-solid fa-bars toggle-menu"></i>
          <ul class="links">
            <li class="small-header">
              <ul class="d-flex justify-content-between align-items-center">
                <li class="logo-icon">
                  <a href="{% url 'homepage.index' %}" class="logo">
                    <img src="{% static 'base/images/logo.png' %}" class="img-fluid" alt="Logo">
                  </a>
                </li>
                <li class="close-icon" id="close-icon">
                  <i class="fa-solid fa-x"></i>
                </li>
              </ul>
            </li>
            {% if not request.user.id %}
              <li class="mx-auto">
                <ul class="main-links">
                  <li><a href="{% url 'games.games' %}" {% if request.path == '/games/' %}class="active"{% endif %}>Games</a></li>
                  <li><a href="{% url 'blog_home' %}" {% if request.path == '/blog/' %}class="active"{% endif %}>Blog</a></li>
                  <li><a href="{% url 'last.orders' %}" {% if request.path == '/last_orders/' %}class="active"{% endif %}>Last orders</a></li>
                  <li><a href="{% url 'booster.boosters' %}" {% if request.path == '/booster/boosters/' %}class="active"{% endif %}>Boosters</a></li>
                  <li><a href="{% url 'how-we-work' %}" {% if request.path == '/how-we-work/' %}class="active"{% endif %}>How we work</a></li>
                </ul>
              </li>
              <li>
                <ul class="user-links">
                  <li><a href="{% url 'accounts.signup' %}" class="custom-btn header-btn outline me-3" {% if request.path == '/accounts/signup/' %}class="active"{% endif %}>Sign Up</a></li>
                  <li><a href="{% url 'account.login' %}" class="custom-btn header-btn filled" {% if request.path == '/accounts/login/' %}class="active"{% endif %}>Log In</a></li>
                </ul>
              </li>
            {% else %}
              {% if request.user.is_booster %}
                <li class="mx-auto">
                  <ul class="main-links">
                    <li class="links-hidden"><a href="{% url 'booster.setting' %}">Profile</a></li>
                    <li class="links-hidden"><a href="{% url 'booster.orders' %}">My Orders</a></li>
                    <li class="links-hidden"><a href="{% url 'orders.jobs' %}">Get Order</a></li>
                    <li>
                      <a href="{% url 'last.orders' %}" {% if request.path == '/last_orders/' %}class="active"{% endif %}>
                        <span class="me-2 fw-bold">Last Orders</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'booster.history' %}" {% if request.path == '/booster/history/' %}class="active"{% endif %}>
                        <img src="{% static 'base/images/wallet.png' %}" alt="wallet" width="19" height="19" class="me-2">
                        <span class="me-2 fw-bold">wallet</span>
                        <span style="color: #FFFFFF80" class="fw-bold">{{ request.user.wallet.money|floatformat:2 }}$</span>
                      </a>
                    </li>
                    <li class="links-hidden">
                      <a>
                        <label class="dropdown-item soundclass d-flex justify-content-start align-items-center">
                          <input class="sync-checkbox" type="checkbox" id="sound-mute-checkbox" {% if request.user.sound_muted %}checked{% endif %}>
                          <span class="sound-slider round my-auto"></span>
                          <p class="my-auto mx-1">Sounds</p>
                        </label>
                      </a>
                    </li>
                    <li class="links-hidden"><a href="{% url 'account.logout' %}">Logout</a></li>
                  </ul>
                </li>
                <div class="dropdown custom-dropdown">
                  <button class="btn custom-btn filled dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a>
                        <label class="dropdown-item soundclass d-flex justify-content-start align-items-center">
                          <input class="sync-checkbox" type="checkbox" id="sound-mute-checkbox" {% if request.user.sound_muted %}checked{% endif %}>
                          <span class="sound-slider round my-auto"></span>
                          <p class="my-auto mx-1">Sounds</p>
                        </label>
                      </a>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'booster.setting' %}">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'booster.orders' %}">My Orders</a></li>
                    <li><a class="dropdown-item" href="{% url 'orders.jobs' %}">Get Order</a></li>
                    <li><a class="dropdown-item" href="{% url 'account.logout' %}">Log out</a></li>
                  </ul>
                </div>
              {% else %}
                <li class="mx-auto">
                  <ul class="main-links">
                    <li class="links-hidden"><a href="{% url 'customer.setting' %}">Profile</a></li>
                    <li><a href="{% url 'games.games' %}" {% if request.path == '/games/' %}class="active"{% endif %}>Games</a></li>
                    <li><a href="{% url 'blog_home' %}" {% if request.path == '/blog/' %}class="active"{% endif %}>Blog</a></li>
                    <li><a href="{% url 'customer.orders' %}" {% if request.path == '/customer/customer_orders/' %}class="active"{% endif %}>My orders</a></li>
                    <li><a href="{% url 'last.orders' %}" {% if request.path == '/last_orders/' %}class="active"{% endif %}>Last orders</a></li>
                    <li><a href="{% url 'booster.boosters' %}" {% if request.path == '/booster/boosters/' %}class="active"{% endif %}>Boosters</a></li>
                    <li><a href="{% url 'how-we-work' %}" {% if request.path == '/how-we-work/' %}class="active"{% endif %}>How we work</a></li>
                    <li class="links-hidden">
                      <a>
                        <label class="dropdown-item soundclass d-flex justify-content-start align-items-center">
                          <input class="sync-checkbox" type="checkbox" id="sound-mute-checkbox">
                          <span class="sound-slider round my-auto"></span>
                          <p class="my-auto mx-1">Sounds</p>
                        </label>
                      </a>
                    </li>
                    <li class="links-hidden"><a href="{% url 'account.logout' %}">Log out</a></li>
                  </ul>
                </li>
                <div class="dropdown custom-dropdown">
                  <button class="btn custom-btn filled dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a>
                        <label class="dropdown-item soundclass d-flex justify-content-start align-items-center">
                          <input class="sync-checkbox" type="checkbox" id="sound-mute-checkbox">
                          <span class="sound-slider round my-auto"></span>
                          <p class="my-auto mx-1">Sounds</p>
                        </label>
                      </a>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'customer.setting' %}">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'account.logout' %}">Log out</a></li>
                  </ul>
                </div>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script>
    if (!localStorage.getItem('sound')) {
      localStorage.setItem('sound', true);
    }
    const getSoundValue = () => {
    const sound = localStorage.getItem('sound');
    // Convert the retrieved value to a boolean
    return sound === 'true';
    };

    const soundCheckBoxes = document.querySelectorAll('.sync-checkbox');

    soundCheckBoxes.forEach((checkbox)=>{
      const sound = getSoundValue()
      checkbox.checked = sound
    })

    soundCheckBoxes.forEach(checkbox => {
      checkbox.addEventListener('change', function() {
        if (this.checked) {
          soundCheckBoxes.forEach(cb => {
            cb.checked = true;
          });
          localStorage.setItem('sound', true);
          getSoundValue()
        } else {
          soundCheckBoxes.forEach(cb => {
            cb.checked = false;
          });
          localStorage.setItem('sound', false);
          getSoundValue()
        }
      });
    });
    </script>
  