<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRYPTOMUS</title>
  </head>
  <body>
    <h1>Hi You Are In Cryptomus Page</h1>
    <h2>Data</h2>
    <p>{{data}}</p>
    <ul>
      <li>{{data.game_id}}</li>
      <li>{{data.game_type}}</li>
      <li>{{data.current_rank}}</li>
      <li>{{data.current_division}}</li>
      <li>{{data.marks}}</li>
      <li>{{data.desired_rank}}</li>
      <li>{{data.desired_division}}</li>
      <li>{{data.duo_boosting}}</li>
      <li>{{data.select_booster}}</li>
      <li>{{data.turbo_boost}}</li>
      <li>{{data.booster_agents}}</li>
      <li>{{data.streaming}}</li>
      <li>{{data.server}}</li>
      <li>{{data.price}}</li>
    </ul>
  </body>
</html>