{% extends 'layouts/base.html' %}
{% load humanize %}
{% load static %}
{% load custom_filters %}
{% load static %}
{% block title %}Games{% endblock %}
{% block style %}
<!-- OUR STYLE -->
<link rel="stylesheet" href="{% static 'accounts/css/customer_order.css' %}">
{% endblock %}
{% block container %}
<div id="user-id" data-user-id="{{ order.order.booster.id }}"></div>
<div class="customer-container">

  <div class="customer-contant">
    <div class="overlay">

      <div class="container order-information">
  
        <div class="action-for-booster d-flex flex-wrap justify-content-between align-items-center">
          {% if order.order.booster %}
            <div class="booster-info d-flex flex-wrap align-items-center">
              <div class="image">
                {% if order.order.booster.booster.image %}
                <img src="{{ order.order.booster.booster.image.url }}" class="profile-image" alt="Booster Photo" />
                {% else %}
                <img src="{% static 'base/images/no_profile_image.jpg' %}" class="profile-image" alt="No Profile Photo">
                {% endif %}
              </div>
  
              <div class="text ms-4">
                <h3>{{order.order.booster.username}}</h3>
                {% if order.order.booster.is_online %}
                  <p id="status"><span class="online"></span>Online</p>
                {% else %}
                  <p id="status"><span class="offline"></span>Last seen {{ order.order.booster.last_online|custom_timesince }}</p>
                {% endif %}
              </div>
            </div>
  
            <div class="actions d-flex flex-wrap align-items-center gap-4">
  
              <div class="avalible-to-play">
                <button class="btn">Available to Play</button>
              </div>
  
              <div class="extend-order">
                {% if order.order.game_type == 'D' or order.order.game_type == 'A' %}
                  <a class="btn" href="{% url order.order.game.link %}?extend={{order.order.id}}">Extend Order</a>
                {% endif %}
              </div>
  
              <div class="tip">
                <!-- Button trigger modal -->
                <button type="button" class="btn open-modal" data-bs-toggle="modal" data-bs-target="#tipBooster">
                  Tip
                </button>
  
                <!-- Modal -->
                <div class="modal fade" id="tipBooster" tabindex="-1" aria-labelledby="tipBoosterLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="tipBoosterLabel">Tip Booster</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        
                        <form id="tipBoosterForm" action="{% url 'tip_booster' %}" method="POST" class="text-end mt-3">
                          {% csrf_token %}
                          
                          <input type="hidden" name="order_id" value="{{ order.order.id }}">
                          <input type="hidden" name="booster" value="{{ order.order.booster }}">
                          <div class="input-group mb-3">
                            <!-- <span class="input-group-text" id="basic-addon1">$</span> -->
                            <input type="number" required name="tip" class="form-control custom-input" placeholder="Tip"
                              aria-label="Tip">
                          </div>
                          <button id='submitTipButton' type="submit"class="paypal-btn">Pay with <img src="{% static 'games/images/PayPal.svg' %}" class="ms-2"  alt="PayPal" width="86.62" height="28.8"/></button>
                        </form>
                  
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
  
              <div class="report">
                <button class="btn">Report</button>
              </div>
            </div>
          {% else %}
            <center class="fw-bold"><i class="fa-regular fa-clock"></i> Waiting For Booster ...</center>
          {% endif %}
        </div>
  
      </div>

    </div>
  </div>

</div>
<div>
  {{slug|json_script:"room_slug"}}
  {{admins_chat_slug|json_script:"admins_chat_slug"}}
  {{admins_chat_slug|json_script:"admins_chat_slug"}}
  {{request.user.username|json_script:"user"}}
  {{admins_room.name|json_script:"admin_room"}}
  {{room.name|json_script:'booster_room_name'}}
  {{order.order.booster.first_name|json_script:'booster_first_name'}}
  {{order.order.booster.last_name|json_script:'booster_last_name'}}    
  {{order.order.booster.image|json_script:'booster_image'}}    
</div>
{% endblock %}
{% block script %}
<script>
  var staticUrl = "{% static 'base/images/no_profile_image.jpg' %}";
</script>
<script src='{% static "accounts/js/customer_side_chat.js" %}'></script>
{% endblock %}