{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block style %}
<link href="{% static 'accounts/css/forms.css'%}" rel="stylesheet" />
{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-transparent">
    <div class="container position-relative align-items-center ">
      <a class="navbar-brand" href="{% url 'homepage.index' %}">Game Boosters</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-items-center ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">FAQ</a>
          </li>
          {% if user.id %}
          <div class="dropdown">
            <button class="btn text-white dropdown-toggle border-0" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{user.first_name}} {{user.last_name}}
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'accounts.profile' %}">My Porfile </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'account.logout' %}">Logout</a>
              </li>
            </ul>
          </div>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account.login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts.register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>
{% endblock %}
{% block container %}
<div class="login-container p-5 " style="padding-top: 6rem !important;">
    <div class="container login">
        <div class="d-lg-block d-none login-image">
            <img src="{% static 'accounts/images/register-image.png' %}" alt="" width="500" />
        </div>
        <div class="row align-items-center justify-content-center " style="height: 500px;">
            <form method="post" enctype="multipart/form-data" class="offset-lg-5 offset-lg-0 col-lg-7 col-12 login-form px-lg-5 px-0">
                {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
                {% endif %}
                {% csrf_token %}
                <!-- {{ form.username.label_tag }} {{ form.username }}
                {{ form.password.label_tag }} {{ form.password }}
                {{ form.as_p }} -->
                <div class="mb-3">
                    <label for="username" class="form-label custom-label">Username</label>
                    <input type="text" name="username" class="form-control custom-input" id="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label custom-label">Password</label>
                    <input type="password" name="password" class="form-control custom-input" id="password">
                </div>
                <div class="text-end">
                    <button type="submit" class="btn fs-5 text-white rounded-5 px-4 py-2 mt-3" style="background-image: linear-gradient(to right, #15053C 0%, #9303B6 50%, #4A0774)">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<!-- Start Footer -->
<div class="footer">
  <div class="container">
    <img src="{% static 'homepage/images/logo.png' %}" alt="Logo" />
    <p>We Are Social</p>
    <div class="social-icons">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-solid fa-house"></i>
      <i class="fa-brands fa-linkedin-in"></i>
    </div>
    <div class="copyright text-center">&copy; 2023 <span>Game Booster</span> All Right Reserved</div>
  </div>
</div>
<!-- End Footer -->
{% endblock %}
{% block script %}
<script src="{% static  'accounts/js/accounts.js' %}"></script>
{% endblock %}