<!-- myapp/templates/myapp/order_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Order List</title>
</head>
<body>
    <h1>Order List</h1>
    <ul id="order-list">
    </ul>
    <div id="order"></div>
    <script>
        const wsProtocol = window.location.protocol === "https:" ? "wss://" : "ws://";
        order = 38
        const timeSocket = new WebSocket(wsProtocol + window.location.host + '/ws/price/52/');
        timeSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('data',data)
        }
        timeSocket.onclose = function(e){
            console.warn('socket disconnect')
        }
        const timeSocket2 = new WebSocket(wsProtocol + window.location.host + '/ws/price/51/');
        timeSocket2.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('data',data)
        }
        timeSocket2.onclose = function(e){
            console.warn('socket disconnect')
        }

    </script>
</body>
</html>
