{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Game Boosters{% endblock %}
{% block style %}
    <link href="{% static 'accounts/css/accounts.css'%}" rel="stylesheet" />
{% endblock %}
{% block container %}
<div class="register p-5" style="padding-top: 6rem !important;">
    <div class="container"  >
        <div class="row align-items-center ">
            <div class="d-lg-block d-none col-6">
                <img src="{% static 'accounts/images/register.png' %}" alt="" width="500" />
            </div>
            <div class="register-form col-lg-6 col-12 py-5">
                 <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn text-white" style="background-color: var(--alternative-color)">Submit</button>
                 </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static  'accounts/js/accounts.js' %}"></script>
{% endblock %}