.orders-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.orders-container .orders-landing {
  width: 100%;
  height: 690px;
  background-image: url('./../../games/images/games_bg.jpg');
  background-size: cover;
  background-position-y: -700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orders-container .orders-landing::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./../../games/images/bg_cover.png');
}
.orders-landing .heading {
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
}
.orders-landing .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
.orders-landing .heading p {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  .orders-landing .heading h1 {
    font-size: 50px;
  }
  .orders-landing .heading p {
    font-size: 1.2rem;
  }
}
/* Start Orders */
.orders {
  position: relative;
  margin-top: -250px;
}
.order {
  background-color: var(--main-color);
  /* height: 550px; */
  border-radius: 1.5rem;
  padding: 1.5rem;
}
.order .banner {
  width: 100%;
  height: 440px;
}
.order .banner img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
}
.order .information .booster .image img {
  border-radius: calc(var(--main-radius) * 2);
  width: 75px !important;
  height: 75px !important;
}
.order .information .booster .name p:first-child,
.order .information .reached-info-container p:first-child,
.order .information .from-container p:first-child,
.order .information .to-container p:first-child {
  color: #FFFFFF80;
}
.order .information .booster .name p:last-child,
.order .information .reached-info-container p:last-child,
.order .information .from-container p:last-child,
.order .information .to-container p:last-child {
  color: #ffffff;
}
@media (max-width: 767px) {
  .order .information .booster .name p,
.order .information .reached-info-container p,
.order .information .from-container p,
.order .information .to-container p,
.from-to p {
  font-size: 12px;
}
}
#duo-or-solo {
  padding: 4px 8px 6px;
  border-radius: var(--main-radius);
  background-color: var(--secondary-color);
  font-weight: 300;
  font-size: 1rem;
}
@media (max-width: 767px) {
  #duo-or-solo {
    display: block;
  }
}
#duo-or-solo.duo {
  background-color: #06A5B0 !important;
}
#duo-or-solo.solo {
  background-color: var(--secondary-color) !important;
}

.from-to {
  border-radius: var(--main-radius);
  background-color: var(--background-color);
  min-height: 56px;
}
/* End Orders */