<div class="containter-fluid history-container text-white">
  <div class="overlay py-5">
      <div class="container history p-5">
        {% if history %}
        <table class="table text-white">
          <thead class="text-uppercase">
            <tr>
              <th>order</th>
              <th>amount</th>
              <th>customer</th>
              <th>notice</th>
              <th>status</th>
              <th>date</th>
              <th>More</th>
            </tr>
          </thead>
          <tbody>
            {% for orderInfo in history %}
            <tr>
              <td>{{orderInfo.order.name}}</td>
              <td>{{orderInfo.amount}}</td>
              <td>{{orderInfo.order.customer.first_name}} {{orderInfo.order.customer.last_name}}</td>
              <td>{{orderInfo.notice}}</td>
              <td>{{orderInfo.status}}</td>
              <td>{{orderInfo.date}}</td>
              <td>
                <button type="button" class="btn text-white " style="background-color: var(--secondary-color);" data-bs-toggle="modal" data-bs-target="#orderModal" data-order="{{ orderInfo.order.details }}">
                  More
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
        {% else %}
        <h3 class="p-4">You Didn't Make Any Order Yet!</h3>
        {% endif %}
      </div>
  </div>
</div>