{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Game Boosters:{{booster.username}}{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'booster/css/booster-profile.css' %}">
{% endblock %}
{% block container %}
    <div class="container-fluid booster-profile py-5">
        <div class="container content text-center py-5">
            <!-- Profile picture -->
            <div class="profile-view">
                {% if booster.user.image %}
                <img class="rounded-circle shadow-4-strong mx-auto" alt="avatar" src="{{ booster.user.image.url }}"  />
                {% else %}
                <img src="{% static 'base/images/no_profile_image.jpg' %}" class="profile-image" alt="No Profile Photo">
                {% endif %}
                <h1><strong>{{booster.username}}</strong></h1>
                <div class="container">
                    <div class="row d-flex align-items-center text-center m-2 pb-3">
                        <div class="col-6 px-4" >
                        <div style="align-items: end; display:flex; justify-content:end">
                            <img style="width: 100px; height: 100px;" src="https://static.wikia.nocookie.net/leagueoflegends/images/5/5f/Season_2019_-_Challenger_1.png/revision/latest/scale-to-width-down/250?cb=20181229234913" alt="rank" class="align-self-end">
                        </div>
                        </div>
                        <div class="col-6 px-2" >
                            <h3 style="align-items: start; display:flex; justify-content:start">Challenger</h3>
                        </div> 
                    </div>
                </div>
                <div class="container text-center d-flex align-items-center justify-content-center pt-1">
                    <p>{{booster.about_you}}</p>
                </div>
                <hr style="border-color: white; border-width: 1px; border-style: solid; width:70%;"/>
            </div>
            <!-- Boosters stats -->
            <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 justify-content-between align-items-center my-4">
                <div class="mb-lg-0 mb-4 ">
                    <p class="fw-bold text-secondary">Completed Boosts:</p>
                    <p>{{ completed_boosts_count }}</p>
                </div>
                <div class="mb-lg-0 mb-4 ">
                    <p class="fw-bold text-secondary">Last Boost:</p>
                    <p>less than a minute ago</p>
                </div>
                <div class="mb-lg-0 mb-4 ">
                    <p class="fw-bold text-secondary">On Boost:</p>
                    <p>over 2 years</p>
                </div>
                <div class="mb-lg-0 mb-4 ">
                    <p class="fw-bold text-secondary">Customer Reviews:</p>
                    <p>{{ customer_reviews|default:0 }} / 5</p>
                </div>
            </div>
            <!-- <table>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table> -->
            {% if booster.can_choose_me %}
            <a class="mt-3 btn btn-success" href="{% url 'wildrift' %}?choose_booster={{ booster.id }}">Chose Booster</a>
            {% endif %}
        </div>
        <div class="reviews">
            <h1>{{booster.username}} Customer Feedback</h1>
            <div class="row m-1 p-1 justify-content-around">
                {% for rate in ratings %}
                <div class="container col-lg-5 col-md-5 col-sm-12 p-3">
                    <div class="container rating-card d-flex flex-column">
                        <div class="d-flex justify-content-between p-2">
                            {% if rate.anonymous %}
                                <h4></h4>
                            {% else %}
                                <h4>{{ rate.customer.username }}</h4>
                            {% endif %}
                            <div class="stars-container">
                                {% for i in '12345' %}
                                    {% if forloop.counter <= rate.rate %}
                                        <span class="fa fa-star checked"></span>
                                    {% else %}
                                        <span class="fa fa-star not-checked"></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="text-rate d-flex p-2">
                            <h5>{{ rate.text }}</h5>
                        </div>
                        <div class="mt-auto">
                            <div class="rank-img d-flex justify-content-around align-items-center text-center">
                                <img src="{{rate.order.current_rank.get_image_url}}" />
                                <h5>{{ rate.order.current_rank }} {{ rate.order.get_current_division_display }}</h5>
    
                                <div>
                                    <h3 class="text-primary"> >>> </h3>
                                </div>
                                <img src="{{rate.order.reached_rank.get_image_url}}" />
                                <h5>{{rate.order.reached_rank}} {{rate.order.get_reached_division_display}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <h1>Order Completed By {{booster.username}}</h1>
            {% for order in completed_orders%}
                <div class="rank-img row m-1 p-1 justify-content-around d-flex">
                    <div class="d-flex align-items-center text-center">
                        <img src="{{order.current_rank.get_image_url}}" />
                        <div>
                            <p>From</p>
                            <h5>{{ order.current_rank }} {{ order.get_current_division_display }}</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center text-center">
                        <img src="{{order.current_rank.get_image_url}}" />
                        <div>
                            <p>To</p>
                            <h5>{{ order.reached_rank }} {{ order.get_reached_division_display }}</h5>
                        </div>
                    </div>
                </div>
                <hr/>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}

{% endblock %}