{% extends 'layouts/base.html' %}
{% load humanize %}
{% load static %}
{% load custom_filters %}
{% load static %}
{% block title %}Orders: {{order.order.name}} {% endblock %}
{% block style %}
<!-- OUR STYLE -->
<link rel="stylesheet" href="{% static 'base/css/popup.css' %}">
<link rel="stylesheet" href="{% static 'booster/css/booster-order.css' %}">
<!-- Ranks Colors -->
<link rel="stylesheet" href="{% static 'games/css/ranks-colors.css' %}">
{% endblock %}
{% block container %}
<div class="booster-container">

  <div class="booster-contant">
    <div class="overlay">

      <div class="heading">
        <h1>Orders</h1>
        <p>Scan the orders and claim what suits you</p>
      </div>

      <div class="container roles-container">

        <div class="role-heading d-flex flex-md-row flex-column justify-content-center align-items-center gap-4 mt-4">
          <h3 class="fw-bold fs-2">Service Rules: </h3>
          <button class="btn custom-btn filled" id="read-roles">Read</button>
        </div>
        <div class="roles mt-5 p-5" id="roles">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12 px-3">
              <div class="image text-md-start text-center">
                <img src="{% static 'booster/images/roles-img.png' %}" class="img-fluid" alt="Image">
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 col-12 px-3 mt-md-0 mt-4">
              <div class="general section">
                <h3 class="fw-bold">General</h3>
  
                <div class="instruction">
                  <p>
                    We protect our customers' base, thus direct
                    boosting of our customers comes under ban
                    without a payout.
                  </p>
                  <p>
                    The use of any hacks or scripts on a customer's
                    account will lead to a ban on the service without
                    a payout.
                  </p>
                  <p>
                    Direct contacts with customers outside of the
                    service (and League game client during duo q
                    boosting) are forbidden.
                  </p>
                  <p>
                    In order to complete the order properly, you
                    have to upload a screenshot of the customer's
                    profile, which should be taken after the final game.
                    We need it as a proof to fight against the fraud
                    chargebacks.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 col-12 px-3 mt-lg-0 mt-4">
              <div class="quality-service section">
                <h3 class="fw-bold">Quality of the Service</h3>
  
                <div class="instruction">
                  <p>
                    To introduce yourself first to the customer
                    and then to ask him, whether he has any
                    questions would be a great start of the
                    conversation and will definitely increase
                    your chances to get 5 stars feedback and
                    the tips when the boost is over.
                  </p>
                  <p>
                    You have to start working on order within
                    15 minutes after you claimed it. You cannot
                    save the orders for later.
                  </p>
                  <p>
                    Stay always online in the service chat
                    during boosting to be in a regular contact
                    with the customer.
                  </p>
                  <p>
                    Warn the customer, if your boosting
                    session is over and inform, when
                    you plan to continue.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-12 px-3 mt-lg-0 mt-4">
              <div class="boosting-process section">
                <h3 class="fw-bold">Boosting Process</h3>
  
                <div class="instruction row row-cols-md-2 row-cols-1">
                  <p>
                    Never flame during your games on
                    the customer's account. Causing a
                    ranked restriction or ban on the
                    customer's account will lead to a cash
                    penalty or ban on the service.
                  </p>
                  <div>
                    <p>
                      Never spoil yourself as a booster.
                    </p>
                    <p>
                      Do not chat with the people from
                      the customer's friend list unless you're
                      asked by the customer to do that.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="understand-btn">
            <button class="btn custom-btn filled text-center" id="understand-roles">I Understand</button>
          </div>
        </div>
      </div>

      <div class="container orders-information">
      </div>

    </div>
  </div>

</div>
{% endblock %}
{% block script %}
<script>
  var staticUrl = "{% static 'base/images/no_profile_image.png' %}";
  var currentSocket = null
</script>
<script src="{% static 'booster/js/toggle-roles.js' %}"></script>
<script src="{% static 'booster/js/booster-order.js' %}"></script>
<script src="{% static 'booster/js/image-size.js' %}"></script>
{% endblock %}