{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Game Boosters{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'booster/css/booster-history.css' %}">
{% endblock %}
{% block container %}
<div class="containter-fluid history-container text-white">
  <div class="overlay py-5">
      <div class="container history p-5">
        {% if history %}
        <table class="table text-white">
          <thead class="text-uppercase" style="background-color: var(--secondary-color);">
            <tr>
              <th>order</th>
              <th>amount</th>
              <th>customer</th>
              <th>notice</th>
              <th>status</th>
              <th>date</th>
              <th>More</th>
            </tr>
          </thead>
          <tbody>
            {% for orderInfo in history %}
            <tr>
              <td>{{orderInfo.order.name}}</td>
              <td>{{orderInfo.amount}}</td>
              <td>{{orderInfo.order.customer.first_name}} {{orderInfo.order.customer.last_name}}</td>
              <td>{{orderInfo.notice}}</td>
              <td>{{orderInfo.status}}</td>
              <td>{{orderInfo.date}}</td>
              <td>
                <button type="button" class="btn text-white " style="background-color: var(--secondary-color);" data-bs-toggle="modal" data-bs-target="#orderModal" data-order="{{ orderInfo.order.details }}">
                  More
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
          <div class="modal-dialog text-white" style="background-color: var(--main-color);">
            <div class="modal-content text-white" style="background-color: var(--main-color);">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="orderModalLabel">Order Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="orderModalBody">
                
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <h3 class="p-4" style="background-color: #3d22625e;">You Didn't Make Any Order Yet!</h3>
        {% endif %}
      </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
      $('#orderModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var orderContent = button.data('order');
        $('#orderModalBody').html(orderContent);
      });
    });
  </script>
{% endblock %}