{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Game Boosters{% endblock %}
{% block style %}
<!-- SWIPER CSS -->
<link href="{% static 'swiper/css/swiper-bundle.min.css'%}" rel="stylesheet">
<!-- OUR STYLE -->
<link href="{% static 'homepage/css/homepage.css' %}" rel="stylesheet">
<!-- STYLE FEEDBACK -->
<link href="{% static 'components/css/customer-feedbacks.css'%}" rel="stylesheet" />
<!-- STYLE MOTIVATION -->
<link href="{% static 'components/css/motivation.css'%}" rel="stylesheet" />
<!-- STYLE INFORMATION -->
<link href="{% static 'components/css/information.css'%}" rel="stylesheet" />
{% endblock %}
{% block container %}
<div class="homepage">
  <div class="container">
    <!-- ------------------------- Landing ------------------------- -->
    <div class="landing row justify-content-between align-items-center">
      <div class="text col-6">
        <h1>REACH YOUR RANK <span>GOALS</span></h1>
        <p>with <span>MadBoost.gg</span> your ally in the eSports arena.</p>
      </div>
      <div class="image col-6">
        <img src="{% static 'homepage/images/Logo.png' %}" class="img-fluid" alt="Landing">
      </div>
    </div>


    <!-- ------------------------- Gaming ------------------------- -->
    <div class="games swiper py-5">
      <div class="games-swiper" id="games">

        <div class="head d-flex justify-content-between align-items-center">
          <h1>Games</h1>

          <div class="navigation-buttons">
            <!-- Navigation Buttons -->
            <div class="games-swiper-button-prev">
              <i class="fa-solid fa-chevron-left fs-3"></i>
            </div>
  
            <div class="games-swiper-button-next">
              <i class="fa-solid fa-chevron-right fs-3"></i>
            </div>
          </div>
        </div>

        <div class="swiper-wrapper mt-4">
          {% for game in games %}
            <div class="swiper-slide game">
              <div class="game-logo">
                <img src="{{game.logo}}" class="img-fluid" alt="{{game.name}}">
              </div>
              <p class="mt-2 text-center">{{game.name}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- ------------------------- Import Last Orders ------------------------- -->
  

    <!-- ------------------------- Import Feedback Component ------------------------- -->
    {% include 'components/customer_feedbacks.html' with feedbacks=feedbacks %}

    <!-- ------------------------- Import Information Component ------------------------- -->
    {% include 'components/information.html' %}

    <!-- ------------------------- Import Motivation ------------------------- -->
    {% include 'components/motivation.html' %}

  </div>
</div>

{% endblock %}
{% block script %}
<script>
  function redirectToGame(link) {
    window.location.href = link;
  }
</script>
<!-- SWIPER JS -->
<script src="{% static 'swiper/js/swiper-bundle.min.js' %}"></script>
<!-- OUR SCRIPTS -->
<script src="{% static 'components/js/customer-feedbacks.js'%}"></script>
<script src="{% static 'homepage/js/games.js'%}"></script>
{% endblock %}