<div class="updata-now">
  <form action="{% url 'order.update.rating' order_id=order.order.order.id %}" method="POST">
    {% csrf_token %}
    {% if error %} <p class="error-message message">{{error}}</p> {% endif %}

    <div class="d-flex flex-wrap justify-content-between">
      <div class="select-container mb-3">
        <select required name="reached_rank" id="reached_rank_pubg">
          <option value="1" {% if order.order.reached_rank.id == 1 %}selected{% endif %}>bronze</option>
          <option value="2" {% if order.order.reached_rank.id == 2 %}selected{% endif %}>silver</option>
          <option value="3" {% if order.order.reached_rank.id == 3 %}selected{% endif %}>gold</option>
          <option value="4" {% if order.order.reached_rank.id == 4 %}selected{% endif %}>platinum</option>
          <option value="5" {% if order.order.reached_rank.id == 5 %}selected{% endif %}>diamond</option>
          <option value="6" {% if order.order.reached_rank.id == 6 %}selected{% endif %}>crown</option>
          <option value="7" {% if order.order.reached_rank.id == 7 %}selected{% endif %}>ace</option>
          <option value="8" {% if order.order.reached_rank.id == 8 %}selected{% endif %}>ace master</option>
          <option value="9" {% if order.order.reached_rank.id == 9 %}selected{% endif %}>ace dominator</option>
      </select>       
      </div>
  
      <div class="select-container mb-3">
        <select required name="reached_division" id="reached_division_pubg">
          <option value="1" {% if order.order.reached_division == 1 %}selected{% endif %}>V</option>
          <option value="2" {% if order.order.reached_division == 2 %}selected{% endif %}>IV</option>
          <option value="3" {% if order.order.reached_division == 3 %}selected{% endif %}>III</option>
          <option value="4" {% if order.order.reached_division == 4 %}selected{% endif %}>II</option>
          <option value="5" {% if order.order.reached_division == 5 %}selected{% endif %}>I</option>
        </select>
      </div>
  
      <div class="select-container mb-3">
        <select required name="reached_marks" id="reached_marks_pubg">
          <option value="0" {% if order.order.reached_marks == 0 %}selected{% endif %}>0 - 20</option>
          <option value="1" {% if order.order.reached_marks == 1 %}selected{% endif %}>21 - 40</option>
          <option value="2" {% if order.order.reached_marks == 2 %}selected{% endif %}>41 - 60</option>
          <option value="3" {% if order.order.reached_marks == 3 %}selected{% endif %}>61 - 80</option>
          <option value="4" {% if order.order.reached_marks == 4 %}selected{% endif %}>81 - 99</option>
        </select>
      </div>
    </div>

    <div class="text-end">
      <button type="submit" class="btn update-rating-btn">Update Rating</button>
    </div>
  </form>
</div>
<script>


  function set_marks(){
    const selectedRank = parseInt(document.getElementById('reached_rank_pubg').value);
    const selectedDivision = parseInt(document.getElementById('reached_division_pubg').value);
    if (selectedRank === 9 && selectedDivision === 5) {
      document.getElementById('reached_marks_pubg').style.display = 'none'; 
      document.getElementById('reached_marks_pubg').selectedIndex = 0;
    } else {
      document.getElementById('reached_marks_pubg').style.display = 'block';
    }
  }
  document.getElementById('reached_rank_pubg').addEventListener('change',function(){
    set_marks()
  })
  document.getElementById('reached_division_pubg').addEventListener('change',function(){
    set_marks()
  })
  set_marks()


</script>