.orders-container {
  /* background-image: linear-gradient(to top, #37175E 0%, #582984 50%, #4A0774) !important; */
  background-image:url('../../../media/wildRift/images/backgrounds/wildrift10.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: calc(100vh - 72px);
}
.orders-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
}
.orders-container .container {
  position: relative;
  z-index: 100;
}
.orders-container .container .division-boost-order,
.orders-container .container .placements-boost-order {
  background-color: rgba(var(--alternative-color-rgba), 0.5);
  position: relative;
  z-index: 101;
}

.orders:nth-child(odd) {
  border-left: 0.3rem solid var(--secondary-color)!important;
}
.wild-rift-image {
  position: fixed;
  top: 20%;
  right: 0;
  height: 35rem;
  z-index: 99;
}
.navbar.bg-transparent.scrolled {
  background: linear-gradient(to right, #202731 0%, #283347 50%, #1e252d 100%)!important;
}
.price-time {
  border-top: 1px dashed var(--secondary-color);
  border-bottom: 1px dashed var(--secondary-color);
}