.booster-profile {
  background-image: url('./../images/magicpattern.png');
  background-size: cover;
  background-attachment: fixed;
  color: white !important;
}
.content {
  min-height: 100vh !important;
}
.content .profile-view img {
  width: 170px; 
  height: 170px;
  padding: 20px;
}
.content .profile-view {
  padding: 20px;
}
.reviews {
  background-image: linear-gradient(to right, #37175E 0%, #582984 50%, #4A0774) !important;
  padding: 30px;        
}
.reviews p,
.reviews,
.reviews h1,
.reviews h2,
.reviews h3,
.reviews h4,
.reviews h5,
.reviews h6 {
  text-align: center;
} 
hr {
  margin: auto;
}
.ratings {
  max-height: 65vh;
  width: 60%;
  max-width: 100%;
  overflow: auto;
  margin: auto;
}
@media (max-width: 991px) {
  .ratings {
    width: 90%;
  }
}
.rating-card {
  padding: 8px;
  border-radius: 4px;
  /* background: linear-gradient(90deg, rgba(186, 85, 211, 0.5)  0%, rgba(25, 0, 33, 0.5) 100%); */
  border: 1px var(--secondary-color) dashed;
  width: 100%;
}
.stars-container {
  display: flex;
}
.checked {
  color: orange;
  font-size: 15px;
  margin: 0 0.2rem;
}
.not-checked {
  color:#ccc;
  font-size: 15px;
  margin: 0 0.2rem;
}
.rank-img img {
  height: 60px;
  width: 60px;
}