.booster-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.booster-container .booster-landing {
  width: 100%;
  height: 690px;
  background-image: url('./../../games/images/games_bg.jpg');
  background-size: cover;
  background-position-y: -700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.booster-container .booster-landing::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./../../games/images/bg_cover.png');
}
.booster-landing .heading {
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
}
.booster-landing .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
.booster-landing .heading p {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  .booster-landing .heading h1 {
    font-size: 50px;
  }
  .booster-landing .heading p {
    font-size: 1.2rem;
  }
}
/* Start Boosters */
.booster {
  position: relative;
  margin-top: -300px; /* Adjust this value as needed */
}
.booster-info {
  border-radius: 24px;
  background: linear-gradient(to bottom, #332a25 30%, var(--main-color));
}
.banner-container {
  width: 450px;
  height: 110px;
  position: relative;
}
.game-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.game-link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./../../games/images/bg_cover.png');
  background-size: cover;
  object-fit: cover;
  border-radius: var(--main-radius);
}
.game-banner {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: 55% 20%;
  border: 1px solid #332A27;
  border-radius: var(--main-radius);
}
.game-name-img {
  width: 80%;
  height: 80%;
  position: relative;
  top: -87%;
  left: 50%;
  transform: translateX(-50%);
}