/* Start Base Design For Form Element */
input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

input[type="radio"]:disabled+label {
  color: whitesmoke;
  filter: grayscale(100%);
}
/* Start Container */
.booster-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.booster-container .booster-contant {
  width: 100%;
  min-height: 690px;
  background-image: url('./../../accounts/images/customer_side_bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  background-position-y: -10px;
  background-size: 100% 800px;
  background-repeat: no-repeat;
}
.booster-container .booster-contant .overlay {
  width: 100%;
  min-height: 690px;
  background-image: url('./../../accounts/images/bg_cover.png');
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-size: 100% 800px;
  background-repeat: no-repeat;
}
/* End Container */

/* Strat Heading */
.booster-contant .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.booster-contant .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
@media (max-width: 1199px) {
  .booster-contant .heading h1 {
    font-size: 32px !important;
  }
}
.booster-contant .heading p {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 1199px) {
  .booster-contant .heading p {
    font-size: 16px;
  }
}
/* End Heading */

/* Start Roles */
.roles-container .role-heading button {
 width: 280px !important;
 font-size: 1.5rem !important;
 padding-top: 0 !important;
 padding-bottom: 0 !important;
}
.roles-container .roles {
  border-radius: calc(var(--main-radius) * 2);
  background-color: var(--main-color);
  display: none;
}
.roles .image img {
  width: 312px;
  height: 312px;
  border-radius: 50%;
}
.roles .section h3 {
  position: relative;
  width: fit-content;
  margin-bottom: 3rem;
}
.roles .section h3::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -63%;
  left: 0;
  background-color: var(--secondary-color);
}
.roles .instruction {
  counter-reset: section;
}
.roles .instruction p {
  counter-increment: section;
}
.roles .instruction p::before {
  content: counter(section) ". ";
}
.roles .understand-btn {
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roles .understand-btn button {
  width: 448px;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .roles .understand-btn button {
    font-size: 1.5rem;
  }
}
/* End Roles */