.history-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.history-container .history-landing {
  width: 100%;
  height: 690px;
  background-image: url('./../../games/images/games_bg.jpg');
  background-size: cover;
  background-position-y: -700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.history-container .history-landing::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./../../games/images/bg_cover.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.history-landing .heading {
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
}
.history-landing .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
.history-landing .heading p {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  .history-landing .heading h1 {
    font-size: 50px;
  }
  .history-landing .heading p {
    font-size: 1.2rem;
  }
}
/* Start Orders */
.history {
  position: relative;
  margin-top: -250px;
}
/* Start Table */
.table-container {
  max-height: 950px;
  overflow-x: auto;
  overflow-y: auto;
  padding: 0 0.5rem;
}
table {
  height: 100%;
}
/* Thead */
table thead {
  background-color: var(--main-color);
  color: white;
}
table thead tr:first-of-type th {
  border: none !important;
}
table thead th {
  border-bottom: 0.2px solid #aca1a140;
} 
table thead tr:first-of-type :first-of-type {
  border-top-left-radius: calc(var(--main-radius) * 2);
  font-size: 40px;
  font-family: var(--heading-font);
  padding-bottom: 0;
} 
table thead tr:first-of-type :last-of-type {
  border-top-right-radius: calc(var(--main-radius) * 2);
  font-family: inherit;
  font-size: 24px;
  padding-bottom: 0;
  line-height: 2;
}
table tr :first-of-type, table tr :last-of-type {
  padding: 1rem 3.5rem;
}
table :not(:first-of-type), table :not(:last-of-type) {
  padding: 1rem 0;
}
thead .title th:last-of-type span {
  padding: 0 !important;
  padding-right: 0.3rem !important;
  color: #FFFFFF80;
}
/* Tbody */
table tbody {
  color: white;
  background: #362c29;
}
table tbody tr:last-of-type :first-of-type {
  border-bottom-left-radius: calc(var(--main-radius) * 2);
} 
table tbody tr:last-of-type  :last-of-type {
  border-bottom-right-radius: calc(var(--main-radius) * 2);
}
table tbody td {
  border: none !important;
}
/* End Table */