.custom-input {
  background-color: transparent;
  border: 1px solid white;
  height: 50px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.custom-input:focus, .custom-textarea:focus {
  background-color: transparent;
  border: 1px solid #981964;      
  box-shadow: none !important;
  color: white;
}
input[type=file]::file-selector-button {
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 13px;
  margin-right: 20px;
  transition: .5s;
}
.custom-label {
  color: white !important;
  font-size: 17px;
}
a {
  display: block;
}
#image-clear_id {
  display: inline-flex;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.custom-label[for="image-clear_id"] {
  display: inline-block !important;
  margin: 0;
}
.custom-textarea {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.custom-select {
  background-color: transparent;
  height: 50px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.edit-container {
  background-image: url('./../images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-color);
  position: relative;
}
.edit-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 40%);
}
.edit-container .edit {
  position: relative;
  z-index: 100;
}
.information, .fields {
  background-color: #3d22625e;
  overflow: hidden;
}
.information .image {
  height: 150px;
  border-radius: 50%;
}
.information .design-image img {
  width: 100%;
  margin-top: 5rem;
}
.change-password {
  background-color: #3d22625e;
  width: 700px;
  max-width: 100%;
}
.message {
  background-color: #3d22625e;
  box-shadow: 0px 0px 8px 2px yellowgreen;
  position: relative;
  z-index: 100;
}