/* Start Base Design For Form Element */
input[type="radio"] {
  display: none;
}
label {
  display: inline-block;
  cursor: pointer;
}
/* Start Container */
.orders-jobs-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.orders-jobs-container .orders-jobs-contant {
  width: 100%;
  min-height: 690px;
  background-image: url('./../../accounts/images/customer_side_bg.jpg');
  background-size: cover;
  position: relative;
  background-position-y: -10px;
  background-size: 100% 800px;
  background-repeat: no-repeat;
  background-position: top center;
}
.orders-jobs-container .orders-jobs-contant .overlay {
  width: 100%;
  min-height: 690px;
  background-image: url('./../../accounts/images/bg_cover.png');
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-size: 100% 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
/* End Container */

/* Strat Heading */
.orders-jobs-contant .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.orders-jobs-contant .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
@media (max-width: 1199px) {
  .orders-jobs-contant .heading h1 {
    font-size: 32px !important;
  }
}
.orders-jobs-contant .heading p {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 1199px) {
  .orders-jobs-contant .heading p {
    font-size: 13px;
  }
}
/* End Heading */

/* Start Roles */
.roles-container .role-heading button {
 width: 280px !important;
 font-size: 1.5rem !important;
 padding-top: 0 !important;
 padding-bottom: 0 !important;
}
.roles-container .roles {
  border-radius: calc(var(--main-radius) * 2);
  background-color: var(--main-color);
  display: none;
}
.roles .image img {
  width: 312px;
  height: 312px;
  border-radius: 50%;
}
.roles .section h3 {
  position: relative;
  width: fit-content;
  margin-bottom: 3rem;
}
.roles .section h3::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -63%;
  left: 0;
  background-color: var(--secondary-color);
}
.roles .instruction {
  counter-reset: section;
}
.roles .instruction p {
  counter-increment: section;
}
.roles .instruction p::before {
  content: counter(section) ". ";
}
.roles .understand-btn {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roles .understand-btn button {
  width: 448px;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .roles .understand-btn button {
    font-size: 1rem;
  }
  .roles-container .role-heading button{
    width: 100% !important;
  }
}
/* End Roles */

/* Start Checkout Info */
.checkout-info {
  padding: 4rem;
  background-color: var(--main-color);
  border-radius: calc(var(--main-radius) * 2);
}
.checkout-info > p > span {
  display: inline-block;
  padding: 0 8px;
  border-radius: var(--main-radius);
  margin-right: 0.5rem;
}
@media (max-width: 992px) {
  .checkout-info > p {
    font-size: 12px;
  }
  .checkout-info > p > span {
    border-radius: 4px;
  }
}
@media (max-width: 767px) {
  .checkout-info {
    padding: 1rem;
  }
}
#turbo-boost {
  background: #FFC43980;
}
#stream-games {
  background: #BB00FF80;
}
#solo-game {
  background: #F36E3F80;
}
#duo-game {
  background: #00B0BD80;
}
#select-champion {
  background: #46D17980;
}
/* End Checkout Info */

#duo-or-solo {
  margin-left: 18px;
  padding: 4px 8px 6px;
  border-radius: var(--main-radius);
  font-weight: 300;
  font-size: 1rem;
}
#duo-or-solo.duo {
  background-color: #06A5B0 !important;
}
#duo-or-solo.solo {
  background-color: var(--secondary-color) !important;
}
.extra {
  padding: 0.5rem;
  background-color: var(--main-color);
  border-radius: var(--main-radius);
  width: fit-content;
}
.select-champion {
  color: #43BF70;
}
.stream-games {
  color: #BB00FF;
}
.order-container {
  position: relative;
}
.order {
  /* width: 100%;
  overflow-x: auto; */
}
.order-container .champions {
  width: fit-content;
  padding: 13px 15px;
  background: linear-gradient(0deg, #3C312D, #3C312D), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border: 1px solid #ffffff33;
  box-shadow: 0px 0px 20px 0px #332A2740;
  border-radius: var(--main-radius);
  position: absolute;
  top: -21%;
  left: 18%;
}
.order-container .champions .champion:not(:last-of-type) {
  margin-right: 15px;
}
.order .increase-amount {
  text-align: center;
  margin-left: -90px;
  margin-top: 1rem;
}
.order .increase-amount span:first-of-type {
  color: var(--secondary-color);
}
.order .increase-amount span:last-of-type {
  color: #FFC439;
}
.final-price {
  color: #FFC439;
}
.order {
  li {
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
  }
  .table-header {
    /* width: 1384px; */
    background-color: var(--main-color);
    border-bottom: 0.2px solid #aca1a140;
    box-shadow: 0px 0px 7px 0px #00000040;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-top-left-radius: calc(var(--main-radius) * 2);
    border-top-right-radius: calc(var(--main-radius) * 2);
    overflow-x: auto;
  }
  .table-header.turbo-boost-header {
    background: #cc9d2e !important;
  }
  .table-row {
    /* height: 224px;
    width: 1384px; */
    /* overflow-x: auto; */
    background: #362c29;
    border-bottom-left-radius: calc(var(--main-radius) * 2);
    border-bottom-right-radius: calc(var(--main-radius) * 2);
  }
  .table-row.turbo-boost-row {
    background-color: #a37e25 !important;
  }
  .col {
    flex-basis: calc(100% / 7);
  }
  .table-row .col {
    padding: 3.5rem 0;
  }
  .table-row .col-1 {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .table-row .col-7 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col-hidden {
    display: none;
  }

  @media all and (max-width: 1199px) {
    .table-row .col, .table-row .col p, .table-row div, .table-row a {
      font-size: 12px;
    }
  }
  
  @media all and (max-width: 767px) {
    .table-row .col, .table-row .col p, .table-row div, .table-row a {
      font-size: 0.9rem !important;
    }
    .table-header {
      display: none;
    }
    .table-row {
      display: flex !important;
      flex-wrap: wrap;
      border-radius: 8px;
      padding: 23px 21px;
    }
    li {
      display: block;
    }
    .col-6, .col-7 {
      display: inline-block;
    }
    .col {
      display: flex !important;
      flex-basis: 100% !important;
      justify-content: space-between;
    }
    .col-2 .select-champion, .col-3 .stream-games {
      display: none;
    }
    .col:not(.col-7):not(.col-hidden) {
      padding: 0 0 1rem !important;
      &:before {
        color: #ffffff80;
        content: attr(data-label);
        flex-basis: 50%;
        font-size: 0.9rem !important;
      }
    }
    .col-hidden {
      display: flex;
      justify-content: space-between;
      padding: 0 0 1rem !important;
    }
    .col-hidden .extra {
      font-size: 11px !important;
    }
    .col-7 {
      padding: 0 !important;
    }
    .col-7 > div, .col-7 > div > a {
      width: 100%;
    }
  }
}
/* End Incoming Orders */