.rate-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.rate-container .rate-landing {
  width: 100%;
  height: 690px;
  background-image: url('./../../games/images/games_bg.jpg');
  background-size: cover;
  background-position-y: -277px;
  background-position-x: center; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}
@media (max-width: 1199px) {
  .rate-container .rate-landing {
    background-position-y: -167px;
  }
}
@media (max-width: 767px) {
  .rate-container .rate-landing {
    background-position-y: -66px;
  }
}
.rate-container .rate-landing::before {
  content: "";
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(72, 54, 33, 0.65) 0%, #1E1814 64.35%);
}
.rate-landing .heading {
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
}
.rate-landing .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
.rate-landing .heading p {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  .rate-landing .heading {
    top: 23%;
  }
  .rate-landing .heading h1 {
    font-size: 31px;
  }
  .rate-landing .heading p {
    font-size: 1rem;
  }
}
/* Start Orders */
.rate {
  position: relative;
  margin-top: -310px;
  margin-bottom: 50px;
}
.rate-part {
  background-color: var(--main-color);
  border-radius: calc(var(--main-radius) * 2);
}
.rate-stars {
  height: 80px; 
  width: 400px;
}
.rating-container {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border: none;
  position: relative;
  background: var(--secondary-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 2px 2px rgba(0, 0, 0, 0.075), 0 4px 4px rgba(0, 0, 0, 0.075), 0 8px 8px rgba(0, 0, 0, 0.075), 0 16px 16px rgba(0, 0, 0, 0.075);
}
.rating-container .rating-value {
  position: absolute;
  top: -6px;
  left: -53px;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  background: #ffbb00;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 2px 2px rgba(0, 0, 0, 0.075), 0 4px 4px rgba(0, 0, 0, 0.075), 0 8px 8px rgba(0, 0, 0, 0.075), 0 16px 16px rgba(0, 0, 0, 0.075), inset 0 0 10px #f7db5e, 0 0 10px #f7db5e;
}
.rating-container .rating-value:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  line-height: 90px;
  font-size: 2.5em;
  color: var(--secondary-color);
  content: "0";
  transform-origin: "center center";
  transition: all 0.25s ease 0s;
}
.rating-container .rating-value:after {
  content: "";
  position: absolute;
  height: 90px;
  width: 90px;
  top: -1px;
  left: -1px;
  margin: auto;
  /* border: 1px solid #ffbb00; */
  border-radius: 50%;
  transition: all 0.4s ease-in;
}
.rating-container input {
  display: none;
}
.rating-container label {
  height: 50px;
  width: 50px;
  transform-origin: "center center";
}
.rating-container label svg {
  transition: transform 0.4s ease-in-out;
  opacity: 0.5;
}
.rating-container label:hover svg {
  transform: scale(1.25) rotate(10deg);
}
@media (max-width: 767px) {
  .rate {
    margin-top: -410px;
  }
  .rate-part h4 {
    font-size: 16px !important;
  }
}
.comment {
  margin-top: -1rem !important;
}
input:checked ~ label svg {
  opacity: 1;
  transform: scale(1.25) rotate(10deg);
}

label:hover svg,
label:hover ~ label svg {
  opacity: 1;
  transform: scale(1.25) rotate(10deg);
}

input:checked + label:hover svg {
  opacity: 1;
}
input:checked ~ label:hover svg,
input:checked ~ label:hover ~ label svg {
  opacity: 1;
}

label:hover ~ input:checked ~ label svg {
  opacity: 1;
}

#rate1:checked ~ .rating-value:before {
  content: "1";
  font-size: 2.5em;
}

label[for=rate1]:hover ~ .rating-value:before {
  content: "1" !important;
  font-size: 2.5em !important;
}
#rate2:checked ~ .rating-value:before {
  content: "2";
  font-size: 2.75em;
}
label[for=rate2]:hover ~ .rating-value:before {
  content: "2" !important;
  font-size: 2.75em !important;
}
#rate3:checked ~ .rating-value:before {
  content: "3";
  font-size: 3em;
}

label[for=rate3]:hover ~ .rating-value:before {
  content: "3" !important;
  font-size: 3em !important;
}
#rate4:checked ~ .rating-value:before {
  content: "4";
  font-size: 3.25em;
}
label[for=rate4]:hover ~ .rating-value:before {
  content: "4" !important;
  font-size: 3.25em !important;
}
#rate5:checked ~ .rating-value:before {
  content: "5";
  font-size: 3.5em;
}
@media (max-width: 767px) {
  .rate-stars {
    width: 100%;
  }
  .rating-container label {
    height: 34px;
    width: 34px;
  }
  .rating-container .rating-value {
    display: none;
  }
  .rating-container {
    border-radius: 75px;
  }
}
@keyframes pulse {
  0% {
    height: 90px;
    width: 90px;
    top: -1px;
    left: -1px;
    opacity: 1;
  }
  100% {
    height: 120px;
    width: 120px;
    top: -16px;
    left: -16px;
    opacity: 0;
  }
}
#rate5:checked ~ .rating-value:after {
  animation: pulse 0.4s ease-out 1;
}
label[for=rate5]:hover ~ .rating-value:before {
  content: "5" !important;
  font-size: 3.75em !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1E1814;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4.5px;
  bottom: 3.7px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--secondary-color);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-color);
}
input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}