{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5ZW3J6P3');</script>
    <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Work With Us</title>
  <!-- CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
  <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet">
  <link href="{% static 'base/css/master.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/fields.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/framework.css' %}" rel="stylesheet">
  <!-- Favicon -->
  <link id="favicon" rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <!-- Custom CSS -->
  <link href="{% static 'accounts/css/account-actions.css' %}" rel="stylesheet">
  <style>
    .linkToPage {
      color: var(--secondary-color) !important;
    }
    input[type='checkbox']#agree_privacy {
      display: none;
    }
    .labelForCheckbox {
      width: 18px;
      height: 18px;
      border: 1px solid var(--secondary-color);
    }
    input[type='checkbox']#agree_privacy:checked + .labelForCheckbox {
      background-color: var(--secondary-color);
      position: relative;
    }
    input[type='checkbox']#agree_privacy:checked + .labelForCheckbox::after {
      content: '\f00c';
      font-family: "Font Awesome 6 Free";
      font-weight: 600;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 13px;
    }

  </style>
</head>
<body>
     <!-- Google Tag Manager (noscript) -->
     <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZW3J6P3"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  <!-- Start Header -->
  {% include 'widgets/header.html' %}
  <!-- End Header -->
  
  <!-- Work With Us Content -->
  <div class="workwithus-content content">
    <div class="overlay">
      <div class="container py-xl-5 py-0">
        <div class="row row-cols-xl-2 row-cols-1 py-xl-5 py-0 mt-5">
          <div class="col left-side d-xl-block d-none">
            <div class="image">
              <img src="{% static 'accounts/images/workwithus.png' %}" class="img-fluid" alt="Landing">
            </div>
            <div class="text mt-5">
              <h1>REACH YOUR RANK <span>GOALS</span></h1>
              <p>with <span>MadBoost.gg</span> your ally in the eSports arena.</p>
            </div>
          </div>

          <div class="col right-side">
            <div class="ps-xl-5 ps-0 mx-xl-4 mx-0">
              <div class="head">
                <h1>Work with us</h1>
                <p class="mb-4 text-center">Fill in your data & information</p>
                <div class="progress mb-5">
                  <div class="progress-bar" style="width: 100%;" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <form method="POST">
                {% csrf_token %}
                <!-- Display form validation errors -->
                {% if form.non_field_errors %}
                  <div class="message error-message">
                    {{ form.non_field_errors }}
                  </div>
                {% endif %}
                <!-- Render each field in the form -->
                <div class="mb-4">
                  <label for="{{ form.about_you.id_for_label }}" class="d-block mb-2">About you </label>
                  {{ form.about_you }}
                  {% if form.about_you.errors %}
                    <div class="message error-message">
                      {{ form.about_you.errors }}
                    </div>
                  {% endif %}
                </div>
                <div class="mb-4">
                  <label for="{{ form.country.id_for_label }}" class="d-block mb-2">Country </label>
                  <div class="select-container">
                    {{ form.country }}
                  </div>
                  {% if form.country.errors %}
                    <div class="error">
                      {{ form.country.errors }}
                    </div>
                  {% endif %}
                </div>
                <div class="mb-5 d-flex align-items-center">
                  <input type="checkbox" name="agree_privacy" id="agree_privacy" class="me-3" required>
                  <label for="agree_privacy" class="me-4 labelForCheckbox"></label>
                  <label for="agree_privacy">By pressing submit you agree to our <a href="{% url 'terms.service' %}" class="linkToPage">Terms of Service</a>
                    & our <a href="{% url 'privacy.policy' %}" class="linkToPage">Privacy Policy</a>.</label>
                </div>
                <button type="submit" class="btn custom-btn filled w-100">Next</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Work With Us Content -->

  <!-- JavaScript -->
  <script src="{% static 'jQuery/jquery-3.7.0.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'base/js/base.js' %}"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>
</html>
