{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Orders From wildRift{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'wildRift/css/orders.css'%}">
{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-transparent">
    <div class="container position-relative align-items-center ">
      <a class="navbar-brand" href="{% url 'homepage.index' %}">Game Boosters</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-items-center ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">FAQ</a>
          </li>
          {% if user.id %}
          <div class="dropdown">
            <button class="btn text-white dropdown-toggle border-0" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{user.first_name}} {{user.last_name}}
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'accounts.profile' %}">My Porfile </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'account.logout' %}">Logout</a>
              </li>
            </ul>
          </div>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account.login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts.register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>
{% endblock %}
{% block container %}
  <div class="orders container-fluid p-5">
    <div class="container py-5">

      <!-- --------------- Placements Boost Orders --------------- -->
      <div >
        <h1>TYPE: {{order_type}}</h1>
        <h1>ORDER: {{order}}</h1>
      </div>

    </div>
  </div>
{% endblock %}
{% block footer %}
<!-- Start Footer -->
<div class="footer">
  <div class="container">
    <img src="{% static 'homepage/images/logo.png' %}" alt="Logo" />
    <p>We Are Social</p>
    <div class="social-icons">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-solid fa-house"></i>
      <i class="fa-brands fa-linkedin-in"></i>
    </div>
    <div class="copyright text-center">&copy; 2023 <span>Game Booster</span> All Right Reserved</div>
  </div>
</div>
<!-- End Footer -->
{% endblock %}
{% block script %}
<script src="{% static 'wildRift/js/orders.js' %}"></script>
{% endblock %}