{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Wild Rift Orders{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'wildRift/css/orders.css'%}">
{% endblock %}
{% block container %}
  <div class="orders container-fluid p-5">
    <div class="container py-5">

      <!-- --------------- Placements Boost Orders --------------- -->
      <div >
        <h1>TYPE: {{order_type}}</h1>
        <h1>ORDER: {{order}}</h1>
      </div>

    </div>
  </div>
{% endblock %}
{% block script %}
<script src="{% static 'wildRift/js/orders.js' %}"></script>
{% endblock %}