{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Game Boosters{% endblock %}
{% block style %}
<link href="{% static 'wildRift/css/wildRift.css'%}" rel="stylesheet" />
<link href="{% static 'wildRift/css/placement.css'%}" rel="stylesheet" />
{% endblock %}
{% block container %}
<div class="container-fluid py-5 wild-rift">
    <div class="container py-5">
        <div class="choise text-center mb-3">
            <input type="radio" id="division-boost" name="radio-group-type" checked>
            <label for="division-boost" class="me-2">Division Boost</label>
            <input type="radio" id="placements-boost" name="radio-group-type">
            <label for="placements-boost" class="me-2">Placements Boost</label>
        </div>

        <!-- -------------------------------- Division Boost ----------------------------- -->
        <div class="choices division-boost row justify-content-center flex-wrap py-5 rounded-3 shadow">
            <div class="col-lg-5 col-12 mb-lg-0 mb-5">
                <h5 class="mb-4">Cuurent Division</h5>
                <div class="ranks d-flex justify-content-start align-items-center flex-wrap">
                    {% for rank in ranks %}
                    {% if not forloop.last %}
                    {% with mark=rank.mark %}
                    <input type="radio" id="radio{{rank.id}}" name="radio-group-current" data-id="{{rank.id}}" data-name="{{rank.rank_name}}" 
                    data-mark="{{mark.mark_number}}" {% if forloop.counter0 == 2 %} checked {% endif %}>
                    <label for="radio{{rank.id}}" class="me-2"><img class="text-center" src="{{rank.get_image_url}}" width="30" height="30" /></label>
                    {% endwith %}
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="current-dcontainer d-flex flex-wrap justify-content-start align-items-center">
                    <input type="radio" id="current-division0" name="radio-group-current-division" data-id="1" data-name="IV">
                    <label for="current-division0" class="me-2 py-2 px-3">IV</label>

                    <input type="radio" id="current-division1" name="radio-group-current-division" data-id="2" data-name="III">
                    <label for="current-division1" class="me-2 py-2 px-3">III</label>

                    <input type="radio" id="current-division2" name="radio-group-current-division" data-id="3" data-name="II" checked>
                    <label for="current-division2" class="me-2 py-2 px-3">II</label>

                    <input type="radio" id="current-division3" name="radio-group-current-division" data-id="4" data-name="I">
                    <label for="current-division3" class="me-2 py-2 px-3">I</label>
                </div>
                <div class="current-marks d-flex flex-wrap justify-content-start align-items-center">

                    <!-- mark 0 selected -->
                    <div class="current-mark-container" data-mark="0">
                        <input type="radio" id="current-mark0" name="radio-group-current-mark"
                        class="px-3 py-2 mb-3 border border-1 bg-light text-dark me-2 rounded-3 text-decoration-none" checked>
                        <label for="current-mark0" class="me-2 py-2 px-4">0 Mark</label>
                    </div>

                    <!-- mark 1  -->
                    <div class="current-mark-container" data-mark="1">
                        <input type="radio" id="current-mark1" name="radio-group-current-mark"
                        class="px-3 py-2 mb-3 border border-1 bg-light text-dark me-2 rounded-3 text-decoration-none">
                        <label for="current-mark1" class="me-2 py-2 px-4">1 Mark</label>
                    </div>

                    <!-- mark 2  -->
                    <div class="current-mark-container" data-mark="2">
                        <input type="radio" id="current-mark2" name="radio-group-current-mark"
                        class="px-3 py-2 mb-3 border border-1 bg-light text-dark me-2 rounded-3 text-decoration-none">
                        <label for="current-mark2" class="me-2 py-2 px-4">2 Mark</label>
                    </div>

                    <!-- mark 3  -->
                    <div class="current-mark-container" data-mark="3">
                        <input type="radio" id="current-mark3" name="radio-group-current-mark"
                        class="px-3 py-2 mb-3 border border-1 bg-light text-dark me-2 rounded-3 text-decoration-none">
                         <label for="current-mark3" class="me-2 py-2 px-4">3 Mark</label>
                    </div>

                    <!-- mark 4  -->
                    <div class="current-mark-container" data-mark="4">
                        <input type="radio" id="current-mark4" name="radio-group-current-mark"
                        class="px-3 py-2 mb-3 border border-1 bg-light text-dark me-2 rounded-3 text-decoration-none">
                        <label for="current-mark4" class="me-2 py-2 px-4">4 Mark</label>
                    </div>

                    <!-- mark 5  -->
                    <div class="current-mark-container" data-mark="5">
                        <input type="radio" id="current-mark5" name="radio-group-current-mark"
                        class="px-3 py-2 mb-3 border border-1 bg-light text-dark me-2 rounded-3 text-decoration-none">
                        <label for="current-mark5" class="me-2 py-2 px-4">5 Mark</label>
                    </div>
        
                </div>
            </div>

            <div class="col-lg-5 col-12">
                <h5 class="mb-4">Desired Division</h5>
                <div class="ranks d-flex justify-content-start align-items-center flex-wrap">
                    {% for rank in ranks %}
                    {% with mark=rank.mark %}
                    <input type="radio" id="radio{{rank.id}}{{rank.id}}" name="radio-group-desired" data-id="{{rank.id}}" data-name="{{rank.rank_name}}" data-mark="{{mark.mark_number}}" {% if forloop.counter0 == 3 %} checked {% endif %}>
                    <label for="radio{{rank.id}}{{rank.id}}" class="me-2"><img class="text-center" src="{{rank.get_image_url}}" width="30" height="30" /></label>
                    {% endwith %}
                    {% endfor %}
                </div>
                <div id="desired-division" class="desired-dcontainer flex-wrap justify-content-start align-items-center d-flex">
                    <input type="radio" id="desired-division0" name="radio-group-desired-division" data-id="1" data-name="IV">
                    <label for="desired-division0" class="me-2 py-2 px-3">IV</label>

                    <input type="radio" id="desired-division1" name="radio-group-desired-division" checked data-id="2" data-name="III">
                    <label for="desired-division1" class="me-2 py-2 px-3">III</label>

                    <input type="radio" id="desired-division2" name="radio-group-desired-division" data-id="3" data-name="II">
                    <label for="desired-division2" class="me-2 py-2 px-3">II</label>

                    <input type="radio" id="desired-division3" name="radio-group-desired-division" data-id="4" data-name="I">
                    <label for="desired-division3" class="me-2 py-2 px-3">I</label>

                </div>
            </div>
        </div>

        <!-- -------------------------- Placements Boost ------------------------- -->
        <div class="choices placements-boost row justify-content-center flex-wrap py-5 rounded-3 shadow">
            <!-- Previous Season Rank  -->
            <div class="col-lg-5 col-12 mb-lg-0 mb-5">
                <h5 class="mb-4">Previous Season Rank</h5>
                <div class="ranks d-flex justify-content-start align-items-center flex-wrap">
                    {% for rank in placements %}
                    <input type="radio" id="rank{{rank.id}}" name="radio-group-ranks" data-id="{{rank.id}}" data-price="{{rank.price}}" {% if forloop.counter0 == 0 %} checked {% endif %}>
                    <label for="rank{{rank.id}}" class="me-2"><img class="text-center" src="{{rank.get_image_url}}" width="30" height="30" /></label>
                    {% endfor %}
                </div>
            </div>

            <!-- Games Count -->
            <div class="col-lg-5 col-12 mb-lg-0 mb-5">
                <h5 class="mb-4">Games Count</h5>
                <div class="range">
                    <input type="range" min="1" max="5" value="5" step="1" id="game-count" /> 
                    <div class="value">5</div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="spikes"></div>
<div class="container-fluid py-5 price">
    <div class="container py-5">
        <div class="price-container row justify-content-center flex-wrap py-5 rounded-3 shadow">
            <div class="price-data division-boost col-10 text-end"></div>
            <div class="price-data placements-boost col-10 text-end"></div>
            <div class="purchase col-10 text-center mt-4">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn purchase-btn rounded-3"><i class="fa-solid fa-shield-heart"></i> Purchase</button>
                </form>
            </div>
        </div>
    </div>
    <!-- ------------------------------- -->
   
</div>
{% endblock %}
{% block script %}
<script src="{% static 'wildRift/js/main.js' %}"></script>
<script src="{% static 'wildRift/js/division-boost.js' %}"></script>
<script src="{% static 'wildRift/js/placements-boost.js' %}"></script>
{% endblock %}