{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Game Boosters{% endblock %}
{% block style %}
<link href="{% static 'wildRift/css/wildRift.css'%}" rel="stylesheet" />
<link href="{% static 'wildRift/css/placement.css'%}" rel="stylesheet" />
{% endblock %}
{% block container %}
<div class='body py-5'>
<div class="container-fluid wild-rift">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class="py-3 mx-auto" style="width: 550px;">
                <div class="alert {{ message.tags }} alert-dismissible mb-0 message" role="alert" >
                {{ message }}
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <div class="choise text-center mb-3">
            <input type="radio" id="division-boost" name="radio-group-type" checked>
            <label for="division-boost" class="me-2">Division Boost</label>
            <input type="radio" id="placements-boost" name="radio-group-type">
            <label for="placements-boost" class="me-2">Placements Boost</label>
        </div>

        <div class="choices py-5 rounded-3 shadow px-lg-0 px-5">
            <!-- ------------------------------ Division Boost --------------------------- -->
            <div class="division-boost row justify-content-center flex-wrap">
                <div class="col-lg-5 col-12 mb-lg-0 mb-5">
                    <h5 class="mb-4">Cuurent Division</h5>
                    <div class="ranks d-flex justify-content-start align-items-center flex-wrap">
                        {% for rank in ranks|slice:":8" %}
                        {% if not forloop.last %}
                        {% with mark=rank.mark %}
                        <input type="radio" id="radio{{rank.id}}" name="radio-group-current" data-id="{{rank.id}}" data-name="{{rank.rank_name}}" 
                        data-mark="{{mark.mark_number}}" {% if forloop.counter0 == 2 %} checked {% endif %}>
                        <label for="radio{{rank.id}}" class="me-2"><img class="text-center" src="{{rank.get_image_url}}" width="30" height="30" /></label>
                        {% endwith %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="current-dcontainer d-flex flex-wrap justify-content-start align-items-center">
                        <input type="radio" id="current-division0" name="radio-group-current-division" data-id="1" data-name="IV">
                        <label for="current-division0" class="me-2 py-2 px-3">IV</label>
    
                        <input type="radio" id="current-division1" name="radio-group-current-division" data-id="2" data-name="III">
                        <label for="current-division1" class="me-2 py-2 px-3">III</label>
    
                        <input type="radio" id="current-division2" name="radio-group-current-division" data-id="3" data-name="II" checked>
                        <label for="current-division2" class="me-2 py-2 px-3">II</label>
    
                        <input type="radio" id="current-division3" name="radio-group-current-division" data-id="4" data-name="I">
                        <label for="current-division3" class="me-2 py-2 px-3">I</label>
                    </div>
                    <div class="current-marks d-flex flex-wrap justify-content-start align-items-center">
    
                        <!-- mark 0 selected -->
                        <div class="current-mark-container" data-mark="0">
                            <input type="radio" id="current-mark0" name="radio-group-current-mark"
                            class="px-3 py-2 mb-3 border border-1 bg-light text-dark me-2 rounded-3 text-decoration-none" checked>
                            <label for="current-mark0" class="me-2 py-2 px-4">0 Mark</label>
                        </div>
    
                        <!-- mark 1  -->
                        <div class="current-mark-container" data-mark="1">
                            <input type="radio" id="current-mark1" name="radio-group-current-mark"
                            class="px-3 py-2 mb-3 border border-1 bg-light text-dark me-2 rounded-3 text-decoration-none">
                            <label for="current-mark1" class="me-2 py-2 px-4">1 Mark</label>
                        </div>
    
                        <!-- mark 2  -->
                        <div class="current-mark-container" data-mark="2">
                            <input type="radio" id="current-mark2" name="radio-group-current-mark"
                            class="px-3 py-2 mb-3 border border-1 bg-light text-dark me-2 rounded-3 text-decoration-none">
                            <label for="current-mark2" class="me-2 py-2 px-4">2 Mark</label>
                        </div>
    
                        <!-- mark 3  -->
                        <div class="current-mark-container" data-mark="3">
                            <input type="radio" id="current-mark3" name="radio-group-current-mark"
                            class="px-3 py-2 mb-3 border border-1 bg-light text-dark me-2 rounded-3 text-decoration-none">
                             <label for="current-mark3" class="me-2 py-2 px-4">3 Mark</label>
                        </div>
    
                        <!-- mark 4  -->
                        <div class="current-mark-container" data-mark="4">
                            <input type="radio" id="current-mark4" name="radio-group-current-mark"
                            class="px-3 py-2 mb-3 border border-1 bg-light text-dark me-2 rounded-3 text-decoration-none">
                            <label for="current-mark4" class="me-2 py-2 px-4">4 Mark</label>
                        </div>
    
                        <!-- mark 5  -->
                        <div class="current-mark-container" data-mark="5">
                            <input type="radio" id="current-mark5" name="radio-group-current-mark"
                            class="px-3 py-2 mb-3 border border-1 bg-light text-dark me-2 rounded-3 text-decoration-none">
                            <label for="current-mark5" class="me-2 py-2 px-4">5 Mark</label>
                        </div>
            
                    </div>
                </div>
    
                <div class="col-lg-5 col-12">
                    <h5 class="mb-4">Desired Division</h5>
                    <div class="ranks d-flex justify-content-start align-items-center flex-wrap">
                        {% for rank in ranks|slice:":8" %}
                        {% with mark=rank.mark %}
                        <input type="radio" id="radio{{rank.id}}{{rank.id}}" name="radio-group-desired" data-id="{{rank.id}}" data-name="{{rank.rank_name}}" data-mark="{{mark.mark_number}}" {% if forloop.counter0 == 3 %} checked {% endif %}>
                        <label for="radio{{rank.id}}{{rank.id}}" class="me-2"><img class="text-center" src="{{rank.get_image_url}}" width="30" height="30" /></label>
                        {% endwith %}
                        {% endfor %}
                    </div>
                    <div id="desired-division" class="desired-dcontainer flex-wrap justify-content-start align-items-center d-flex">
                        <input type="radio" id="desired-division0" name="radio-group-desired-division" data-id="1" data-name="IV">
                        <label for="desired-division0" class="me-2 py-2 px-3">IV</label>
    
                        <input type="radio" id="desired-division1" name="radio-group-desired-division" checked data-id="2" data-name="III">
                        <label for="desired-division1" class="me-2 py-2 px-3">III</label>
    
                        <input type="radio" id="desired-division2" name="radio-group-desired-division" data-id="3" data-name="II">
                        <label for="desired-division2" class="me-2 py-2 px-3">II</label>
    
                        <input type="radio" id="desired-division3" name="radio-group-desired-division" data-id="4" data-name="I">
                        <label for="desired-division3" class="me-2 py-2 px-3">I</label>
    
                    </div>
                </div>
            </div>

            <!-- -------------------------- Placements Boost ------------------------- -->
            <div class="placements-boost row justify-content-center flex-wrap">
                <!-- Previous Season Rank  -->
                <div class="col-lg-5 col-12 mb-lg-0 mb-5">
                    <h5 class="mb-4">Previous Season Rank</h5>
                    <div class="ranks d-flex justify-content-start align-items-center flex-wrap">
                        {% for rank in placements %}
                        <input type="radio" id="rank{{rank.id}}" name="radio-group-ranks" data-id="{{rank.id}}" data-price="{{rank.price}}" {% if forloop.counter0 == 0 %} checked {% endif %}>
                        <label for="rank{{rank.id}}" class="me-2"><img class="text-center" src="{{rank.get_image_url}}" width="30" height="30" /></label>
                        {% endfor %}
                    </div>
                </div>

                <!-- Games Count -->
                <div class="col-lg-5 col-12 mb-lg-0 mb-5">
                    <h5 class="mb-4">Games Count</h5>
                    <div class="range">
                        <input type="range" min="1" max="5" value="5" step="1" id="game-count" /> 
                        <div class="value">5</div>
                    </div>
                </div>
            </div>

            <hr class="hr border border-3 mt-4 mx-auto">
            <div class='extraChargesSection'>
                <div>
                    <button class='extraChargesButton' id='duoBoostingButton'>Duo Boosting</button>
                    <button class='extraChargesButton' id='selectBoosterButton'>Select Booster</button>
                    <button class='extraChargesButton' id='turboBoostButton'>Turbo Boost</button>
                    <button class='extraChargesButton' id='streamingButton'>Streaming</button>
                </div>
                <div class='duoBoostingContent'>
                    <p class='title'>Duo Boosting (+65%) </p>
                    <div class='extraChargesBody'>
                        <p class='p-0 m-0'>Are you willing to play on your own account with our booster as a partner? Then select this option!</p>
                        <p class='p-0 m-0'>"Duo Boost" option is not available in a combination with "Choose Champions" option, "Choose Champions" option and will be ignored.</p>
                        <div class='d-flex justify-content-end'>
                            <button class='button applyButton' id='duoBoostingApplyButton'>Apply</button>
                        </div>
                    </div>
                </div>
                <div class='selectBoosterContent'>
                    <p class='title'>Select Booster (+5%) </p>
                    <div class='extraChargesBody'>
                        <p class='p-0 m-0'>Did you like your previous Booster or you are looking forward to select a specific person to work on your account? Use this option to select the right booster!</p>
                        <div class='d-flex justify-content-end'>
                            <button class='button applyButton' id='selectBoosterApplyButton'>Apply</button>
                        </div>
                    </div>
                </div>
                <div class='turboBoostContent'>
                    <p class='title'>Turbo Boost (+20%) </p>
                    <div class='extraChargesBody'>
                        <p class='p-0 m-0'>We will increase the payout for your order and will stick it to the top of our pending queue.</p>
                        <div class='d-flex justify-content-end'>
                            <button class='button applyButton' id='turboBoostApplyButton'>Apply</button>
                        </div>
                    </div>
                </div>
                <div class='streamingContent'>
                    <p class='title'>Streaming (+15%) </p>
                    <div class='extraChargesBody'>
                        <p class='p-0 m-0'>With this option turned on you will be able to watch everything your booster sees during the boosting process.</p>
                        <div class='d-flex justify-content-end'>
                            <button class='button applyButton' id='streamingApplyButton'>Apply</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -------------------------- Purchase Section ------------------------- -->
            <br/>
            <br/>
            <hr class="hr border border-3 mt-5 mb-0" style='width:100% !important'>
            <div class="row py-5 rounded-3 purchase-Section">
                <div class="price-data division-boost col-10 text-start"></div>
                <div class="price-data placements-boost col-10 text-start"></div>
                <center>
                    <form action= "http://127.0.0.1:8000/wildRift/paypal/" method="post" id="purchaseForm">
                        <input type="hidden" name="game_id" value="0">
                        <input type="hidden" name="current_rank" value="1">
                        <input type="hidden" name="current_division" value="1">
                        <input type="hidden" name="marks" value="1">
                        <input type="hidden" name="desired_rank" value="3">
                        <input type="hidden" name="desired_division" value="1">
                        <input type="hidden" name="try" value="try">
                        <input type="hidden" name="duo_boosting" id="duoBoosting" value=false>
                        <input type="hidden" name="select_booster" id="selectBooster" value=false>
                        <input type="hidden" name="turbo_boost" id="turboBoost" value=false>
                        <input type="hidden" name="streaming" id="streaming" value=false>
                        <input type="hidden" name="price" value="120">
                        <input type="hidden" id="chooseBoosterInput" name="choose_booster" readonly>
                    
                        <div class="purchase col-10 mt-4">
                            <button id="submitBtn" type="submit" class="btn purchase-btn rounded-3"><i class="fa-solid fa-shield-heart"></i> Purchase</button>
                        </div>
                    </form>
                </center>
            </div>

        </div>
    </div>
</div>
{% comment %} <div class="spikes"></div> {% endcomment %}
{% comment %} <div class="container-fluid py-5 price">
    <div class="container py-5">
        <div class="price-container row justify-content-center flex-wrap py-5 rounded-3 shadow">
            <div class="price-data division-boost col-10 text-start">
            </div>

            <div class="price-data placements-boost col-10 text-end"></div>
            <div class="purchase col-10 text-center mt-4">
                <button type="button" class="btn purchase-btn rounded-3"><i class="fa-solid fa-shield-heart"></i> Purchase</button>
            </div>
        </div>
    </div>
    <!-- ------------------------------- -->
</div> {% endcomment %}
</div>
{% endblock %}
{% block script %}
<script src="{% static 'wildRift/js/main.js' %}"></script>
<script src="{% static 'wildRift/js/division-placement-boost.js' %}"></script>
{% endblock %}