{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Game Boosters{% endblock %}
{% block style %}
<link href="{% static 'wildRift/css/wildRift.css'%}" rel="stylesheet" />
{% endblock %}
{% block container %}
<div class="container-fluid py-5 my-5">
    <div class="container">
        <div class="choices row justify-content-center ">
            <div class="col-5">
                <h5 class="mb-4">Cuurent Division</h5>
                <div class="ranks d-flex justify-content-start align-items-center">
                    {% for rank in ranks %}
                    {% if not forloop.last %}
                    {% with mark=rank.mark %}
                    <input type="radio" id="radio1" name="radio-group-current" data-id="{{rank.id}}" data-name="{{rank.rank_name}}" data-mark="{{mark.mark_number}}">
                    <label for="radio{{rank.id}}"><img class="text-center" src="{{rank.get_image_url}}" width="30"
                            height="30" /></label>
                    {% endwith %}
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="current-dcontainer d-flex flex-wrap justify-content-start align-items-center mt-3">
                    <input type="radio" id="current-division0" name="radio-group-current-division">
                    <label for="current-division0">IV</label>

                    <input type="radio" id="current-division1" name="radio-group-current-division">
                    <label for="current-division1">III</label>

                    <input type="radio" id="current-division2" name="radio-group-current-division">
                    <label for="current-division2">II</label>

                    <input type="radio" id="current-division3" name="radio-group-current-division" checked>
                    <label for="current-division3">I</label>
                </div>
                <div class="current-marks d-flex flex-wrap justify-content-start align-items-center"></div>
            </div>

            <div class="col-5">
                <h5 class="mb-4">Desired Division</h5>
                <div class="ranks d-flex justify-content-start align-items-center">
                    {% for rank in ranks %}
                    {% with mark=rank.mark %}
                    <input type="radio" id="radio1" name="radio-group-current" data-id="{{rank.id}}" data-name="{{rank.rank_name}}" data-mark="{{mark.mark_number}}">
                    <label for="radio{{rank.id}}"><img class="text-center" src="{{rank.get_image_url}}" width="30"
                            height="30" /></label>
                    {% endwith %}
                    {% endfor %}
                </div>
                <div class="desired-dcontainer d-flex flex-wrap justify-content-start align-items-center mt-3">
                    <input type="radio" id="desired-division0" name="radio-group-desired-division">
                    <label for="desired-division0">IV</label>

                    <input type="radio" id="desired-division1" name="radio-group-desired-division" checked>
                    <label for="desired-division1">III</label>

                    <input type="radio" id="desired-division2" name="radio-group-desired-division">
                    <label for="desired-division2">II</label>

                    <input type="radio" id="desired-division3" name="radio-group-desired-division">
                    <label for="desired-division3">I</label>

                </div>
            </div>
        </div>

        <div class="price-container">
        </div>
        <!-- ------------------------------- -->
        <!-- <form method="post">
            {% csrf_token %}
            <button type="submit">Purchase</button>
        </form> -->
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'wildRift/js/wildRift.js' %}"></script>
{% endblock %}