<div class="updata-now">
  <form action="{% url 'order.update.rating' order_id=order.order.order.id %}" method="POST">
    {% csrf_token %}
    {% if error %} <p class="error-message message">{{error}}</p> {% endif %}

    <div class="d-flex flex-wrap justify-content-between">
      <div class="select-container mb-3">
        <select required name="reached_rank" id="reached_rank_wildrift{{order.order.order.id}}">
          <option value=1 data-mark=2 {% if order.order.reached_rank|lower == 'iron' %} selected {% endif %}>iron</option>
  
          <option value=2 data-mark=3 {% if order.order.reached_rank|lower == 'bronze' %} selected {% endif %}>bronze</option>
  
          <option value=3 data-mark=3 {% if order.order.reached_rank|lower == 'silver' %} selected {% endif %}>silver</option>
  
          <option value=4 data-mark=4 {% if order.order.reached_rank|lower == 'gold' %} selected {% endif %}>gold</option>
  
          <option value=5 data-mark=4 {% if order.order.reached_rank|lower == 'platinum' %} selected {% endif %}>platinum</option>
  
          <option value=6 data-mark=5 {% if order.order.reached_rank|lower == 'emerald' %} selected {% endif %}>emerald</option>
  
          <option value=7 data-mark=6 {% if order.order.reached_rank|lower == 'diamond' %} selected {% endif %}>diamond</option>
  
          <option value=8 data-mark=-1 {% if order.order.reached_rank|lower == 'master' %} selected {% endif %}>master</option>
        </select>
      </div>
  
      <div class="select-container mb-3">
        <select required name="reached_division" id="reached_division_wildrift{{order.order.order.id}}">
          <option value="1" {% if order.order.reached_division == 1 and order.order.reached_rank|lower != "master" %}selected{% endif %}>IV</option>
          <option value="2" {% if order.order.reached_division == 2 and order.order.reached_rank|lower != "master" %}selected{% endif %}>III</option>
          <option value="3" {% if order.order.reached_division == 3 and order.order.reached_rank|lower != "master" %}selected{% endif %}>II</option>
          <option value="4" {% if order.order.reached_division == 4 and order.order.reached_rank|lower != "master" %}selected{% endif %}>I</option>
        </select>
      </div>
  
      <div class="select-container mb-3">
        <select required name="reached_marks" id="reached_marks_wildrift{{order.order.order.id}}">
          <option value="0" {% if order.order.reached_marks == 0 and order.order.reached_rank|lower != "master" %}selected{% endif %}>0 Mark</option>
          <option value="1" {% if order.order.reached_marks == 1 and order.order.reached_rank|lower != "master" %}selected{% endif %}>1 Marks</option>
          <option value="2" {% if order.order.reached_marks == 2 and order.order.reached_rank|lower != "master" %}selected{% endif %}>2 Marks</option>
          <option value="3" {% if order.order.reached_marks == 3 and order.order.reached_rank|lower != "master" %}selected{% endif %}>3 Marks</option>
          <option value="4" {% if order.order.reached_marks == 4 and order.order.reached_rank|lower != "master" %}selected{% endif %}>4 Marks</option>
          <option value="5" {% if order.order.reached_marks == 5 and order.order.reached_rank|lower != "master" %}selected{% endif %}>5 Marks</option>
          <option value="6" {% if order.order.reached_marks == 6 and order.order.reached_rank|lower != "master" %}selected{% endif %}>6 Marks</option>
        </select>
      </div>
    </div>

    <div>
      <button type="submit" class="btn update-rating-btn">Update Rating</button>
    </div>
  </form>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  const rankSelect = $('#reached_rank_wildrift{{order.order.order.id}}');
  const divisionSelect = $('#reached_division_wildrift{{order.order.order.id}}');
  const marksSelect = $('#reached_marks_wildrift{{order.order.order.id}}');

  if(rankSelect && divisionSelect && marksSelect) {
    const originalDivisionOptions = divisionSelect.html();
    const originalMarksOptions = marksSelect.html();
  
    function updateOptions() {
      const selectedRank = rankSelect.find(':selected');
      const markNumber = selectedRank.data('mark');
  
      divisionSelect.html(originalDivisionOptions);
      
      marksSelect.html(originalMarksOptions);
  
      if (parseInt(selectedRank.val()) === 8) {
        divisionSelect.val(1);
        divisionSelect.addClass('d-none')
        marksSelect.addClass('d-none')
      } else {
        divisionSelect.removeClass('d-none')
        marksSelect.removeClass('d-none')
        marksSelect.find('option').each(function () {
          if ($(this).val() > markNumber) {
            $(this).hide();
          } else {
            $(this).show();
          }
        });
      }

    }
  
    updateOptions();
  
    rankSelect.change(updateOptions);
  }
    
  })
</script>