<div class="updata-now">
  <h5 class="my-4">Now Rank</h5>
  <form action="{% url 'order.update.rating' %}" method="POST">
    {% csrf_token %}
    {% if error %} <p class="text-danger">{{error}}</p> {% endif %}
    <input type="hidden" name="order_id" value="{{ order.order.order.id }}">

    <div class="mb-3">
      <select class="form-select custom-select" required name="reached_rank" id="reached_rank_wildrift">
        {% for rank in wildrift_ranks %}
        {% with mark=rank.mark %}
        <option value="{{ rank.id }}" data-mark="{{ mark.mark_number }}" {% if rank.rank_name|lower == order.order.reached_rank|lower %} selected {% endif %}>{{ rank.rank_name }}</option>
        {% endwith %}
        {% endfor %}
      </select>
    </div>

    <div class="input-group mb-3">
      <select class="form-select custom-select" required name="reached_division" id="reached_division_wildrift">
        <option value="1">IV</option>
        <option value="2">III</option>
        <option value="3">II</option>
        <option value="4">I</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <select class="form-select custom-select" required name="reached_marks" id="reached_marks_wildrift">
        <option value="0">0 Mark</option>
        <option value="1">1 Marks</option>
        <option value="2" >2 Marks</option>
        <option value="3" >3 Marks</option>
        <option value="4" >4 Marks</option>
        <option value="5">5 Marks</option>
        <option value="6" >6 Marks</option>
      </select>
    </div>

    <div class="text-end">
      <button type="submit" class="btn submit-btn">Update Rating</button>
    </div>
  </form>
</div>