{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Wild Rift Orders{% endblock %}
{% block style %}
{% if refresh_required %}
    <meta http-equiv="refresh" content="0">
{% endif %}
<link rel="stylesheet" href="{% static 'wildRift/css/orders.css'%}">
{% endblock %}
{% block container %}
  <div class="orders container-fluid p-5 text-white">
    <div class="container py-5">
      <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Earnings (Annual)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="choise text-center mb-3">
        <input type="radio" id="division-boost-order" name="radio-group-order-type" checked>
        <label for="division-boost-order" class="me-2">Division Boost Orders</label>
        <input type="radio" id="placements-boost-order" name="radio-group-order-type">
        <label for="placements-boost-order" class="me-2">Placements Boost Orders</label>
      </div>

      <!-- --------------- Division Boost Orders --------------- -->
      <div class="division-boost-order p-5 rounded-3 shadow text-white">
        <h4 class="mb-3">Division Boost Orders</h4>
        <table class="table">
          <thead class="table-light table-hover">
            <tr>
              <th class="text-uppercase">Date</th>
              <th class="text-uppercase">Order</th>
              <th class="text-uppercase">Onwer</th>
              <th class="text-uppercase">Price</th>
              <th class="text-uppercase">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for order in divisions_order %}
            <tr class="text-white">
              <td>{{order.created_at}}</td>
              <td>{{order}}</td>
              <td>{{order.customer.first_name}} {{order.customer.last_name}}</td>
              <td>{{order.invoice}}$</td>
              <td><a href="{% url 'order.chat' order_type='division' id=order.id %}" class="btn btn-warning text-white">Calm</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- --------------- Placements Boost Orders --------------- -->
      <div class="placements-boost-order p-5 rounded-3 shadow text-white">
        <h4 class="mb-3">Placements Boost Orders</h4>
        <table class="table">
          <thead class="table-light table-hover">
            <tr>
              <th class="text-uppercase">Date</th>
              <th class="text-uppercase">Order</th>
              <th class="text-uppercase">Onwer</th>
              <th class="text-uppercase">Price</th>
              <th class="text-uppercase">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for order in placements_order %}
            <tr class="text-white">
              <td>{{order.created_at}}</td>
              <td>{{order}}</td>
              <td>{{order.customer.first_name}} {{order.customer.last_name}}</td>
              <td>{{order.invoice}}$</td>
              <td><a href="{% url 'order.chat' order_type='placement' id=order.id %}" class="btn btn-warning text-white">Calm</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
{% endblock %}
{% block script %}
<script src="{% static 'wildRift/js/orders.js' %}"></script>
{% endblock %}