.orders-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.orders-container .orders-landing {
  width: 100%;
  height: 690px;
  background-image: url('./../../games/images/games_bg.jpg');
  background-size: cover;
  background-position-y: -700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orders-container .orders-landing::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./../../games/images/bg_cover.png');
}
.orders-landing .heading {
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
}
.orders-landing .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
.orders-landing .heading p {
  font-size: 1.5rem;
  font-weight: 300;
}
/* Start Orders */
.orders {
  position: relative;
  margin-top: -250px; /* Adjust this value as needed */
}
.orders .order {
  position: relative;
  border: 1px solid #332A27;
  border-radius: calc(var(--main-radius) * 2);
  height: 335px;
}
@media (max-width: 767px) {
  .orders .order {
    flex-direction: column !important;
  }
}
/* Game Banner */
.game-banner {
  height: 335px;
  width: 40%;
  position: relative;
}
@media (max-width: 767px) {
  .game-banner {
    display: none;
  }
}
.game-banner::before {
  content: "";
  width: 100%;
  height: 335px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./../../games/images/bg_cover.png');
  border-top-left-radius: calc(var(--main-radius) * 2);
  border-bottom-left-radius: calc(var(--main-radius) * 2);
}
.game-banner img {
  height: 335px;
  width: 100%;
  border-top-left-radius: calc(var(--main-radius) * 2);
  border-bottom-left-radius: calc(var(--main-radius) * 2);
}
/* Order Info */
.order-info {
  width: 60%;
  background-color: var(--background-color);
  border-top-right-radius: calc(var(--main-radius) * 2);
  border-bottom-right-radius: calc(var(--main-radius) * 2);
  border-bottom: 1px solid #332A27;
}
@media (max-width: 767px) {
  .order-info {
    width: 100%;
  }
}
.order-info .booster-info .image img {
  border-radius: calc(var(--main-radius) * 2);
}
.order-info .name p:first-child,
.order-info .reached-info-container p:first-child {
  color: #FFFFFF80;
  font-family: var(--sharp-font);
}
.order-info .name p:last-child,
.order-info .reached-info-container p:last-child {
  color: #ffffff;
  font-family: var(--sharp-font);
}
.order-info .from-to {
  border-radius: var(--main-radius);
  background-color: var(--main-color);
  min-height: 56px;
}
.order-info .open-order {
  width: 100% !important;
  font-size: 1.5rem;
}
/* End Orders */