.orders-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.orders-container .orders-landing {
  width: 100%;
  height: 690px;
  background-image: url('./../../games/images/games_bg.jpg');
  background-size: cover;
  background-position-y: -277px;
  background-position-x: center; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1199px) {
  .orders-container .orders-landing {
    background-position-y: -167px;
  }
}
@media (max-width: 767px) {
  .orders-container .orders-landing {
    background-position-y: -66px;
    /* background-position-x: -186px; */
  }
}
.orders-container .orders-landing::before {
  content: "";
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(72, 54, 33, 0.65) 0%, #1E1814 64.35%);
}
.orders-landing .heading {
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
}
@media (max-width: 767px) {
  .orders-landing .heading {
    top: 23%;
  }
}
.orders-landing .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
.orders-landing .heading p {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  .orders-landing .heading h1 {
    font-size: 32px;
  }
  .orders-landing .heading p {
    font-size: 1rem;
  }
}
.select-container {
  width: 380px !important;
}
select, .select-container::after {
  background-color: var(--alternative-color) !important;
  box-shadow: 0px 0px 10px 0px #00000040 inset !important;
}
.search {
  width: 380px !important;
}
@media (max-width: 767px) {
  .boosters-landing .heading h1 {
    font-size: 32px;
  }
  .boosters-landing .heading p {
    font-size: 1rem;
  }
  .select-container {
    width: 100% !important;
  }
  .search {
    width: 100% !important;
  }
}
/* Start Orders */
.orders {
  position: relative;
  margin-top: -250px; /* Adjust this value as needed */
}
@media (max-width: 767px) {
  .orders {
    margin-top: -375px;
  }
}
.orders .order {
  position: relative;
  border: 1px solid #332A27;
  border-radius: calc(var(--main-radius) * 2);
  height: 320px;
}
@media (max-width: 767px) {
  .orders .order {
    flex-direction: column !important;
    height: auto !important;
  }
  .orders .order p {
    font-size: 0.8rem !important;
  }
  .custom-btn {
    font-size: 1rem !important;
  }
}
/* Game Banner */
.game-banner {
  height: inherit;
  width: 40%;
  position: relative;
}
@media (max-width: 767px) {
  .game-banner {
    display: none;
  }
}
.game-banner::before {
  content: "";
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./../../games/images/bg_cover.png');
  border-top-left-radius: calc(var(--main-radius) * 2);
  border-bottom-left-radius: calc(var(--main-radius) * 2);
  box-shadow: -5px 4px 26px 15px var(--background-color) inset;
  border-bottom: 1px solid #332A27;
}
.game-banner img {
  height: inherit;
  width: 100%;
  border-top-left-radius: calc(var(--main-radius) * 2);
  border-bottom-left-radius: calc(var(--main-radius) * 2);
}
/* Order Info */
.order-info {
  height: inherit;
  width: 60%;
  background-color: var(--background-color);
  border-top-right-radius: calc(var(--main-radius) * 2);
  border-bottom-right-radius: calc(var(--main-radius) * 2);
  border-bottom: 1px solid #332A27;
}
@media (max-width: 767px) {
  .order-info {
    width: 100%;
    border-top-left-radius: calc(var(--main-radius) * 2);
    border-bottom-left-radius: calc(var(--main-radius) * 2);
  }
}
.order-info .booster-info .image img {
  border-radius: calc(var(--main-radius) * 2);
}
.order-info .name p:first-child,
.order-info .reached-info-container p:first-child {
  color: #FFFFFF80;
  font-family: var(--sharp-semibold-15);
}
.order-info .name p:last-child,
.order-info .reached-info-container p:last-child {
  color: #ffffff;
  font-family: var(--sharp-semibold-15);
  font-size: 0.9rem;
}
.order-info .from-to {
  border-radius: var(--main-radius);
  background-color: var(--main-color);
  min-height: 56px;
}
.order-info .open-order {
  width: 100% !important;
  font-size: 1.5rem;
}
@media (max-width: 1199px) {
  .orders .order {
    height: 265px;
  }
  .order-info p, center {
    font-size: 8px !important;
  }
  .order-info .open-order {
    font-size: 1rem;
  }
  .row > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .order-info .from-to {
    min-height: 32px !important;
  }
  .from-to img {
    width: 16px;
    height: 16px;
  }
}
/* End Orders */