/* Start Diff Games */
.game-landing.game-1 {
  background-image: url('./../../games/images/wildrift_bg.jpg');
}
.game-landing.game-2 {
  background-image: url('./../../games/images/valorant_bg.jpg');
}
.game-landing.game-3 {
  background-image: url('./../../games/images/pubg_bg.jpg');
  background-position-y: -150px;
}
.game-landing.game-4 {
  background-image: url('./../../games/images/lol_bg.png');
  background-position-y: -50px;
}
.game-landing.game-5 {
  background-image: url('./../../games/images/tft_bg.jpg');
}
.game-landing.game-6 {
  background-image: url('./../../games/images/wow_bg.jpg');
}
.game-landing.game-7 {
  background-image: url('./../../games/images/hearthstone_bg.jpg');
  background-position-y: -140px;
}
.game-landing.game-8 {
  background-image: url('./../../games/images/mobileLegends_bg.jpg');
  background-position-y: -150px;
}
.game-landing.game-9 {
  background-image: url('./../../games/images/rocketLeague_bg.png');
  background-position-y: -170px;
}
.game-landing.game-10 {
  background-image: url('./../../games/images/dota2_bg.jpg');
  background-position-y: -100px;
}
.game-landing.game-11 {
  background-image: url('./../../games/images/honorofkings_bg.jpg');
  background-position-y: -160px;
  background-repeat: space;
}
.game-landing.game-12 {
  background-image: url('./../../games/images/overwatch_bg.jpg');
  background-position-y: -70px;
}
.game-landing.game-13 {
  background-image: url('./../../games/images/csgo_bg.jpg');
}
/* End Diff Games */
.game-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.game-container .game-landing {
  width: 100%;
  height: 690px;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container .game-landing::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./../../games/images/bg_cover.png');
}
.game-landing .heading {
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
}
.game-landing .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
@media (max-width: 767px) {
  .game-landing .heading h1 {
    font-size: 32px !important;
  }
}
.game-landing .heading p {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  .game-landing .heading p {
    font-size: 16px;
  }
}
/* End Landing */
/* Start Create Order */
.create-order {
  position: relative;
  margin-top: -330px; /* Adjust this value as needed */
}
.form-container {
  padding: 2.5rem;
  border-radius: calc(var(--main-radius) * 2);
  background: linear-gradient(180deg, rgba(40, 32, 27, 0.7) 0%, rgba(67, 55, 51, 0) 100%),
  linear-gradient(180deg, rgba(67, 55, 51, 0) 0%, #433733 45.27%),
  #433733;
}
.custom-input, textarea {
  box-shadow: 0px 0px 10px 0px #00000040 inset !important;
  background-color:  var(--alternative-color) !important;
}
@media (min-width: 767px) {
  .update-btn {
    width: 450px !important;
  }
}