{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Game Boosters{% endblock %}
{% block style %}
<link href="{% static 'games/css/game.css'%}" rel="stylesheet" />
<link href="{% static 'games/css/placement.css'%}" rel="stylesheet" />
{% endblock %}
{% block container %}
<div id="order-container" data-order="{{ order.get_rank_value }}"></div>
<div class='body py-5'>
  <div class="container-fluid wild-rift">
    <div class="container">
      
      <div class="choise text-center mb-3">
        <input type="radio" id="division-boost" name="radio-group-type" checked>
        <label for="division-boost" class="me-2">Division Boost</label>
        <input type="radio" id="placements-boost" name="radio-group-type">
        <label for="placements-boost" class="me-2">Placements Boost</label>
      </div>
      
      <div class="choices py-5 rounded-3 shadow px-lg-0 px-5">
        

        

        

          
          
        </div>
      </div>
    </div>
  </div>
  {% comment %} <div class="spikes"></div> {% endcomment %}
  {% comment %} <div class="container-fluid py-5 price">
    <div class="container py-5">
      <div class="price-container row justify-content-center flex-wrap py-5 rounded-3 shadow">
        <div class="price-data division-boost col-10 text-start"></div>
        <div class="price-data placements-boost col-10 text-end"></div>

        <div class="purchase col-10 text-center mt-4">
          <button type="button" class="btn purchase-btn rounded-3"><i class="fa-solid fa-shield-heart"></i> Purchase</button>
        </div>

      </div>
    </div>
    <!-- ------------------------------- -->
  </div> {% endcomment %}
</div>
{% endblock %}
{% block script %}
<script src="{% static 'rocketLeague/js/main.js' %}"></script>
<script src="{% static 'rocketLeague/js/division-placement-boost.js' %}"></script>
{% endblock %}