.iron {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #3C3F3C 0%, #43373300 100%) !important;
}
.bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #8E6122 0%, #43373300 100%) !important;
}
.silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #7F999E 0%, #43373300 100%) !important;
}
.gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%) !important;
}
.platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #609692 0%, #43373300 100%) !important;
}
.diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #C279FD 0%, #43373300 100%) !important;
}
.ascendant {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #23A461 0%, #43373300 100%) !important;
}
.immortal {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #410F26 0%, #43373300 100%) !important;
}
