.choices-ranks #current, .choices-ranks #desired {
  border-radius: calc(var(--main-radius) * 2);
  padding: 30px;
  background-color: #433733; /* Fallback solid background color */
  margin-bottom: 2rem;
  min-height: 354px;
}
@media (max-width: 1199px) {
  .choices-ranks #current .image img, .choices-ranks #desired .image img {
    width: 40px !important;
    height: 40px !important;
  }
  .choices-ranks #current .text h5, .choices-ranks #desired .text h5 {
    font-size: 16px;
  }
  .choices-ranks #current .text p, .choices-ranks #desired .text p {
    font-size: 8px;
  }
}
.choices-ranks label {
  width: 46px !important;
  height: 46px !important;
  margin-right: 16px !important;
  color: white;
  background-color: var(--alternative-color);
  border-radius: var(--main-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1199px) { 
  .game-landing:not(.honorOfKings) .choices-ranks label {
    width: 50px !important;
    height: 50px !important;
  }
  .choices-ranks label {
    margin-right: 30px !important;
    margin-bottom: 16px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 340px) { 
  .choices-ranks label {
    margin-right: 13px !important;
  }
}
.choices-ranks input[type="radio"]:checked+label {
  background-color: white;
  color: black;
}