/* Start Diff Games */
.game-landing.wildrift {
  background-image: url('./../images/wildrift_bg.jpg');
}
.game-landing.valorant {
  background-image: url('./../images/valorant_bg.jpg');
}
.game-landing.honorOfKings {
  background-image: url('./../images/honorofkings_bg.jpg');
  background-position-y: -160px;
  background-repeat: space;
}
.game-landing.rocketLeague {
  background-image: url('./../images/rocketLeague_bg.png');
  background-position-y: -170px;
}
.game-landing.wow {
  background-image: url('./../images/wow_bg.jpg');
}
.game-landing.hearthstone {
  background-image: url('./../images/hearthstone_bg.jpg');
  background-position-y: -140px;
}
.game-landing.dota2 {
  background-image: url('./../images/dota2_bg.jpg');
  background-position-y: -100px;
}
.game-landing.tft {
  background-image: url('./../images/tft_bg.jpg');
}
.game-landing.lol {
  background-image: url('./../images/lol_bg.png');
  background-position-y: -50px;
}
.game-landing.csgo {
  background-image: url('./../images/csgo_bg.jpg');
}
.game-landing.pubg {
  background-image: url('./../images/pubg_bg.jpg');
  background-position-y: -150px;
}
.game-landing.overwatch {
  background-image: url('./../images/overwatch_bg.jpg');
  background-position-y: -70px;
}
.game-landing.mobileLegends {
  background-image: url('./../images/mobileLegends_bg.jpg');
  background-position-y: -150px;
}
@media (max-width: 767px) {
  .game-landing.valorant, .game-landing.tft, .game-landing.pubg, .game-landing.csgo {
    background-position-x: -415px !important;
  }
  .game-landing.honorOfKings {
    background-position-x: -330px !important;
  }
  .game-landing.wow {
    background-position-x: -500px !important;
  }
  .game-landing.hearthstone {
    background-position-y: -97px;
    background-position-x: -500px !important;
  }
  .game-landing.lol {
    background-position-x: -505px !important;
    background-position-y: 0 !important;
  }
  .row > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* Start Diff Games */

/* Start Base Design For Form Element */
input[type="radio"] {
  display: none;
}
label {
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}
input[type="radio"]:disabled+label {
  color: whitesmoke;
  filter: grayscale(100%);
}
/* Custom Select */
select {
  /* Reset Select */
  appearance: none;
  outline: 10px var(--alternative-color) !important;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--alternative-color) !important;
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select-container {
  position: relative;
  display: flex;
  width: 176px;
  height: 3em;
  border-radius: var(--main-radius) !important;
  overflow: hidden;
}
@media (max-width: 350px) {
  .select-container {
    width: 100%;
  }
}
/* Arrow */
.select-container::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: var(--alternative-color) !important;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select-container:hover::after {
  color: var(--secondary-color) !important;
}
/* End Base Design For Form Element */
.game-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.game-container .game-landing {
  width: 100%;
  height: 690px;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position-x: center;
}
.game-container .game-landing::before {
  content: "";
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(72, 54, 33, 0.65) 0%, #1E1814 64.35%);
}
.game-landing .heading {
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
}
@media (max-width: 767px) {
  .game-landing .heading {
    top: 25%;
  }
}
.game-landing .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
@media (max-width: 767px) {
  .game-landing .heading h1 {
    font-size: 32px !important;
  }
}
.game-landing .heading p {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  .game-landing .heading p {
    font-size: 16px;
  }
}
/* End Landing */
/* Start Create Order */
.create-order {
  position: relative;
  margin-top: -330px; /* Adjust this value as needed */
}
.choise label {
  color: white;
  background-color: #1E1814;
  border-radius: 32px;
}
.choise input[type="radio"]:checked+label {
  background-color: #5B2418;
  color: var(--secondary-color);
}
/* End Create Order */

/* Start Complate Order */
.complate-order .checkout {
  background-color: #332A27;
  border-top-left-radius: calc(var(--main-radius) * 2);
  border-top-right-radius: calc(var(--main-radius) * 2);
}
@media (max-width: 1199px) { 
  .complate-order .checkout {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
  }
}
.complate-order .checkout > p:first-of-type {
  font-size: 1.5rem;
}
.complate-order .checkout .from-to {
  border-radius: var(--main-radius);
  background-color: var(--background-color);
}
.complate-order .payment {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  linear-gradient(0deg, #332A27, #332A27);
  border-bottom-left-radius: calc(var(--main-radius) * 2);
  border-bottom-right-radius: calc(var(--main-radius) * 2);
}
.complate-order .payment .total-price .price {
  font-weight: 700;
  font-size: 1.5rem;
}
.complate-order .time {
  background-color: #332A27;
}
.complate-order .payment .pay-form {
  margin-bottom: 1.1rem;
}
.purchase {
  flex-wrap: wrap !important;
}
.complate-order .payment .pay-form .purchase button {
  width: 256px;
  padding: 10px;
  border-radius: 48px;
  text-align: center;
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.complate-order .payment .pay-form .purchase .paypal-btn {
  color: black;
  background: #FFC439;
}
.complate-order .payment .pay-form .purchase .cryptomus-btn {
  color: white;
  background: #DE4949;
}
@media (max-width: 1199px) {
  .complate-order .payment .pay-form .purchase button {
    width: 167px !important;
    font-size: 8px;
    padding: 7px;
  }
  .complate-order .payment .pay-form .purchase button img {
    width: 75px;
    height: 30px;
  }
}
@media (max-width: 435px) {
  .complate-order .payment .pay-form .purchase button {
    width: 100% !important;
    margin-top: 5px;
  }
}
.complate-order .extra-charges {
  background-color: var(--main-color);
}
.complate-order .extra-charges .switch-solo-duo {
  background-color: var(--background-color);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.complate-order .extra-charges .switch-solo-duo .solo,
.complate-order .extra-charges .switch-solo-duo .duo {
  width: 49%;
}
.complate-order .extra-charges .switch-solo-duo .solo-boosting-label,
.complate-order .extra-charges .switch-solo-duo .duo-boosting-label  {
  width: 100%;
  border-radius: 40px;
  color: #FFFFFF80;
}
.complate-order .extra-charges .switch-solo-duo input[type="radio"]:checked+label,
.complate-order .extra-charges .switch-solo-duo input[type="radio"]:checked+label {
  color: white;
  background-color: var(--alternative-color);
}
.complate-order .extra-charges .extra > div:not(:last-of-type) {
  border-bottom: 0.2px solid #1E1814;
}
.complate-order .extra-charges .extra > div .info p > .percent {
  padding: 0 8px;
  border-radius: var(--main-radius);
  background-color: #F26E3E80;
  color: #F26E3E80;
}
/* The switch - the box around the slider */
.complate-order .extra-charges .extra > div .choose .switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 24px;
}
/* Hide default HTML checkbox */
.complate-order .extra-charges .extra > div .choose .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.complate-order .extra-charges .extra > div .choose .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1E1814;
  -webkit-transition: .4s;
  transition: .4s;
}
.complate-order .extra-charges .extra > div .choose .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4.5px;
  bottom: 3.7px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.complate-order .extra-charges .extra > div .choose input:checked + .slider {
  background-color: var(--secondary-color);
}
.complate-order .extra-charges .extra > div .choose input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-color);
}
.complate-order .extra-charges .extra > div .choose input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}
/* Rounded sliders */
.complate-order .extra-charges .extra > div .choose .slider.round {
  border-radius: 34px;
}
.complate-order .extra-charges .extra > div .choose .slider.round:before {
  border-radius: 50%;
}
.complate-order .extra-charges .discount form {
  display: flex;
  position: relative;
}
.complate-order .extra-charges .discount form input[type = "text"] {
  width: calc(100% - 143px);
  padding: 10px 20px;
  background-color: var(--background-color);
  border: none;
  border-top-left-radius: var(--main-radius);
  border-bottom-left-radius: var(--main-radius);
  caret-color: var(--secondary-color); 
  color: white;
}
.complate-order .extra-charges .discount form input[type = "submit"] {
  Width: 143px;
  padding: 10px 20px;
  border: none;
  background-color: var(--secondary-color);
  border-top-right-radius: var(--main-radius);
  border-bottom-right-radius: var(--main-radius);
  color: white;
}
@media (max-width: 768px) {
  .complate-order .extra-charges .discount form input[type = "text"] {
    width: calc(100% - 65px);
  }
  .complate-order .extra-charges .discount form input[type = "submit"] {
    Width: 65px;
    padding: 0;
  }
}
.complate-order .extra-charges .discount form ::placeholder {
  color: #FFFFFF80;
  padding-left: 20px;
}
.complate-order .extra-charges .discount form input:focus {
  outline: none;
  color: white;
}
@media (max-width: 768px) { 
  .extra .info p {
    font-size: 0.8rem;
  }
  .extra-charges {
    padding-bottom: 0 !important;
  }
}
/* End Complate Order */

/* Start PromoCode */
#promo-details {
  visibility: hidden;
  margin-top: 0.8rem;
  text-align: center;
}
#promo-details.success-message {
  margin: 1rem 0 !important;
}
/* End PromoCode */

/* Start Select Champion */
/* Hide the default checkbox */
.champions-container {
  display: flex;
  justify-content: start;
  align-items: flex-start; /* Change align-items to flex-start */
  flex-wrap: wrap;
  gap: 15px;
  max-height: 290px;
  overflow-y: auto;
  position: relative; /* Add relative positioning */
}
.hidden-checkbox {
  position: absolute;
  left: -9999px;
}
.icon-as-checkbox {
  display: inline-block;
  cursor: pointer; /* Change cursor to pointer on hover */
}
.icon-as-checkbox img {
  width: 48px; 
  height: 48px;
  border-radius: 4px;
}
input[type="checkbox"]:hover + .icon-as-checkbox img {
  border: 3px solid var(--alt-secondary-color);
}
input[type="checkbox"]:checked + .icon-as-checkbox img {
  border: 3px solid var(--secondary-color);
}
#selectChampionButton {
  width: 500px !important;
}
@media (max-width: 768px) {
  #selectChampionButton {
    width: 100% !important;
  }
  .popup-content .container {
    --bs-gutter-x: 1.5rem !important;
  }
}
/* End Select Champion */

/* Start Select Booster */
.boosters-container {
  width: 100%;
  height: 400px;
  background-color: var(--alternative-color);
  border-radius: var(--main-radius);
  padding: 24px;
}
.boosters-container .boosters {
  overflow: auto;
  height: 100%;
  /* padding-right: 30px; */
}
.boosters .booster-card {
  transition: background-color 0.3s ease; 
}

.boosters .booster-card:hover {
  background-color: var(--alt-secondary-color);
  cursor: pointer;
}
.boosters .selected-booster {
  background-color: var(--secondary-color);
}
.boosters .booster-username {
  font-weight: 700;
  font-size: 1.5rem;
}
.boosters .view-profile {
  color: var(--secondary-color);
}
.boosters .selected-booster .view-profile,
.boosters .booster-card:hover .view-profile  {
  color: #18120F;
}
#selectBoosterButton {
  width: 500px !important;
}
@media (max-width: 768px) {
  #selectBoosterButton {
    width: 100% !important;
  }
}
/* End Select Booster */

img {
  user-select: none; /* Disable selection */
  -webkit-user-select: none; /* Disable selection in Safari */
  -moz-user-select: none; /* Disable selection in Firefox */
  -ms-user-select: none; /* Disable selection in IE/Edge */
  -o-user-select: none; /* Disable selection in old Opera */
}

/* Full-screen overlay */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Darker semi-transparent background */
  z-index: 9999; /* Make sure it is on top of everything */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner with a gradient effect */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Light gray border */
  border-radius: 50%;
  border-top: 4px solid #ffffff; /* White color for the top part */
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite; /* Faster spin */
}

/* Keyframes for the spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Optionally, add a loading text below the spinner */
.loader-text {
  color: white;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}