/* Start Diff Games */
.game-landing.wildrift {
  background-image: url('./../images/wildrift_bg.jpg');
}
/* Start Diff Games */

/* Start Base Design For Form Element */
input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

input[type="radio"]:disabled+label {
  color: whitesmoke;
  filter: grayscale(100%);
}
/* Custom Select */
select {
  /* Reset Select */
  appearance: none;
  outline: 10px var(--alternative-color);
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--alternative-color);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select-container {
  position: relative;
  display: flex;
  width: 176px;
  height: 3em;
  border-radius: var(--main-radius);
  overflow: hidden;
}
/* Arrow */
.select-container::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: var(--alternative-color);
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select-container:hover::after {
  color: var(--secondary-color);
}
/* End Base Design For Form Element */
.game-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.game-container .game-landing {
  width: 100%;
  height: 690px;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container .game-landing::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./../images/bg_cover.png');
}
.game-landing .heading {
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
}
.game-landing .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
@media (max-width: 1199px) {
  .game-landing .heading h1 {
    font-size: 32px !important;
  }
}
.game-landing .heading p {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 1199px) {
  .game-landing .heading p {
    font-size: 16px;
  }
}
/* End Landing */
/* Start Create Order */
.create-order {
  position: relative;
  margin-top: -330px; /* Adjust this value as needed */
}
.choise label {
  color: white;
  background-color: #1E1814;
  border-radius: 32px;
}
.choise input[type="radio"]:checked+label {
  background-color: #5B2418;
  color: var(--secondary-color);
}
.choices-ranks #current, .choices-ranks #desired {
  border-radius: calc(var(--main-radius) * 2);
  padding: 30px;
  background-color: #433733; /* Fallback solid background color */
  margin-bottom: 2rem;
}
@media (max-width: 1199px) {
  .choices-ranks #current .image img, .choices-ranks #desired .image img {
    width: 40px !important;
    height: 40px !important;
  }
  .choices-ranks #current .text h5, .choices-ranks #desired .text h5 {
    font-size: 16px;
  }
  .choices-ranks #current .text p, .choices-ranks #desired .text p {
    font-size: 8px;
  }
}
.choices-ranks label {
  color: white;
  background-color: var(--alternative-color);
  border-radius: var(--main-radius);
}
@media (max-width: 1199px) { 
  .choices-ranks label {
    width: 50px !important;
    height: 50px !important;
    margin-right: 30px !important;
    margin-bottom: 16px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 340px) { 
  .choices-ranks label {
    margin-right: 20px !important;
  }
}
.choices-ranks input[type="radio"]:checked+label {
  background-color: white;
  color: black;
}
/* End Create Order */

/* Start Complate Order */
.complate-order .checkout {
  background-color: #332A27;
  border-top-left-radius: calc(var(--main-radius) * 2);
  border-top-right-radius: calc(var(--main-radius) * 2);
}
@media (max-width: 1199px) { 
  .complate-order .checkout {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
  }
}
.complate-order .checkout p:first-child {
  font-size: 1.5rem;
}
.complate-order .checkout .from-to {
  border-radius: var(--main-radius);
  background-color: var(--background-color);
}
.complate-order .payment {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  linear-gradient(0deg, #332A27, #332A27);
  border-bottom-left-radius: calc(var(--main-radius) * 2);
  border-bottom-right-radius: calc(var(--main-radius) * 2);
}
.complate-order .payment .total-price .price {
  font-weight: 700;
  font-size: 1.5rem;
}
.complate-order .time {
  background-color: #332A27;
}
.complate-order .payment .pay-form {
  margin-bottom: 1.1rem;
}
.complate-order .payment .pay-form .purchase button {
  width: 256px;
  padding: 10px;
  border-radius: 48px;
  text-align: center;
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.complate-order .payment .pay-form .purchase .paypal-btn {
  color: black;
  background: #FFC439;
}
.complate-order .payment .pay-form .purchase .cryptomus-btn {
  color: white;
  background: #DE4949;
}
@media (max-width: 1199px) {
  .complate-order .payment .pay-form .purchase button {
    width: 167px !important;
    font-size: 8px;
    padding: 7px;
  }
  .complate-order .payment .pay-form .purchase button img {
    width: 75px;
    height: 30px;
  }
}
.complate-order .extra-charges {
  background-color: var(--main-color);
}
.complate-order .extra-charges .switch-solo-duo {
  background-color: var(--background-color);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.complate-order .extra-charges .switch-solo-duo .solo,
.complate-order .extra-charges .switch-solo-duo .duo {
  width: 49%;
}
.complate-order .extra-charges .switch-solo-duo .solo-boosting-label,
.complate-order .extra-charges .switch-solo-duo .duo-boosting-label  {
  width: 100%;
  border-radius: 40px;
  color: #FFFFFF80;
}
.complate-order .extra-charges .switch-solo-duo input[type="radio"]:checked+label,
.complate-order .extra-charges .switch-solo-duo input[type="radio"]:checked+label {
  color: white;
  background-color: var(--alternative-color);
}
.complate-order .extra-charges .extra > div:not(:last-of-type) {
  border-bottom: 0.2px solid #1E1814;
}
.complate-order .extra-charges .extra > div .info p > .percent {
  padding: 0 8px;
  border-radius: var(--main-radius);
  background-color: #F26E3E80;
  color: #F26E3E80;
}
/* The switch - the box around the slider */
.complate-order .extra-charges .extra > div .choose .switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 24px;
}
/* Hide default HTML checkbox */
.complate-order .extra-charges .extra > div .choose .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.complate-order .extra-charges .extra > div .choose .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1E1814;
  -webkit-transition: .4s;
  transition: .4s;
}
.complate-order .extra-charges .extra > div .choose .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.complate-order .extra-charges .extra > div .choose input:checked + .slider {
  background-color: var(--secondary-color);
}
.complate-order .extra-charges .extra > div .choose input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-color);
}
.complate-order .extra-charges .extra > div .choose input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}
/* Rounded sliders */
.complate-order .extra-charges .extra > div .choose .slider.round {
  border-radius: 34px;
}
.complate-order .extra-charges .extra > div .choose .slider.round:before {
  border-radius: 50%;
}
.complate-order .extra-charges .discount form {
  display: flex;
  position: relative;
}
.complate-order .extra-charges .discount form input[type = "text"] {
  width: calc(100% - 143px);
  padding: 10px 20px;
  background-color: var(--background-color);
  border: none;
  border-top-left-radius: var(--main-radius);
  border-bottom-left-radius: var(--main-radius);
  caret-color: var(--secondary-color);
  color: white;
}
.complate-order .extra-charges .discount form input[type = "submit"] {
  Width: 143px;
  padding: 10px 20px;
  border: none;
  background-color: var(--secondary-color);
  border-top-right-radius: var(--main-radius);
  border-bottom-right-radius: var(--main-radius);
  color: white;
}
.complate-order .extra-charges .discount form ::placeholder {
  color: #FFFFFF80;
  padding-left: 20px;
}
.complate-order .extra-charges .discount form input:focus {
  outline: none;
  color: white;
}
/* End Complate Order */