.games-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.games-container .games-landing {
  width: 100%;
  height: 690px;
  background-image: url('./../../games/images/games_bg.jpg');
  background-size: cover;
  background-position-y: -277px;
  background-position-x: center; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1199px) {
  .games-container .games-landing {
    background-position-y: -167px;
  }
}
@media (max-width: 767px) {
  .games-container .games-landing {
    background-position-y: -66px;
  }
}
.games-container .games-landing::before {
  content: "";
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(72, 54, 33, 0.65) 0%, #1E1814 64.35%);
}
.games-landing .heading {
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
}
@media (max-width: 767px) {
  .games-landing .heading {
    top: 23%;
  }
}
.games-landing .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
.games-landing .heading p {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  .games-landing .heading h1 {
    font-size: 31px;
  }
  .games-landing .heading p {
    font-size: 1rem;
  }
}
/* Start Games */
.games {
  position: relative;
  margin-top: -250px; /* Adjust this value as needed */
}
@media (max-width: 767px) {
  .games {
    margin-top: -375px;
  }
}
.games .game {
  width: 450px;
  height: 705px;
  border-radius: calc(var(--main-radius) * 2);
  border: 1px solid #332A27;
  position: relative;
  background: linear-gradient(360deg, #1E1814 31.88%, rgba(30, 24, 20, 0) 69.08%);
  transition: 1s linear;
}
.games .game::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: calc(var(--main-radius) * 2);
  background: linear-gradient(360deg, #1E1814 31.88%, rgba(30, 24, 20, 0) 69.08%);
  transition: 1s linear;
}
.games .game:hover::after {
  background: linear-gradient(360deg, #1E1814 31.88%, rgb(30 24 20 / 44%) 69.08%);
}
.games .game .banner {
  width: 100%;
  position: relative;
}
.games .game .banner img {
  border-radius: calc(var(--main-radius)* 2);
}
.games .game .banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: calc(var(--main-radius) * 2);;
  border-top-right-radius: calc(var(--main-radius) * 2);;
  background-image: url('./../images/bg_cover.png');
  opacity: 0.7; 
}
.games .game .name {
  width: 100%;
  position: absolute;
  bottom: 55px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.games .game .name img {
  width: 272px;
  height: 120px;
}
/* End Games */