/* Start Diff Games */
.game-landing.wildrift {
  background-image: url('./../images/wildrift_bg.jpg');
}

/* Start Diff Games */
/* Start Base Design For Form Element */
input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

input[type="radio"]:disabled+label {
  color: whitesmoke;
  filter: grayscale(100%);
}
/* Custom Select */
select {
  /* Reset Select */
  appearance: none;
  outline: 10px var(--alternative-color);
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--alternative-color);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select-container {
  position: relative;
  display: flex;
  width: 176px;
  height: 3em;
  border-radius: var(--main-radius);
  overflow: hidden;
}
/* Arrow */
.select-container::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: var(--alternative-color);
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select-container:hover::after {
  color: var(--secondary-color);
}
/* End Base Design For Form Element */
.game-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.game-container .game-landing {
  width: 100%;
  height: 690px;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container .game-landing::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./../images/bg_cover.png');
}
.game-landing .heading {
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
  z-index: 110;
}
.game-landing .heading h1 {
  font-weight: bolder;
  font-size: 64px;
  font-family: var(--heading-font);
  letter-spacing: 3px;
}
.game-landing .heading p {
  font-size: 24px;
  font-weight: 300;
}
/* End Landing */
/* Start Create Order */
.create-order {
  position: relative;
  margin-top: -330px; /* Adjust this value as needed */
}
.choise label {
  color: white;
  background-color: #1E1814;
  border-radius: 32px;
}
.choise input[type="radio"]:checked+label {
  background-color: #5B2418;
  color: var(--secondary-color);
}
.choices-ranks .current, .choices-ranks .desired {
  border-radius: 16px;
  padding: 30px; 
  background: 
  linear-gradient(180deg, rgba(67, 55, 51, 0) 0%, #433733 45.27%),
  linear-gradient(180deg, rgba(178, 191, 221, 0.7) 0%, rgba(67, 55, 51, 0) 100%);
  background-color: #433733; /* Fallback solid background color */
}
.choices-ranks label {
  color: white;
  background-color: var(--alternative-color);
  border-radius: var(--main-radius);
}
.choices-ranks input[type="radio"]:checked+label {
  background-color: white;
  color: black;
}
/* End Create Order */
/* Start Motivation */
.game-container .motivation {
  width: 1216px;
  height: 448px;
  border-radius: 16px;
  background-image: url('./../images/motivation.jpg');
  background-size: cover;
  background-position: 400px;
  position: relative;
  display: flex;
  align-items: center;
}
.game-container .motivation::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background: linear-gradient(90deg, #433733 52.8%, rgba(106, 73, 36, 0.5) 75.82%);
}
.game-container .motivation .text {
  width: 47%;
  position: relative;
  z-index: 100;
  letter-spacing: 2px;
}
.game-container .motivation .text h1 {
  font-family: var(--heading-font);
  font-size: 40px;
  font-weight: 600;
}
.game-container .motivation .text a {
  font-size: 16px;
}
/* End Motivation */

/* Start Feedback */
.feedback h1 {
  font-family: var(--heading-font);
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 2px;
}
/* End Feedback */

/* Start Information */
.information .icon-image {
  width: 79px;
  height: 75.41px;
  border-radius: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.information p.head {
  font-family: var(--heading-font);
  font-size: 24px;
  letter-spacing: 1px;
}
.information p:not(.head) {
  font-weight: lighter;
  font-size: 16px;
}
/* End Information */