/* Wild Rift */
.wildRift-iron {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #817771 0%, #43373300 100%);
}
.wildRift-bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #5B2B1F 0%, #43373300 100%);
}
.wildRift-silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #7F999E 0%, #43373300 100%);
}
.wildRift-gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%);
}
.wildRift-platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #609692 0%, #43373300 100%);
}
.wildRift-emerald {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #207C82 0%, #43373300 100%);
}
.wildRift-diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #474993 0%, #43373300 100%);
}
.wildRift-master {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #3a2764b3 0%, #43373300 100%);
}

/* Valorant */
.iron {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #3C3F3C 0%, #43373300 100%) !important;
}
.bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #8E6122 0%, #43373300 100%) !important;
}
.silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #7F999E 0%, #43373300 100%) !important;
}
.gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%) !important;
}
.platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #609692 0%, #43373300 100%) !important;
}
.diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #C279FD 0%, #43373300 100%) !important;
}
.ascendant {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #23A461 0%, #43373300 100%) !important;
}
.immortal {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #410F26 0%, #43373300 100%) !important;
}

/* Pubg */

/* LOL */
.iron {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #412d27 0%, #43373300 100%);
}
.bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #5A3A32 0%, #43373300 100%);
}
.silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #798D9D 0%, #43373300 100%);
}
.gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%);
}
.platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #0E5773 0%, #43373300 100%);
}
.emerald {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #1B4031 0%, #43373300 100%);
}
.diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #494E82 0%, #43373300 100%);
}
.master {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #863987 0%, #43373300 100%);
}

/* TFT */
.iron {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #817771 0%, #43373300 100%);
}
.bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #5B2B1F 0%, #43373300 100%);
}
.silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #7F999E 0%, #43373300 100%);
}
.gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%);
}
.platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #609692 0%, #43373300 100%);
}
.emerald {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #207C82 0%, #43373300 100%);
}
.diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #474993 0%, #43373300 100%);
}
.master {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #3a2764b3 0%, #43373300 100%);
}

/* WOW */
.rank-0-1599 {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #D5A232 0%, #43373300 100%);
}
.rank-1600-1799 {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #5C667D 0%, #43373300 100%);
}
.rank-1800-2099 {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #3B4E74 0%, #43373300 100%);
}
.rank-2100-2499 {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #B250DB 0%, #43373300 100%);
}

/* Hearthstone */
.bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #8E6855 0%, #43373300 100%);
}
.silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #6B5E5B 0%, #43373300 100%);
}
.gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%);
}
.platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #635843 0%, #43373300 100%);
}
.diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #35566F 0%, #43373300 100%);
}
.legend {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #6C3306 0%, #43373300 100%);
}

/* Mobile Legends */

/* Rocket League */
.bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #5B2B1F 0%, #43373300 100%);
}
.silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #7F999E 0%, #43373300 100%);
}
.gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%);
}
.platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #609692 0%, #43373300 100%);
}
.diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #0BA1F7 0%, #43373300 100%);
}
.champion {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #A378E2 0%, #43373300 100%);
}
.grand-champion {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #FF144A 0%, #43373300 100%);
}
.supersonic-legend {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #A582A3 0%, #43373300 100%);
}

/* Dota2 */

.herald { 
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #98D866 0%, #43373300 100%) !important;
}
.guardian {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #3C2A13 0%, #43373300 100%) !important;
}
.crusader {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #148F8E 0%, #43373300 100%) !important;
}
.archon {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #182D2B 0%, #43373300 100%) !important;
}
.legend {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #9C0E21 0%, #43373300 100%) !important;
}
.ancient {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #562A62 0%, #43373300 100%) !important;
}
.divine {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BC974A 0%, #43373300 100%) !important;
}
.immortal {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #81471A 0%, #43373300 100%) !important;
}

/* HOK */
.bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #60967E 0%, #43373300 100%);
}
.silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #264564 0%, #43373300 100%);
}
.gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%);
}
.platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #234B5F 0%, #43373300 100%);
}
.diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #9A8FE7 0%, #43373300 100%);
}
.king {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #AD8A54 0%, #43373300 100%);
}

/* Over Watch2 */

/* CS GO 2 */
.silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #7F999E 0%, #43373300 100%);
}
.grey {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #98b4cb 0%, #43373300 100%);
}
.blue {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #89aced 0%, #43373300 100%);
}
.purple {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #c183d9 0%, #43373300 100%);
}
.pink {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #f26ef3 0%, #43373300 100%);
}
.red {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #f56868 0%, #43373300 100%);
}