/* Wild Rift */
.wildRift-iron {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #817771 0%, #43373300 100%) !important;
}
.wildRift-bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #5B2B1F 0%, #43373300 100%) !important;
}
.wildRift-silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #7F999E 0%, #43373300 100%) !important;
}
.wildRift-gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%) !important;
}
.wildRift-platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #609692 0%, #43373300 100%) !important;
}
.wildRift-emerald {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #207C82 0%, #43373300 100%) !important;
}
.wildRift-diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #474993 0%, #43373300 100%) !important;
}
.wildRift-master {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #3a2764b3 0%, #43373300 100%) !important;
}

/* Valorant */
.valorant-iron {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #3C3F3C 0%, #43373300 100%) !important;
}
.valorant-bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #8E6122 0%, #43373300 100%) !important;
}
.valorant-silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #7F999E 0%, #43373300 100%) !important;
}
.valorant-gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%) !important ;
}
.valorant-platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #609692 0%, #43373300 100%) !important;
}
.valorant-diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #C279FD 0%, #43373300 100%) !important;
}
.valorant-ascendant {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #23A461 0%, #43373300 100%) !important;
}
.valorant-immortal {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #410F26 0%, #43373300 100%) !important;
}

/* Pubg */

/* LOL */
.lol-iron {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #412d27 0%, #43373300 100%) !important;
}
.lol-bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #5A3A32 0%, #43373300 100%) !important;
}
.lol-silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #798D9D 0%, #43373300 100%) !important;
}
.lol-gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%) !important;
}
.lol-platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #0E5773 0%, #43373300 100%) !important;
}
.lol-emerald {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #1B4031 0%, #43373300 100%) !important;
}
.lol-diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #494E82 0%, #43373300 100%) !important;
}
.lol-master {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #863987 0%, #43373300 100%) !important;
}

/* TFT */
.tft-iron {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #817771 0%, #43373300 100%) !important;
}
.tft-bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #5B2B1F 0%, #43373300 100%) !important;
}
.tft-silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #7F999E 0%, #43373300 100%) !important;
}
.tft-gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%) !important;
}
.tft-platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #609692 0%, #43373300 100%) !important;
}
.tft-emerald {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #207C82 0%, #43373300 100%) !important;
}
.tft-diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #474993 0%, #43373300 100%) !important;
}
.tft-master {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #3a2764b3 0%, #43373300 100%) !important;
}

/* WOW */
.wow-0-1599 {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #D5A232 0%, #43373300 100%) !important;
}
.wow-1600-1799 {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #5C667D 0%, #43373300 100%) !important;
}
.wow-1800-2099 {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #3B4E74 0%, #43373300 100%) !important;
}
.wow-2100-2499 {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #B250DB 0%, #43373300 100%) !important;
}

/* Hearthstone */
.hearthstone-bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #8E6855 0%, #43373300 100%) !important;
}
.hearthstone-silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #6B5E5B 0%, #43373300 100%) !important;
}
.hearthstone-gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%) !important;
}
.hearthstone-platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #635843 0%, #43373300 100%) !important;
}
.hearthstone-diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #35566F 0%, #43373300 100%) !important;
}
.hearthstone-legend {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #6C3306 0%, #43373300 100%) !important;
}

/* Mobile Legends */

/* Rocket League */
.rocketLeague-bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #5B2B1F 0%, #43373300 100%) !important;
}
.rocketLeague-silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #7F999E 0%, #43373300 100%) !important;
}
.rocketLeague-gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%) !important;
}
.rocketLeague-platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #609692 0%, #43373300 100%) !important;
}
.rocketLeague-diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #0BA1F7 0%, #43373300 100%) !important;
}
.rocketLeague-champion {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #A378E2 0%, #43373300 100%) !important;
}
.rocketLeague-grand.champion {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #FF144A 0%, #43373300 100%) !important;
}
.rocketLeague-supersonic.legend {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #A582A3 0%, #43373300 100%) !important;
}

/* Dota2 */
.dota2-herald { 
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #98D866 0%, #43373300 100%) !important;
}
.dota2-guardian {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #3C2A13 0%, #43373300 100%) !important;
}
.dota2-crusader {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #148F8E 0%, #43373300 100%) !important;
}
.dota2-archon {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #182D2B 0%, #43373300 100%) !important;
}
.dota2-legend {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #9C0E21 0%, #43373300 100%) !important;
}
.dota2-ancient {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #562A62 0%, #43373300 100%) !important;
}
.dota2-divine {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BC974A 0%, #43373300 100%) !important;
}
.dota2-immortal {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #81471A 0%, #43373300 100%) !important;
}

/* HOK */
.hok-bronze {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #60967E 0%, #43373300 100%) !important;
}
.hok-silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #264564 0%, #43373300 100%) !important;
}
.hok-gold {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #BE843E 0%, #43373300 100%) !important;
}
.hok-platinum {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #234B5F 0%, #43373300 100%) !important;
}
.hok-diamond {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #9A8FE7 0%, #43373300 100%) !important;
}
.hok-king {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #AD8A54 0%, #43373300 100%) !important;
}

/* Over Watch2 */

/* CS GO 2 */
.csgo2-silver {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #7F999E 0%, #43373300 100%) !important;
}
.csgo2-grey {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #98b4cb 0%, #43373300 100%) !important;
}
.csgo2-blue {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #89aced 0%, #43373300 100%) !important;
}
.csgo2-purple {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #c183d9 0%, #43373300 100%) !important;
}
.csgo2-pink {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #f26ef3 0%, #43373300 100%) !important;
}
.csgo2-red {
  background: 
  linear-gradient(180deg, #43373300 0%, #433733 45.27%),
  linear-gradient(180deg, #f56868 0%, #43373300 100%) !important;
}