{% load static %}
<div class="feedbacks py-5">
  {% if is_booster_page %}
    <h1 class="py-md-4 py-3 text-center">{{booster.username}} Rating</h1>
  {% else %}
    <h1 class="py-md-5 py-3 text-center">Trusted by thousands<br />of happy customers</h1>
  {% endif %}
  <div class="swiper">
    <div class="feedbacks-swiper">
      {% if feedbacks %}
        <div class="swiper-wrapper py-5 mb-3">
          {% for feedback in feedbacks %}
            <div class="swiper-slide feedback p-4">
              <div class="customer-info d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex">
                  <div class="customer-image me-3">
                    {% if feedback.booster.booster.get_image_url %}
                      <img src="{{ feedback.booster.booster.get_image_url }}" class="profile-image" alt="Booster Photo" />
                    {% else %}
                      <img src="{% static 'base/images/no_profile_image.jpg' %}" class="profile-image" alt="No Profile Photo">
                    {% endif %}
                  </div>

                  <div class="customer-data">
                    <p class="mb-0">{{feedback.booster.username}}</p>
                    <p class="mb-0" style="color: #FFFFFF80;">{{feedback.booster.country}}</p>
                  </div>
                </div>

                <div class="rate">
                  <p class="mb-0">{{feedback.rate}} <span class="ms-md-1 ms-0"><i class="fa-solid fa-star"></i></span></p>
                </div>
              </div>
              <p>{{feedback.text}}</p>
            </div>
          {% endfor %}
        
        </div>

        <!-- Navigation Buttons -->
        <div class="swiper-button-prev">
          <i class="fa-solid fa-arrow-left fs-6"></i>
        </div>

        <div class="swiper-button-next">
          <i class="fa-solid fa-arrow-right fs-6"></i>
        </div>

        <!-- Pagination -->
        <div class="swiper-pagination"></div>
      {% endif %}
    </div>
  </div>
</div>