{% load static %}
<div class="information row row-cols-4 mb-5 py-4">
  <div class="col text-center">
      <div class="icon-image" style="background-color: var(--secondary-color);">
          <img src="{% static 'components/images/cash.png' %}" alt="" class="img-fluid" width="40" height="40">
      </div>
      <p class="fw-bold my-3 head">Cash Back</p>
      <p>Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit.</p>
  </div>
  <div class="col text-center">
      <div class="icon-image" style="background-color: #DE4949;">
          <img src="{% static 'components/images/discount.png' %}" alt="" class="img-fluid" width="40" height="40">
      </div>
      <p class="fw-bold my-3 head">Discounts</p>
      <p>Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit.</p>
  </div>
  <div class="col text-center">
      <div class="icon-image" style="background-color: var(--secondary-color);">
          <img src="{% static 'components/images/safety.png' %}" alt="" class="img-fluid" width="40" height="40">
      </div>
      <p class="fw-bold my-3 head">Safety</p>
      <p>Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit.</p>
  </div>
  <div class="col text-center">
      <div class="icon-image" style="background-color: #DE4949;">
          <img src="{% static 'components/images/support.png' %}" alt="" class="img-fluid" width="40" height="40">
      </div>
      <p class="fw-bold my-3 head">Fast Support</p>
      <p>Lorem ipsum dolor sit amet,<br />consectetur adipiscing elit.</p>
  </div>
</div>