{% load static %}
<div class="information row row-cols-lg-4 row-cols-2 py-5 mt-5">
  <div class="col text-center mb-4">
      <div class="icon-image" style="background-color: var(--secondary-color);">
          <img src="{% static 'components/images/cash.png' %}" alt="" class="img-fluid" width="40" height="40">
      </div>
      <p class="fw-bold my-3 head">Cash Back</p>
      <p>Earn cash rewards for every<br class="d-lg-none d-md-inline-block d-none" /> purchase and save money today.</p>
  </div>
  <div class="col text-center mb-4">
      <div class="icon-image" style="background-color: #DE4949;">
          <img src="{% static 'components/images/discount.png' %}" alt="" class="img-fluid" width="40" height="40">
      </div>
      <p class="fw-bold my-3 head">Discounts</p>
      <p>Access exclusive discounts on a wide<br class="d-lg-none d-md-inline-block d-none" /> range of products now.</p>
  </div>
  <div class="col text-center">
      <div class="icon-image" style="background-color: var(--secondary-color);">
          <img src="{% static 'components/images/safety.png' %}" alt="" class="img-fluid" width="40" height="40">
      </div>
      <p class="fw-bold my-3 head">Safety</p>
      <p>Ensuring your safety with robust<br class="d-lg-none d-md-inline-block d-none" /> security measures at all times.</p>
  </div>
  <div class="col text-center">
      <div class="icon-image" style="background-color: #DE4949;">
          <img src="{% static 'components/images/support.png' %}" alt="" class="img-fluid" width="40" height="40">
      </div>
      <p class="fw-bold my-3 head">Fast Support</p>
      <p>Get quick assistance from our dedicated<br class="d-lg-none d-md-inline-block d-none" /> support team anytime.</p>
  </div>
</div>