<div class="motivation my-5 py-md-0 py-5">
  <div class="text px-md-5 px-4 w-100">
      <h1>Do you dream Bigger?<br /><br class="d-md-none d-block " />Get your custom Order!</h1>
      {% if game_id %}
        <a href="{% url 'custom.order' game_id=game_id %}" class="custom-btn filled mt-md-4 mt-5" style="width: 199px;" id="make-order"><i class="fa-solid fa-rocket me-2"></i> Order Now</a>
      {% else %}
        <a href="{% url 'games.games' %}" class="custom-btn filled mt-md-4 mt-5" style="width: 199px;" id="make-order"><i class="fa-solid fa-rocket me-2"></i> Order Now</a>
      {% endif %}
  </div>
</div>