body {
  background-color: #1E1814;
}
@media (max-width: 1199px) {
  .content {
    width: 100%;
    min-height: 690px;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 150% 700px;
    background-position: center -10px;
  }
  .content .overlay {
    width: 100%;
    min-height: 690px;
    background-image: url('./../images/bg_cover.png');
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-size: 100% 800px;
    background-repeat: no-repeat;
  }

  .signup-content {
    background-image: url('./../images/signup.png');
  }
  .login-content {
    background-image: url('./../images/login.png');
  }
  .reset-password-content {
    background-image: url('./../images/password-reset.png');
  }
}
@media (max-width: 767px) {
  .content {
    background-size: 250% 700px;
  }
}
.left-side .text h1 {
  font-family: var(--heading-font);
  font-size: 72px;
}
.left-side .text p {
  font-family: var(--heading-font);
  font-size: 32px;
  width: 592px;
}
.left-side .text h1 span, .left-side .text p span {
  color: var(--secondary-color);
}
@media (max-width: 991px) {
  .left-side .text h1 {
    font-size: 50px;
  }
  .left-side .text p {
    font-size: 20px;
  }
}
.select-container {
  width: 100% !important;
}
.right-side .head h1 {
  font-family: var(--heading-font);
  margin-bottom: 1.5rem;
  text-align: center;
}
.progress {
  height: 4px;
  background-color: var(--main-color);
}
.progress-bar {
  background-color: var(--secondary-color);
}
.continue-with {
  position: relative;
  text-align: center;
}
.continue-with::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 0.2px;
  background-color: var(--main-color);
  width: 33%;
}
.continue-with::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  height: 0.2px;
  background-color: var(--main-color);
  width: 33%;
}
.social {
  margin-top: 1.5rem !important;
  margin-bottom: 2rem !important;
}
.social a {
  background-color: #332A27;
  padding: 0.8rem;
  border-radius: var(--main-radius);
  color: white;
}
@media (max-width: 767px) {
  .continue-with::before, .continue-with::after {
    width: 22%;
  }
  .social a  {
    padding: 0.8rem 0.5rem;
  }
  .update-btn {
    font-size: 1.2rem;
  }
  .footer-link {
    font-size: 0.9rem;
  }
}