.register-container, .login-container {
  background-image: url('./../images/register1.jpg');
  background-size: cover;
  background-color: var(--main-color);
}
.custom-input {
  background-color: transparent;
  border: 1px solid var(--alternative-color);
  height: 50px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.custom-input:focus {
  background-color: transparent;
  border: 1px solid var(--secondary-color);      
  box-shadow: none !important;
  color: white;
}
input[type=file]::file-selector-button {
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 13px;
  margin-right: 20px;
  transition: .5s;
}
.custom-label {
  color: white !important;
  font-size: 17px;
  padding-left: 10px;
}
.register-image, .login-image {
  position: absolute;
  top: 14%;
  left: 3%;
}
.register, .login {
  height: 500px;
}
.register .register-form {
  height: 500px;
  overflow: auto;
}
.login .login-form  {
  /* height: 0px; */
  overflow: auto;
}
.register .register-form::-webkit-scrollbar-thumb, .login .login-form::-webkit-scrollbar-thumb {
  background: transparent;  
}
.profile {
  background-color: var(--main-color);
}
/* .profile::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
} */
.personal-info {
  padding: 5rem;
  background-image: url('./../images/info.jpg');
  background-size: cover;
}
.profile-image {
  border-radius: 25%;
}