/* Start Container */
.customer-container {
  position: relative;
  background-color: var(--background-color);
}
/* Start Landing */
.customer-container .customer-contant {
  width: 100%;
  min-height: 690px;
  background-image: url('./../images/customer_side_bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
.customer-container .customer-contant .overlay {
  width: 100%;
  min-height: 690px;
  background-image: url('./../images/bg_cover.png');
  padding-top: 8rem;
  padding-bottom: 8rem;
}
/* End Container */

/* Start Action For Booster */
.order-information .action-for-booster {
  padding: 2rem;
  border-radius: calc(var(--main-radius) * 2);
  background: linear-gradient(0deg, #281F1B, #281F1B),
  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
/* Booster Data */
.booster-info .profile-image {
  width: 64px;
  height: 64px;
  border-radius: var(--main-radius);
}
.booster-info .text h3 {
  font-family: var(--heading-font);
}
.booster-info #status {
  font-family: var(--sharp-font);
  color: var(--text-color);
}
.booster-info #status span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}
.booster-info #status span.offline {
  background-color: #EE3E3E;
}
.booster-info #status span.online {
  background-color: #3FBA6E;
}
/* Actions */
.actions .avalible-to-play button {
  padding: 8px 24px;
  border-radius: 48px;
  background-color: #FFC439;
  color: #1E1814;
  font-weight: 700;
}
.actions .extend-order a {
  padding: 8px 24px;
  border-radius: 48px;
  border: 1px solid #F26E3E;
  color: #FFFFFF;
  font-weight: 700;
}
.actions .tip button.open-modal {
  padding: 8px 24px;
  border-radius: 48px;
  background: #172924;
  border: 1px solid #40BB6F33;
  color: #3FBA6E;
  font-weight: 700;
}
.actions .report button {
  padding: 8px 24px;
  border-radius: 48px;
  background: #EE3E3E;
  color: #FFFFFF;
  font-weight: 700;
}
/* End Action For Booster */