.customer-order-body {
  background-image: url('./../images/bg2.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
}
.customer-order-body::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
}
.customer-order {
  position: relative;
  z-index: 100;
}
.information {
  background-color: #3d22625e;
}
.user-info .profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.chat-booster, .chat-admin, .choose-booster {
  background-color: #3d22625e;
}
.submit-btn, .tip-booster-btn {
  background-color: var(--secondary-color);
  color: white;
}
.submit-btn:hover, .tip-booster-btn:hover {
  background-color: var(--secondary-color);
  color: white;
  transform: scale(0.9);
}