<div class="updata-now">
  <form action="{% url 'order.update.rating' order_id=order.order.order.id %}" method="POST">
    {% csrf_token %}
    {% if error %} <p class="error-message message">{{error}}</p> {% endif %}

    <div class="d-flex flex-wrap justify-content-between">
      <div class="select-container mb-3">
        <select required name="reached_rank" id="reached_rank">
          <option value=1 {% if order.order.reached_rank|lower == 'iron' %} selected {% endif %}>iron</option>
  
          <option value=2 {% if order.order.reached_rank|lower == 'bronze' %} selected {% endif %}>bronze</option>
  
          <option value=3 {% if order.order.reached_rank|lower == 'silver' %} selected {% endif %}>silver</option>
  
          <option value=4 {% if order.order.reached_rank|lower == 'gold' %} selected {% endif %}>gold</option>
  
          <option value=5 {% if order.order.reached_rank|lower == 'platinum' %} selected {% endif %}>platinum</option>
  
          <option value=6 {% if order.order.reached_rank|lower == 'emerald' %} selected {% endif %}>emerald</option>
  
          <option value=7 {% if order.order.reached_rank|lower == 'diamond' %} selected {% endif %}>diamond</option>
  
          <option value=8 {% if order.order.reached_rank|lower == 'master' %} selected {% endif %}>master</option>
        </select>
      </div>
  
      <div class="select-container mb-3">
        <select required name="reached_division" id="reached_division">
          <option value="1" {% if order.order.reached_division == 1 %}selected{% endif %}>IV</option>
          <option value="2" {% if order.order.reached_division == 2 %}selected{% endif %}>III</option>
          <option value="3" {% if order.order.reached_division == 3 %}selected{% endif %}>II</option>
          <option value="4" {% if order.order.reached_division == 4 %}selected{% endif %}>I</option>
        </select>
      </div>
  
      <div class="select-container mb-3">
        <select required name="reached_marks" id="reached_marks">
          <option value="0" {% if order.order.reached_marks == 0 %}selected{% endif %}>0 - 20</option>
          <option value="1" {% if order.order.reached_marks == 1 %}selected{% endif %}>21 - 40</option>
          <option value="2" {% if order.order.reached_marks == 2 %}selected{% endif %}>41 - 60</option>
          <option value="3" {% if order.order.reached_marks == 3 %}selected{% endif %}>61 - 80</option>
          <option value="4" {% if order.order.reached_marks == 4 %}selected{% endif %}>81 - 100</option>
        </select>
      </div>
    </div>

    <div class="text-end">
      <button type="submit" class="btn update-rating-btn">Update Rating</button>
    </div>
  </form>
</div>