<div class="updata-now">
  <form action="{% url 'order.update.rating' order_id=order.order.order.id %}" method="POST" class="no-disabled-form">
    {% csrf_token %}
    {% if error %} <p class="error-message message">{{error}}</p> {% endif %}

    {% if order.order.order.game_type == 'D' %}
      <div class="select-container mb-3">
        <select required name="reached_rank" id="reached_rank_csgo">
          <option value="1" {% if order.order.reached_rank.id == 1 %}selected{% endif %}>Silver I</option>
          <option value="2" {% if order.order.reached_rank.id == 2 %}selected{% endif %}>Silver II</option>
          <option value="3" {% if order.order.reached_rank.id == 3 %}selected{% endif %}>Silver III</option>
          <option value="4" {% if order.order.reached_rank.id == 4 %}selected{% endif %}>Silver IV</option>
          <option value="5" {% if order.order.reached_rank.id == 5 %}selected{% endif %}>Silver Elite</option>
          <option value="6" {% if order.order.reached_rank.id == 6 %}selected{% endif %}>SE Master</option>
          <option value="7" {% if order.order.reached_rank.id == 7 %}selected{% endif %}>Gold NV I</option>
          <option value="8" {% if order.order.reached_rank.id == 8 %}selected{% endif %}>Gold NV II</option>
          <option value="9" {% if order.order.reached_rank.id == 9 %}selected{% endif %}>Gold NV III</option>
          <option value="10" {% if order.order.reached_rank.id == 10 %}selected{% endif %}>Gold NV Master</option>
          <option value="11" {% if order.order.reached_rank.id == 11 %}selected{% endif %}>Master Grd I</option>
          <option value="12" {% if order.order.reached_rank.id == 12 %}selected{% endif %}>Master Grd II</option>
          <option value="13" {% if order.order.reached_rank.id == 13 %}selected{% endif %}>Master Grd Elite</option>
          <option value="14" {% if order.order.reached_rank.id == 14 %}selected{% endif %}>D Master Grd</option>
          <option value="15" {% if order.order.reached_rank.id == 15 %}selected{% endif %}>Leg Eagle</option>
          <option value="16" {% if order.order.reached_rank.id == 16 %}selected{% endif %}>Leg Eagle Master</option>
          <option value="17" {% if order.order.reached_rank.id == 17 %}selected{% endif %}>Supre Master FC</option>
          <option value="18" {% if order.order.reached_rank.id == 18 %}selected{% endif %}>Global Elite</option>
        </select>
      </div>
    {% else %}
      <div class="mb-3">
        <input class="custom-input form-control" type="number" name="reached_division" value={{order.order.reached_division}} placeholder="Reached Premier Rank" aria-label="Reached Premier Rank" min="{{ order.order.current_division }}" step="1" max="{{ order.order.desired_division }}">
      </div>
    {% endif %}

    <div>
      <button type="submit" class="btn update-rating-btn">Update Rating</button>
    </div>
  </form>
</div>