<div class="updata-now">
  <form action="{% url 'order.update.rating' order_id=order.order.order.id %}" method="POST">
    {% csrf_token %}
    {% if error %} <p class="error-message message">{{error}}</p> {% endif %}

    <div class="d-flex flex-wrap justify-content-between">
      <div class="select-container mb-3">
        <select required name="reached_rank" id="reached_rank">
          <option value=1 {% if order.order.reached_rank|lower == 'bronze' %} selected {% endif %}>bronze</option>
  
          <option value=2 {% if order.order.reached_rank|lower == 'silver' %} selected {% endif %}>silver</option>
  
          <option value=3 {% if order.order.reached_rank|lower == 'gold' %} selected {% endif %}>gold</option>
  
          <option value=4 {% if order.order.reached_rank|lower == 'platinum' %} selected {% endif %}>platinum</option>
  
          <option value=5 {% if order.order.reached_rank|lower == 'diamond' %} selected {% endif %}>diamond</option>
  
          <option value=6 {% if order.order.reached_rank|lower == 'legend' %} selected {% endif %}>legend</option>
        </select>
      </div>
  
      <div class="select-container mb-3">
        <select required name="reached_division" id="reached_division">
          <option value="1" {% if order.order.reached_division == 1 %}selected{% endif %}>X</option>
          <option value="2" {% if order.order.reached_division == 2 %}selected{% endif %}>IX</option>
          <option value="3" {% if order.order.reached_division == 3 %}selected{% endif %}>VIII</option>
          <option value="4" {% if order.order.reached_division == 4 %}selected{% endif %}>VII</option>
          <option value="5" {% if order.order.reached_division == 5 %}selected{% endif %}>VI</option>
          <option value="6" {% if order.order.reached_division == 6 %}selected{% endif %}>V</option>
          <option value="7" {% if order.order.reached_division == 7 %}selected{% endif %}>IV</option>
          <option value="8" {% if order.order.reached_division == 8 %}selected{% endif %}>III</option>
          <option value="9" {% if order.order.reached_division == 9 %}selected{% endif %}>II</option>
          <option value="10" {% if order.order.reached_division == 10 %}selected{% endif %}>I</option>
        </select>
      </div>
  
      <div class="select-container mb-3">
        <select required name="reached_marks" id="reached_marks">
          <option value="0" {% if order.order.reached_marks == 0 %}selected{% endif %}>3</option>
          <option value="1" {% if order.order.reached_marks == 1 %}selected{% endif %}>2</option>
          <option value="2" {% if order.order.reached_marks == 2 %}selected{% endif %}>1</option>
        </select>
      </div>
    </div>

    <div>
      <button type="submit" class="btn update-rating-btn">Update Rating</button>
    </div>
  </form>
</div>