{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Game Boosters{% endblock %}
{% block style %}
<link href="{% static 'games/css/game.css'%}" rel="stylesheet" />
<link href="{% static 'wow/css/wow.css'%}" rel="stylesheet" />
{% endblock %}
{% block container %}
<div id="order-container" data-order="{{ order.get_rank_value }}"></div>
<div class='body py-5'>
  <div class="container-fluid wild-rift">
    <div class="container">
      {% if messages %}
        {% for message in messages %}
        <div class="py-3 mx-auto" style="width: 550px;">
          <div class="alert {{ message.tags }} alert-dismissible mb-0 error-message" role="alert" >
          {{ message }}
          </div>
        </div>
        {% endfor %}
      {% endif %}
      <div class="choise text-center mb-3">
        <input type="radio" id="arena-boost" name="radio-group-type" checked>
        <label for="arena-boost" class="me-2">2x2 Arena Boost</label>
        <input type="radio" id="arena-boost" name="radio-group-type">
        <label for="arena-boost" class="me-2">3x3 Arena Boost</label>
        <input type="radio" id="badge-boost" name="radio-group-type">
        <label for="badge-boost" class="me-2">Badge Boost</label>
      </div>
      
      <div class="choices py-5 rounded-3 shadow px-lg-0 px-5">
        <!-- ------------------------------ Arena Boost 2x2 Rank --------------------------- -->
        <div class="arena-boost row justify-content-center flex-wrap">
          <div class="col-lg-5 col-12 mb-lg-0 mb-5">
            <h5 class="mb-4">Cuurent Arena 2x2 Rank</h5>
            <div class="ranks d-flex justify-content-start align-items-center flex-wrap">
              <input type="number" id="currentArena2x2Value" value="0">
              <input type="range" class="form-range" min="0" max="2200" step="1" id="currentArena2x2">
            </div>              
            </div>

          <!-- Desired Arena 2x2 Rank -->
            <div class="col-lg-5 col-12">
              <h5 class="mb-4">Desired Arena 2x2 Rank</h5>
              <div class="ranks d-flex justify-content-start align-items-center flex-wrap">
              <input type="number" id="desiredArena2x2Value" value="0">
              <input type="range" class="form-range" min="0" max="2200" step="1" id="desiredArena2x2"> 
            </div>
          </div> 
          </div>

          <hr class="hr border border-3 mt-4 mx-auto">
          <div class='extraChargesSection'>
            <div>
              <button class='extraChargesButton' id='duoBoostingButton'>Duo Boosting</button>
              <button class='extraChargesButton' id='selectBoosterButton'>Select Booster</button>
              <button class='extraChargesButton' id='turboBoostButton'>Turbo Boost</button>
              <button class='extraChargesButton' id='chooseAgentsButton'>Choose Legends</button>
              <button class='extraChargesButton' id='streamingButton'>Streaming</button>
            </div>
            <div class='extraContent duoBoostingContent'>
              <p class='title'>Duo Boosting (+65%) </p>
              <div class='extraChargesBody'>
                <p class='p-0 m-0'>Are you willing to play on your own account with our booster as a partner? Then select this option!</p>
                <p class='p-0 m-0'>"Duo Boost" option is not available in a combination with "Choose Champions" option, "Choose Champions" option and will be ignored.</p>
                <div class='d-flex justify-content-end'>
                  <button class='button applyButton' id='duoBoostingApplyButton'>Apply</button>
                </div>
              </div>
            </div>
            <div class='extraContent selectBoosterContent'>
              <p class='title'>Select Booster (+5%) </p>
              <div class='extraChargesBody'>
                <p class='p-0 m-0'>Did you like your previous Booster or you are looking forward to select a specific person to work on your account? Use this option to select the right booster!</p>
                <div class='d-flex justify-content-end'>
                  <button class='button applyButton' id='selectBoosterApplyButton'>Apply</button>
                </div>
              </div>
            </div>
            <div class='extraContent turboBoostContent'>
              <p class='title'>Turbo Boost (+20%) </p>
              <div class='extraChargesBody'>
                <p class='p-0 m-0'>We will increase the payout for your order and will stick it to the top of our pending queue.</p>
                <div class='d-flex justify-content-end'>
                  <button class='button applyButton' id='turboBoostApplyButton'>Apply</button>
                </div>
              </div>
            </div>
            <div class='extraContent chooseAgentsContent'>
              <p class='title'>Choose Legends (Free) </p>
              <div class='extraChargesBody'>
                <p class='p-0 m-0'>If you're looking to improve your statistics with specific legends, this option is perfect for you. By selecting it, your booster will exclusively use the agents you've chosen throughout the boosting process.</p>
                <div class='d-flex justify-content-end'>
                  <button class='button applyButton' id='chooseAgentsApplyButton'>Apply</button>
                </div>
              </div>
            </div>
            <div class='extraContent streamingContent'>
              <p class='title'>Streaming (+15%) </p>
              <div class='extraChargesBody'>
                <p class='p-0 m-0'>With this option turned on you will be able to watch everything your booster sees during the boosting process.</p>
                <div class='d-flex justify-content-end'>
                  <button class='button applyButton' id='streamingApplyButton'>Apply</button>
                </div>
              </div>
            </div>
          </div>
          <!-- -------------------------- Purchase Section ------------------------- -->
          <br/>
          <br/>
          <hr class="hr border border-3 mt-5 mb-0" style='width:100% !important'>
          <div class="row py-5 rounded-3 purchase-Section">
            <div class="price-data arena-boost col-10 text-start"></div>
            <div class="price-data placements-boost col-10 text-start"></div>
            <center>
              <!-- Arena Form -->
              <form action= "http://127.0.0.1:8000/wow/paypal/" method="post"  id="purchaseForm" class="arena-boost">
                <input type="hidden" name="game_id" value="6">
                <input type="hidden" name="game_type" value="A">
                <!-- Division -->
                <input type="hidden" name="current_RP" value="1">
                <input type="hidden" name="current_rank" value="1">
                <input type="hidden" name="desired_RP" value="3">
                <input type="hidden" name="desired_rank" value="1">
                <!-- Extra Fields -->
                <input type="hidden" name="duo_boosting" id="duoBoosting" value=false>
                <input type="hidden" name="select_booster" id="selectBooster" value=false>
                <input type="hidden" name="turbo_boost" id="turboBoost" value=false>
                <input type="hidden" name="choose_agents" id="chooseAgents" value=true>
                <input type="hidden" name="streaming" id="streaming" value=false>
                <!-- Other -->
                <input type="hidden" name="price" value="120">
                <input type="hidden" id="chooseBoosterInput" name="choose_booster" value=0 readonly>
                <input type="hidden" id="extendOrder" name="extend_order" value=0 readonly>                    
                <div class="purchase col-10 mt-4">
                  <button id="submitBtn" type="submit" class="btn purchase-btn rounded-3"><i class="fa-solid fa-shield-heart"></i> Purchase</button>
                </div>
              </form>
            </center>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'wow/js/main.js' %}"></script>
<script src="{% static 'wow/js/arena-boost.js' %}"></script>
{% endblock %}