/* Buttons */
.custom-btn {
  padding: 7px 20px;
  border-radius: 32px;
  text-align: center;
  font-family: var(--heading-font) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: 5px solid var(--secondary-color);
}
.custom-btn:hover {
  border: 5px solid var(--alt-secondary-color);
}
/* Medium */
@media (max-width: 1199px) {
  .custom-btn {
    width: 125px !important;
    font-size: 14px !important;
  }
}
@media (max-width: 992px) {
  .custom-btn {
    width: 100px !important;
  }
  .custom-btn:hover {
    color: var(--alt-secondary-color);
  }
}

.custom-btn.filled {
  color: white;
  background-color: var(--secondary-color);
}
.custom-btn.filled:hover {
  background-color: var(--alt-secondary-color);
}
.custom-btn.outline {
  color: var(--secondary-color);
}
.custom-btn.outline:hover {
  color: var(--alt-secondary-color);
}

/* Input Search */
.search {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: var(--main-radius);
  background-color: var(--alternative-color);
  box-shadow: 0px 0px 10px 0px #00000040 inset;
}
.search-input {
 font-size: 16px;
 color: var(--secondary-color);
 margin-left: 14px;
 outline: none;
 border: none;
 background: transparent;
 width: 300px;
}
.search-input::placeholder,
.search-icon {
  color: #FFFFFF80;
}