/* ---------------------------- Messages ---------------------------- */
.message-container {
  width: 500px !important;
  position: absolute;
  z-index: 100;
  top: -280px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
@media (max-width: 767px) {
  .message-container {
    width: 100% !important;
  }
}
.message {
  width: fit-content;
  padding: 0.5rem;
  border-radius: var(--main-radius);
  text-align: center !important;
}
.error-message {
  color: #f56868;
  background-color: #5d0202;
  border: 1px solid #ed3535;
}
.success-message {
  color: #3FBA6E;
  background-color: #172924;
  border: 1px solid #40BB6F33;
}
.info-message {
  background-color: #201914;
  border: 1px solid #ffffff33;
  color: #534540;
  width: fit-content;
  padding: 0.5rem;
  border-radius: var(--main-radius);
}
/* ---------------------------- Messages ---------------------------- */
.alert {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--main-radius);
  background: #433733;
  position: relative;
  border: none;
  padding: 1.9rem 1rem;
  text-align: start !important;
}
.alert-successful {
  background: linear-gradient(180deg, #43373300 0%, #433733 80.27%), 
  linear-gradient(180deg, #44d07a7d 0%, #433733 100%);
}
.alert-error {
  background: linear-gradient(180deg, #43373300 0%, #433733 80.27%), 
  linear-gradient(180deg, #F35757 0%, #433733 100%);
}
.alert::before {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 1.5rem;
  margin-right: 1rem; 
}
.alert-successful::before {
  content: '\f058';
  color: #44D07A;
}
.alert-error::before {
  content: '\f057';
  color: #F35757;
}
.alert::after {
  content: '';
  width: 0; /* Start at 0% width */
  height: 11px;
  border-radius: var(--main-radius);
  border-top-left-radius: 0 !important;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 5s linear; /* Adjust the time as needed */
}

/* New CSS to handle the loader */
.alert.loader-active::after {
  width: 100%; /* Transition to 100% width */
}
