.message-container {
  width: 550px !important;
  position: absolute;
  z-index: 100;
  top: -280px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
@media (max-width: 767px) {
  .message-container {
    width: 100% !important;
  }
}
.error-message {
  color: #f56868;
  background-color: #5d0202;
  border: 1px solid #ed3535;
}
.success-message {
  color: #3FBA6E;
  background-color: #172924;
  border: 1px solid #40BB6F33;
}
