:root {
  --main-color: #3D2262;
  --secondary-color: #5278BD;
  --alternative-color: #4C4974;
  --background-color: #212529;
  --text-color: #fafafa;
}

.navbar.navbar-dark.bg-dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('./../../homepage/images/Landing.jpg');
  background-size: cover;
  background-color: transparent !important;
  border-bottom: 1px solid #ad4dde42;
  z-index: 1000;
}
.navbar a {
  color: var(--text-color) !important;
}
.landing {
  height: 600px;
  background-image: url('./../../homepage/images/Landing.jpg');
  background-size: cover;
  position: relative;
}
.landing::before, .navbar.navbar-dark.bg-dark::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 40%);
}
@media (max-width: 767px) {
  .text h2 {
    width: 100% !important;
  }
}
.text h1 {

}
.games {
  background-color: var(--main-color);
  height: 1000px;
}