:root {
  --main-color: #3D2262;
  --secondary-color: #5278BD;
  --alternative-color: #4C4974;
  --background-color: #212529;
  --text-color: #fafafa;
  --section-padding: 100px;
  --main-transition: 0.5s;
  --section-padding: 100px;
  --alternative-color-rgba: 76, 73, 116;
  --main-color-rgba: 61, 34, 98;
}
.body {
  background-image: url('./../../homepage/images/Landing.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.body::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 40%);
}
.navbar.bg-transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* border-bottom: 1px solid #ad4dde42; */
  z-index: 1000;
  background-color: transparent !important;
}
/* .navbar.bg-transparent.scrolled {
  background-image: linear-gradient(to right, #37175E 0%, #582984 50%, #4A0774) !important;
} */
.navbar a {
  color: var(--text-color) !important;
}
.landing {
  height: 400px;
  background-color: #3d22625e;
}
.landing img {
  position: relative;
  bottom: 300px;
  right: 0;
}
@media (max-width: 767px) {
  .text h2 {
    width: 100% !important;
    text-align: center;
  }
}
.games {
  position: relative;
  /* background-image: url('../images/bg7.jpg');
  background-size: cover;
  background-position: center bottom; */
  z-index: 0;
}

/* .games::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
} */
.games .group-one .games-card ,
.games .group-three .games-card {
  justify-content: flex-end;
}
.games .group-two .games-card {
  justify-content: flex-start;
}
.games .games-card {
  display: flex;
  flex-wrap: wrap;
  opacity: 80%;
  gap: 26px;
}
.games .games-card .box {
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .games .games-card .box {
    flex-basis: calc(50% - 20px);
  }
}
@media (min-width: 1200px) {
  .games .games-card .box {
    flex-basis: calc(25% - 20px);
  }
}
.games .games-card .box img {
  width: 450px;
  height: 250px;
  max-width: 100%;
  transition: var(--main-transition);
}
.games .games-card .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
.games .games-card .box .caption {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: var(--main-transition);
  display: flex;
  justify-content: center;
  align-items: center;
}
.games .games-card .box:hover .caption {
  bottom: 0;
}
.games .games-card .box .caption h3 {
  font-weight: normal;
  margin-bottom: 10px;
  color: var(--text-color) !important;
}
.footer {
  padding-top: calc(var(--section-padding) / 2 );
  padding-bottom: calc(var(--section-padding) / 2 );
  background-color: #1f2021;
  background-image: linear-gradient(to right, #15205A 0%, #883597 50%, #784299) !important;
  color: white;
  text-align: center;
  position: relative;
  height: 20%;
}
.footer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
}
.footer .container {
  position: relative;
}
.footer .container img {
  width: 70px;
  margin-bottom: 20px;
}
.footer .container p:not(.copyright) {
  width: fit-content;
  font-size: 22px;
  text-transform: uppercase;
  padding: 20px;
  margin: 20px auto;
  border-bottom: 1px solid white;
}
.footer .container div.social-icons i {
  padding: 10px 15px;
}
.footer .container .copyright {
  margin-top: 60px;
}
.footer .container .copyright span {
  font-weight: bold;
  color: var(--alternative-color);
}
::selection {
  background: var(--alternative-color);
  color: white;
}
::-moz-selection {
  background-image: linear-gradient(to right, #37175E 0%, #582984 50%, #4A0774) !important; 
  color: white;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #37175E 0%, #582984 50%, #4A0774) !important;  
}
.input[type = "checkbox"]:checked {
  background-color: var(--main-color) !important; 
}
.input[type = "radio"]:checked {
  background-color: var(--main-color) !important; 
}
.dropdown-menu {
  background-color: var(--main-color) !important;
}
.dropdown-menu .dropdown-item:hover {
  background-color: var(--alternative-color);
}