/*  Start Global Rule */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #433733;
  --secondary-color: #F26E3E;
  --alt-secondary-color: #DE4949;
  --alternative-color: #2F271F;
  --background-color: #201914;
  --heading-font: heading-font;
  --sharp-bold-15: sharp-bold-15;
  --sharp-semibold-15: sharp-semibold-15;
  --sharp-book-15: book-15;

  --sharp-font: sharp-medium-font;
  --normal-sharp-font: normal-sharp-font;
  --sharp-thin-font: sharp-thin-font;

  --main-radius: 8px;
  --text-color: #fafafa;
  --section-padding: 100px;
  --main-transition: 0.5s;
  --alternative-color-rgba: 76, 73, 116;
  --main-color-rgba: 61, 34, 98;
}
::selection {
  background: var(--secondary-color);
  color: white;
}
::-moz-selection {
  background-color: var(--secondary-color);
  color: white;
}
::-webkit-scrollbar {
  width: 16px;
  height: 4px; 
}
@media (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0; 
  }
}
::-webkit-scrollbar-track {
  background: #281F1B;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}
@font-face {
  font-family: main-font;
  src: url('./../fonts/Helvetica-Now-Var.ttf') format('truetype');
}
@font-face {
  font-family: heading-font;
  src: url('./../fonts/Sharp_Grotesk/SharpGrotesk-SemiBold25.otf');
}
@font-face {
  font-family: sharp-semibold-15;
  src: url('./../fonts/Sharp_Grotesk/SharpGrotesk-SemiBold15.otf');
}
@font-face {
  font-family: sharp-bold-15;
  src: url('./../fonts/Sharp_Grotesk/SharpGrotesk-Bold15.otf');
}
@font-face {
  font-family: sharp-medium-font;
  src: url('./../fonts/Sharp_Grotesk/SharpGrotesk-Medium25.otf');
}
@font-face {
  font-family: book-15;
  src: url('./../fonts/Sharp_Grotesk/SharpGrotesk-Book15.otf');
}
@font-face {
  font-family: sharp-thin-font;
  src: url('./../fonts/Sharp_Grotesk/SharpGrotesk-Thin20.otf');
}
@font-face {
  font-family: normal-sharp-font;
  src: url('./../fonts/Sharp_Grotesk/SharpGrotesk-Light25.otf');
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: main-font;
  background-color: #1E1814;
  color: #fff;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none;
  margin: 0 !important;
  padding: 0;
}
.container {
  --bs-gutter-x: 28px!important; 
}
@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
    --bs-gutter-x: 3rem !important; 
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 870px !important;
    --bs-gutter-x: 3.5rem !important; 
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px !important;
    --bs-gutter-x: 3.5rem !important; 
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1440px !important;
    --bs-gutter-x: 3.5rem !important; 
  }
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* End Global Rule */

/* Start Nav */
.nav {
  background-color: transparent;
  position: absolute;
  width: 100%;
  color: white;
  z-index: 5;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}
@media (max-width: 767px) {
  .nav {
    overflow: hidden !important;
  }
  .nav.shown {
    overflow: visible !important;
  }
}
.nav.fixed {
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.nav .main-nav {
  flex: 1;
}
.nav .nav-row {
  width: 100vw !important;
}
@media (min-width: 768px) {
  .nav .nav-row {
    justify-content: space-between !important;
  }
}
.nav .logo {
  color: var(--secondary-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav .logo img {
  width: 200px;
}
@media (max-width: 1199px) {
  .nav .logo img {
    width: 150px;
  }
}
.nav .main-nav .toggle-menu {
  color: white;
  font-size: 35px;
}
@media (min-width: 768px) {
  .nav .main-nav .toggle-menu {
    display: none;
  }
}
.nav .links {
  justify-content: space-between;
  align-items: center;
}
.nav .links, .nav .links .main-links, .nav .links .user-links {
  display: flex;
}
.nav .links .main-links {
  justify-content: center;
}
.nav .links .user-links {
  justify-content: center;
  align-items: center;
}
.nav .links .main-links > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
  height: 72px;
  padding: 0 20px;
}
.nav .links .main-links  > li > a:hover, .nav .links .main-links  > li > a:hover > span {
  color: var(--alt-secondary-color) !important;
}
.nav .links .main-links  > li > a.active, .nav .links .main-links  > li > a.active > span {
  color: var(--secondary-color) !important;
}
.order-link a {
  color: white;
  border: 1px solid var(--secondary-color);
  font-family: var(--heading-font);
  padding: 16px 24px;
  border-radius: 32px;
}
.order-link a:hover {
  border-color: var(--alt-secondary-color);
}
/* Links Hidden */
.nav .links .main-links .links-hidden {
  display: none;
}
@media (max-width: 767px) {
  .nav .links .main-links .links-hidden {
    display: inline-block;
  }
  .dropdown.custom-dropdown {
    display: none;
  }
  .order-link {
    display: none;
  }
}
@media (max-width: 992px) { 
  .order-link {
    padding: 0px;
    font-size: 0.5rem;
  }
}
@media (max-width: 1199px) { 
  .nav .links .main-links  > li > a {
    font-size: 14px;
    padding: 0 12px;
  }
  .nav a {
    font-size: 8px !important;
  }
}
@media (max-width: 992px) { 
  .nav .links .main-links  > li > a {
    font-size: 13px;
    padding: 0 12px;
  }
}
.nav .links .small-header {
  display: none;
}
@media (max-width: 767px) {
  .nav {
    padding: 0 !important;
  }
  .nav .links .logo {
    width: 114px;
  }
  .nav .links.shown .small-header {
    display: block;
    padding-bottom: 40px !important;
  }
  .nav .links .close-icon {
    border-radius: var(--main-radius);
    background-color: var(--main-color);
    padding: 8px;
    width: 56px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav .links .close-icon i {
    font-size: 32px;
  }
  .nav .links {
    display: flex !important;
    flex-direction: column;
    width: 100vw;
    max-height: 100vh;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #362C29;
    z-index: 1100;
    transform: translateX(150%);
    overflow-x: hidden !important;
  }
  .links.shown {
    transition: var(--main-transition);
    padding: 12px 24px 240px;
    transform: translateX(0);
  }
  .links > li {
    width: 100%;
  }
  .links > li > .main-links,
  .links > li > .user-links {
    flex-direction: column;
    justify-content: start !important;
    width: 100%;
  }
  .links > li > .main-links > li,
  .links > li > .user-links > li {
    width: 100%;
  }
  .links > li > .main-links > li > a,
  .links > li > .user-links > li > a {
    width: 100%;
    font-size: 16px !important;
    height: auto;
    margin-bottom: 24px !important;
  }
  .links > li > .main-links > li > a {
    padding: 0 !important;
    padding-bottom: 24px !important;
    justify-content: flex-start !important;
    position: relative;
  }
  .links > li > .main-links > li:not(:last-of-type) > a {
    border-bottom: 0.2px solid #1E1814;
  }
  .links > li > .user-links > li > a {
    width: 100% !important;
    margin: 0;
  }
}
/* End Nav */

/* Start Footer */
.footer .info {
  background-color: #201B15;
}
.footer .info .footer-text {
  color: #ffffff4f;
}
@media (max-width: 992px) {
  .footer .info .footer-text {
    color: #ffffff4f;
    text-align: justify;
  }
}
@media (max-width: 767px) {
  .footer .info .footer-logo {
    width: 188px;
    margin-bottom: 2rem;
  }
}
.footer .contact {
  background-color: #171313;
}
.footer .contact .links > li > a {
  height: 72px;
  padding-right: 30px;
  color: #ffffff80 !important;
}
.footer .contact .links, .footer .contact .social  {
  display: flex;
  flex-wrap: wrap;

}
.footer .contact .links > li > a, .footer .contact .social > li > a  {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}
.footer .contact .social {
  justify-content: end;
}
.footer .contact .social > li > a {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

.footer .contact .copyright {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff80 !important;
}
@media (max-width: 767px) {
  .footer .contact .copyright {
    font-size: 12px;
  }
  .footer .contact .links {
    flex-direction: column;
    width: 100%;
  }
  .footer .contact .links > li > a {
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 700;
    height: auto;
    padding: 16px 0;
  }
  .footer .contact .social {
    justify-content: flex-start;
    padding: 2rem 0;
  }
  .footer .contact .social > li > a {
    margin-right: 10px !important;
  }
}
/* End Footer */