/*  Start Global Rule */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #433733;
  --secondary-color: #F26E3E;
  --alternative-color: #2F271F;
  --background-color: #201914;
  --heading-font: heading-font;
  --main-radius: 8px;
  --text-color: #fafafa;
  --section-padding: 100px;
  --main-transition: 0.5s;
  --alternative-color-rgba: 76, 73, 116;
  --main-color-rgba: 61, 34, 98;
}

::selection {
  background: var(--alternative-color);
  color: white;
}

::-moz-selection {
  background-image: linear-gradient(to right, #37175E 0%, #582984 50%, #4A0774) !important;
  color: white;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #37175E 0%, #582984 50%, #4A0774) !important;
}

@font-face {
  font-family: main-font;
  src: url('./../fonts/Helvetica-Now-Var.ttf') format('truetype');
}

@font-face {
  font-family: heading-font;
  src: url('./../fonts/Sharp_Grotesk/SharpGrotesk-Bold20.otf');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: main-font;
  background-color: var(--background-color);
  color: #fff;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0;
}

/* End Global Rule */

/* Start Nav */
.nav {
  background-color: transparent;
  position: absolute;
  width: 100%;
  color: white;
  z-index: 100;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.nav .logo {
  color: var(--secondary-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1199px) {
  .nav .logo {
    width: 100%;
    height: 50px;
  }

  .nav .container {
    justify-content: center;
  }
}

.nav .links, .footer .contact .links, .footer .contact .social  {
  display: flex;
}
.nav .links {
  justify-content: center;
}
.footer .contact .social {
  justify-content: end;
}
.nav .links > li > a, .footer .contact .links > li > a, .footer .contact .social > li > a  {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}
.nav .links > li > a{
  height: 72px;
  padding: 0 20px;
}
.footer .contact .links > li > a {
  height: 72px;
  padding-right: 30px;
}
.footer .contact .social > li > a {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--secondary-color);
}
/* End Nav */

/* Start Footer */
.footer .info {
  background-color: #201B15;
}
.footer .contact {
  background-color: #171313;
}
/* End Footer */