/* Popup container */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  overflow: auto;
}
/* Popup content */
.popup-content {
  background-color: var(--main-color);
  margin: 4% auto;
  padding: 20px;
  width: 80vw;
  height: fit-content;
  max-width: 100%;
  border-radius: calc(var(--main-radius) * 2);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  animation: slideIn 0.5s forwards;
  position: relative;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
/* Close button */
.close {
  color: var(--secondary-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 13px;
  transform: scale(1.2);
}
.close:hover,
.close:focus {
  transform: scale(1);
  text-decoration: none;
  cursor: pointer;
}
/* Customize Boostrap Modal Style */
.custom-modal {
  background-color: rgba(0,0,0,0.5) !important;
}
.custom-modal .modal-content {
  background-color: var(--main-color) !important;
  border-radius: calc(var(--main-radius) * 2) !important;
}
.custom-modal .modal-header {
  border-bottom: none !important;
}
.custom-modal .modal-header .btn-close {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: none !important;
  color: var(--secondary-color) !important;
  transform: scale(1.2) !important;
}
.custom-modal .modal-header .btn-close:hover {
  color: var(--secondary-color) !important;
  transform: scale(1) !important;
}
.custom-modal .modal-title {
  /* Custom title styles */
  color: var(--secondary-color) !important;
}