/* Popup container */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  overflow: auto;
}
/* Popup content */
.popup-content {
  background-color: var(--main-color);
  margin: 4% auto;
  padding: 20px;
  width: 80vw;
  max-width: 100%;
  border-radius: calc(var(--main-radius) * 2);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
/* Close button */
.close {
  color: var(--secondary-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 13px;
  transform: scale(1.2);
}
.close:hover,
.close:focus {
  transform: scale(1);
  text-decoration: none;
  cursor: pointer;
}