.range-container {
  position: relative;
  width: 100%;
}
.step-indicator {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.step {
  font-size: 12px;
  position: relative;
}
@media (max-width: 350px) {
  .step {
    font-size: 9px;
  }
}
.step::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  top: -19px;
  right: 1px;
  transform: translateX(-50%);
  font-size: 12px;
  border-radius: 50%;
  z-index: 1;
}
.selected::before {
  background-color: #F36E3F; 
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 16px;
  height: 4px;
  background: #251D16;
}
/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 20px;
  width: 20px;
  background-color: #F36E3F;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
  position: relative;
  z-index: 2;
}
/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background-color: #F36E3F;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
  position: relative;
  z-index: 2;
}
/* Hover, active & focus Thumb: Webkit */
input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
/* Hover, active & focus Thumb: Firfox */
input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)    
}


.number-input {
  background: none;
  border: none;
  font-size: 48px;
  font-weight: 800;
  color: white;
  text-align: left; /* Align text to the left */
  outline: none; /* Remove outline */
  max-width: 150px;
}

@media (max-width: 350px) {
  .number-input {
    font-size: 36px;
    max-width: 100px;
  }
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input::-moz-appearance {
  -moz-appearance: textfield;
}