{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'bootstrap/css/bootstrap.css'%}" rel="stylesheet" />
  <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
  <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'base/css/master.css'%}" />
  <link rel="stylesheet" href="{% static 'base/css/fields.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/framework.css' %}">
  <link id="favicon" rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <!-- Our Style -->
  <link rel="stylesheet" href="{% static 'accounts/css/account-actions.css' %}">
  <title>Login</title>
  <style>
    .has-error {
      border-color: #F30D0D !important;
    }
  </style>
</head>

<body>
  <!-- Start Header -->
  {% include 'widgets/header.html' %}
  <!-- End Header -->

  <div class="reset-password-content content">
    <div class="overlay">
      <div class="container py-xl-5 py-0">

        <!-- Display non-field errors at the top of the form -->
        {% if form.non_field_errors %}
        <div class="py-5 mt-5 mx-auto message-container px-3" style="top: -39px !important;">
          {% for error in form.non_field_errors %}
          <div class="alert {{ message.tags }} mb-0 alert-error" role="alert">
            {{ error }}
            <div class="loader"></div>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <div class="row row-cols-xl-2 row-cols-1 py-xl-5 py-0 mt-5">

          <div class="col left-side d-xl-block d-none">
            <div class="image d-flex justify-content-center align-items-center">
              <img src="{% static 'accounts/images/password-reset.png' %}" class="img-fluid" alt="Landing"
                style="height: 500px !important">
            </div>
            <div class="text mt-5">
              <h1>REACH YOUR RANK <span>GOALS</span></h1>
              <p>with <span>MadBoost.gg</span> your ally in the eSports arena.</p>
            </div>
          </div>
          <div class="col right-side">
            <div class="ps-xl-5 ps-0 mx-xl-4 mx-0">
              <div class="head">
                <h1>Password Reset</h1>
                <p class="mb-5 text-center">Enter your new passsword</p>
              </div>
              <form method="post">
                {% csrf_token %}
                <!-- Render the new_password1 field -->
                <div class="form-group {% if form.new_password1.errors %}has-error{% endif %} mb-4">
                  {{ form.new_password1 }}
                  <!-- Display help text for new_password1 -->
                  <small class="form-text" style="color: #FFFFFF80;">
                    {{ form.new_password1.help_text }}
                  </small>
                  <!-- Display error messages for new_password1 -->
                  {% for error in form.new_password1.errors %}
                  <div class="message error-message my-3 w-100">
                    {{ error }}
                  </div>
                  {% endfor %}
                </div>

                <!-- Render the new_password2 field -->
                <div class="form-group {% if form.new_password2.errors %}has-error{% endif %} mb-4">
                  {{ form.new_password2 }}
                  <!-- Display help text for new_password1 -->
                  <small class="form-text" style="color: #FFFFFF80;">
                    {{ form.new_password2.help_text }}
                  </small>
                  <!-- Display error messages for new_password2 -->
                  {% for error in form.new_password2.errors %}
                  <div class="message error-message my-3 w-100">
                    {{ error }}
                  </div>
                  {% endfor %}
                </div>
                <button type="submit" class="btn update-btn">Save</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="{% static  'jQuery/jquery-3.7.0.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.js'%}"></script>
  <script src="{% static  'base/js/base.js' %}"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>