{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'bootstrap/css/bootstrap.css'%}" rel="stylesheet" />
  <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
  <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'base/css/master.css'%}" />
  <link rel="stylesheet" href="{% static 'base/css/fields.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/framework.css' %}">
  <link id="favicon" rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <!-- Our Style -->
  <link rel="stylesheet" href="{% static 'accounts/css/account-actions.css' %}">
  <title>Reset Password</title>

</head>

<body>
  <!-- Start Header -->
  {% include 'widgets/header.html' %}
  <!-- End Header -->

  <div class="reset-password-content content">
    <div class="overlay">
      <div class="container py-xl-5 py-0">
        <div class="row row-cols-xl-2 row-cols-1 py-xl-5 py-0 mt-5">

          <div class="col left-side d-xl-block d-none">
            <div class="image d-flex justify-content-center align-items-center">
              <img src="{% static 'accounts/images/password-reset.png' %}" class="img-fluid" alt="Landing"
                style="height: 500px !important">
            </div>
            <div class="text mt-5">
              <h1>REACH YOUR RANK <span>GOALS</span></h1>
              <p>with <span>MadBoost.gg</span> your ally in the eSports arena.</p>
            </div>
          </div>
          <div class="col right-side">
            <div class="ps-xl-5 ps-0 mx-xl-4 mx-0">
              <div class="head">
                <h1>Password Reset</h1>
                <p class="mb-5 text-center">Enter your email</p>
                <p class="mb-4" style="color: #FFFFFF80;">We will send a password recovery code to your email.</p>
              </div>
              <form method="post">
                {% csrf_token %}
                <input type="email" id="email" name="email" class="form-control custom-input"
                  style="margin-bottom: 40px;" placeholder="Enter email" required>
                <button type="submit" class="btn update-btn">Send</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="{% static  'jQuery/jquery-3.7.0.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.js'%}"></script>
  <script src="{% static  'base/js/base.js' %}"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>